{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />

<div class="main">
<div class="main_title">{$main_title} <a href="{:u("WeiboClassify/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">分类名称:</td>
		<td class="item_input"><input type="text" class="textbox" name="title" value="{$classify.title}" /></td>
	</tr>
	<tr>
		<td class="item_title">分类简介:</td>
		<td class="item_input"><input type="text" class="textbox" name="brief" value="{$classify.brief}" /></td>
	</tr>
	<tr>
		<td class="item_title">权重:</td>
		<td class="item_input"><input type="text" class="textbox" name="weight" value="{$classify.weight}" /></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.SORT}:</td>
		<td class="item_input"><input type="text" class="textbox" name="sort" value="{$classify.sort}" /></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.IS_EFFECT}:</td>
		<td class="item_input">
			<lable>{$Think.lang.IS_EFFECT_1}<input type="radio" name="is_effect" value="1" <if condition="$classify['is_effect'] eq 1">checked="checked"</if> /></lable>
			<lable>{$Think.lang.IS_EFFECT_0}<input type="radio" name="is_effect" value="0" <if condition="$classify['is_effect'] eq 0">checked="checked"</if> /></lable>
		</td>
	</tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$classify.id}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="WeiboClassify" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.EDIT}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer_layui" />
<include file="Public:footer" />