{// 引入标签库 }
<tagLib name="html" />
<div class="main">
    <div class="main_title"></div>
    <div class="blank5"></div>
    <form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
        <table class="form" cellpadding=0 cellspacing=0>
            <tr>
                <td colspan=2 class="topTd"></td>
            </tr>
            <tr>
                <td class="item_title">主播id:</td>
                <td class="item_input"><input type="text" class="textbox require" name="user_id" />
                </td>
            </tr>
            <!--<tr>-->
                <!--<td class="item_title">日志文件路径:</td>-->
                <!--<td class="item_input">-->
                    <!--<h3><input type="text" class="textbox" name="log_path[]" /><a href="#" onclick="add_input(this)">新增</a></br></h3>-->
                    <!--<span class='tip_span'></span>-->
                <!--</td>-->
            <!--</tr>-->
            <tr>
                <td class="item_title">&nbsp;</td>
                <td class="item_input">
                    <!--隐藏元素-->
                    <input type="hidden" name="{:conf("VAR_MODULE")}" value="UserGeneral" />
                    <input type="hidden" name="{:conf("VAR_ACTION")}" value="push_extract_log" />
                    <!--隐藏元素-->
                    <input type="submit" class="button" value="推送" />
                    <input type="submit" class="button" name="is_download" value="下载"/>
                </td>
            </tr>
            <tr>
                <td colspan=2 class="bottomTd"></td>
            </tr>
        </table>
    </form>
</div>
<include file="Public:footer_layui" />
<load href='__TMPL__Common/js/jquery.weebox.js' />
<script type="text/javascript">
    function add_input(obj)
    {
        $($(obj).parents("td")[0]).append('<h3><input type="text" class="textbox" name="log_path[]" /><a href="#" onclick="del_input(this)">减少</a></br></h3>');

    }
    function del_input(obj)
    {
        $($(obj).parents("h3")[0]).remove()
    }

</script>
<include file="Public:footer" />
