{// 引入标签库 }
<tagLib name="html" />
<div class="main">
    <div class="main_title"></div>
    <div class="blank5"></div>
    <form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
        <table class="form" cellpadding=0 cellspacing=0>
            <tr>
                <td colspan=2 class="topTd"></td>
            </tr>
            <tr>
                <td class="item_title">用户id:</td>
                <td class="item_input"><input type="text" class="textbox require" name="user_id" />
                    <span class='tip_span'></span>
                </td>
            </tr>
            <tr>
                <td class="item_title">&nbsp;</td>
                <td class="item_input">
                    <!--隐藏元素-->
                    <input type="hidden" name="{:conf("VAR_MODULE")}" value="UserGeneral" />
                    <input type="hidden" name="{:conf("VAR_ACTION")}" value="update_wx_bind" />
                    <!--隐藏元素-->
                    <input type="submit" class="button" value="{$Think.lang.OK}" />
                    <input type="reset" class="button" value="{$Think.lang.RESET}" />
                </td>
            </tr>
            <tr>
                <td colspan=2 class="bottomTd"></td>
            </tr>
        </table>
    </form>
</div>
