{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<script type="text/javascript">
	//完全删除
	function prop_detail(id,create_ym)
	{
		if(!id)
		{
			idBox = $(".key:checked");
			if(idBox.length == 0)
			{
				alert(LANG['DELETE_EMPTY_WARNING']);
				return;
			}
			idArray = new Array();
			$.each( idBox, function(i, n){
				idArray.push($(n).val());
			});
			id = idArray.join(",");

		}

		if(!create_ym)
		{
			create_time_1=$("input[name='create_time_1']").val();
			var data = new Date(create_time_1);
			create_ym =(data.getFullYear() +""+ (data.getMonth()+1));
		}

		if(confirm(LANG['CONFIRM_DELETE']))
			$.ajax({
				url: ROOT+"?"+VAR_MODULE+"="+MODULE_NAME+"&"+VAR_ACTION+"=delete_prop&id="+id+"&create_ym="+create_ym,
				data: "ajax=1",
				dataType: "json",
				success: function(obj){
					$("#info").html(obj.info);
					if(obj.status==1){
						location.href=location.href;
					}
				}
			});
	}

</script>
<script type="text/javascript" src="__TMPL__Common/js/calendar/calendar.php?lang=zh-cn" ></script>
<load href='__TMPL__Common/js/calendar/calendar.css' />
<load href='__TMPL__Common/js/calendar/calendar.js' />
<div class="main">
	<div class="main_title">{$user_info.nick_name} {%USER_DISTRIBUTION_LOG}{$list[0].log_admin_id}</div>
	<div class="blank5"></div>
	<div class="blank5"></div>
	<div class="search_row">
		<form name="search" action="__APP__" method="get">
			子用户ID：<input type="text" class="textbox" name="from_user_id" value="{:trim($_REQUEST['from_user_id'])}" style="width:100px;" />
			子用户昵称：<input type="text" class="textbox" name="nick_name" value="{:trim($_REQUEST['nick_name'])}" style="width:100px;" />
			 时间 ：<input style="margin: 0;width:130px" type="text" class="textbox" size="8" name="start_time" id="start_time" value="{:trim($_REQUEST['start_time'])}" onfocus="return showCalendar('start_time', '%Y-%m-%d %H:%M:%S', false, false, 'start_time');" /> - <input type="text" style="width:130px" class="textbox" size="8" name="end_time" id="end_time" value="{:trim($_REQUEST['end_time'])}" onfocus="return showCalendar('end_time', '%Y-%m-%d %H:%M:%S', false, false, 'end_time');" />
			<input type="hidden" value="UserGeneral" name="m" /><input type="hidden" value="yd_distribution_log" name="a" /><input type="submit" class="button" value="{%SEARCH}" />
			<input type="hidden" value="<?php echo $_REQUEST['id'] ?>" name="id"/>
		</form>

	</div>
	<html:list
			id="dataTable"
			style="dataTable"
			name="prop"
			checkbox="true"
			datasource="list"
			show="id:编号|200px,from_user_id:子用户ID|200px,nick_name:子用户昵称|200px,create_time:奖励时间|200px,coin:奖励数量|100px,type:奖励类型|200px,msg:奖励描述|400px"
	/>

	<div class="blank5"></div>
	<div class="button_row">
		<!--<input type="button" class="button" value="{%FOREVERDEL}" onclick="prop_detail();" />-->
	</div>
	<div class="page">{$page}</div>
	<div align="center"><b style="font-size:20px;">邀请奖励积分：{$sum.invite_sum} &nbsp;支付奖励积分：{$sum.pay_sum} &nbsp;更新失败积分：{$sum.error_sum} </b></div>
</div>
<include file="Public:footer" />