{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
<div class="main_title">{$user.nick_name} 新增粉丝 <a href="{:u("UserRobot/fans_list",array("id"=>$user['id']))}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form conf_tab" cellpadding=0 cellspacing=0 >
    <tr>
        <td colspan=2 class="topTd"></td>
    </tr>
    <tr>
        <td class="item_title">{$Think.lang.NICK_NAME}:</td>
        <td class="item_input"><input type="text" class="textbox require" name="nick_name" /></td>
    </tr>
    <tr>
        <td colspan=2 class="bottomTd"></td>
    </tr>
</table>
<script>
    $(function(){


    });
</script>
<div class="blank5"></div>
<table class="form" cellpadding=0 cellspacing=0>
    <tr>
        <td colspan=2 class="topTd"></td>
    </tr>
    <tr>
        <td class="item_title"></td>
        <td class="item_input">
            <!--隐藏元素-->
            <input type="hidden" name="{:conf("VAR_MODULE")}" value="UserRobot" />
            <input type="hidden" name="{:conf("VAR_ACTION")}" value="insert_fans" />
            <input type="hidden" name="member_type" value="1" />
            <input type="hidden" name="is_robot" value="1" />
            <!--隐藏元素-->
            <input type="submit" class="button" value="{$Think.lang.ADD}" />
            <input type="reset" class="button" value="{$Think.lang.RESET}" />
        </td>
    </tr>
    <tr>
        <td colspan=2 class="bottomTd"></td>
    </tr>
</table>
</form>
</div>
<include file="Public:footer_layui" />
<script type="text/javascript" src="__ROOT__/public/region.js"></script>
<script type="text/javascript" src="__TMPL__Common/js/calendar/calendar.php?lang=zh-cn" ></script>
<load href='__TMPL__Common/js/calendar/calendar.css' />
<load href='__TMPL__Common/js/calendar/calendar.js' />
<load href='__TMPL__Common/js/user_edit.js' />
<include file="Public:footer" />