{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />

<div class="main">
<div class="main_title">{$Think.lang.ADD} <a href="{:u("Faq/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">分组:</td>
		<td class="item_input">
			<select name="group">
				<option value="">新建分组</option>
				<foreach name="group" item="g">
					<option value="{$g.group}">{$g.group}</option>
				</foreach>
			</select>
			<input type="text" class="textbox" name="define_group" value="" style="display:none;" />
		</td>
	</tr>
	<tr>
		<td class="item_title">问题:</td>
		<td class="item_input"><input type="text" class="textbox require" name="question" /></td>
	</tr>
	<tr>
		<td class="item_title">答案:</td>
		<td class="item_input"><textarea class="textarea require" name="answer"></textarea></td>
	</tr>

	<tr>
		<td class="item_title">{$Think.lang.SORT}:</td>
		<td class="item_input"><input type="text" class="textbox" name="sort" value="{$new_sort}" /></td>
	</tr>
	
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="Faq" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="insert" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.ADD}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer_layui" />
<load href='__TMPL__Common/js/faq.js' />
<include file="Public:footer" />