{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
<div class="main_title">{$Think.lang.EDIT} <a href="{:u("VipRule/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
    <tr>
        <td class="item_title">名称:</td>
        <td class="item_input"><input type="text" class="textbox require" name="name" value="{$vo.name}"/></td>
    </tr>
    <tr>
        <td class="item_title">天数:</td>
        <td class="item_input"><input type="text" class="textbox require" name="day_num" value="{$vo.day_num}"/></td>
    </tr>
    <tr>
        <td class="item_title">价格:</td>
        <td class="item_input"><input type="text" class="textbox require" name="money" value="{$vo.money}"/></td>
    </tr>
	<tr>
        <td class="item_title">苹果支付价格:</td>
        <td class="item_input"><input type="text" class="textbox require" name="iap_money" value="{$vo.iap_money}"/></td>
    </tr>
    <tr>
        <td class="item_title">苹果应用内支付项目ID:</td>
        <td class="item_input"><input type="text" class="textbox require" name="product_id" value="{$vo.product_id}"/></td>
    </tr>
    <tr>
        <td class="item_title">{$Think.lang.IS_EFFECT}:</td>
        <td class="item_input">
            <label>{$Think.lang.IS_EFFECT_1}<input type="radio" name="is_effect" value="1" <if condition="$vo['is_effect'] eq 1">checked="checked"</if>  /></label>
            <label>{$Think.lang.IS_EFFECT_0}<input type="radio" name="is_effect" value="0" <if condition="$vo['is_effect'] eq 0">checked="checked"</if> /></label>
        </td>
    </tr>
	<tr>
        <td class="item_title">排序:</td>
        <td class="item_input"><input type="text" class="textbox" name="sort" value="{$vo.sort}"/></td>
    </tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="VipRule" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
			<input type="hidden" name="id" value="{$vo.id}" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.EDIT}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer_layui" />
<include file="Public:footer" />