{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
<div class="main_title">{$Think.lang.CHANGE_PASSWORD}</div>
<div class="blank5"></div>
	<div class="change_password">
		<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
		<table class="form" cellpadding=0 cellspacing=0>
			<tr>
				<td colspan=2 class="topTd"></td>
			</tr>
			<tr>
				<td class="item_title">{$Think.lang.ADM_NAME}:</td>
				<td class="item_input">{$adm_data.adm_name}</td>
			</tr>
			<tr>
			<td class="item_title">{$Think.lang.ADM_PASSWORD}:</td>
			<td class="item_input"><input type="password" class="textbox require" name="adm_password" /></td>
			</tr>
			<tr>
			<td class="item_title">{$Think.lang.ADM_NEW_PASSWORD}:</td>
			<td class="item_input"><input type="password" class="textbox require" name="adm_new_password" /></td>
			</tr>
			<tr>
			<td class="item_title">{$Think.lang.ADM_CONFIRM_PASSWORD}:</td>
			<td class="item_input"><input type="password" class="textbox require" name="adm_confirm_password" /></td>
			</tr>
			<tr>
				<td class="item_title"></td>
				<td class="item_input">
					<!--隐藏元素-->
					<input type="hidden" name="adm_id" value="{$adm_data.adm_id}" />
					<input type="hidden" name="{:conf("VAR_MODULE")}" value="Index" />
					<input type="hidden" name="{:conf("VAR_ACTION")}" value="do_change_password" />
					<!--隐藏元素-->
					<input type="submit" class="button" value="{$Think.lang.CHANGE}" />
					<input type="reset" class="button" value="{$Think.lang.RESET}" />
				</td>
			</tr>
			<tr>
				<td colspan=2 class="bottomTd"></td>
			</tr>
		</table>	 
		</form>
	</div>
</div>
<include file="Public:footer" />