<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{$site_name}-后台管理</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" href="__TMPL__Common/layui/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="__TMPL__Common/layui/css/index.css" media="all" />
	<load href='__TMPL__Common/style/index.css' />
	<script type="text/javascript">
		var ACTION_ID ='<?php echo $action_id ?>';
		var VAR_MODULE = "{:conf("VAR_MODULE")}";
		var VAR_ACTION = "{:conf("VAR_ACTION")}";
		var MODULE_NAME	=	'<php>echo MODULE_NAME;</php>';
		var ACTION_NAME	=	'<php>echo ACTION_NAME;</php>';
		var ROOT = '__APP__';
		var ROOT_PATH = '<PHP>echo APP_ROOT;</PHP>';
		var CURRENT_URL = '{:trim($_SERVER['REQUEST_URI'])}';
		var INPUT_KEY_PLEASE = "{%INPUT_KEY_PLEASE}";
		var TMPL = '__TMPL__';
		var APP_ROOT = '<PHP>echo APP_ROOT;</PHP>';
		var AU = '{$admin.adm_id}';
	</script>
</head>
<body class="main_body">
<div class="layui-layout layui-layout-admin">
	<!-- 顶部 -->
	<div class="layui-header header">
		<div class="layui-main mag0">
			<a href="#" class="logo">{$site_name}</a>
			<!-- 显示/隐藏菜单 -->
			<a href="javascript:;" class="seraph hideMenu icon-caidan"></a>
			<!-- 顶级菜单mobile -->
			<ul class="layui-nav mobileTopLevelMenus" mobile>
				<li class="layui-nav-item" data-menu="index">
					<a href="javascript:;"><i class="seraph icon-caidan"></i><cite>顶部菜单</cite></a>
					<dl class="layui-nav-child">
						<foreach name="navs" item="nav">
							<dd  data-menu="{$nav.key}"  <if condition="$key eq '0'">class="layui-this"</if> >
								<a href="javascript:;">
									<!--<i class="layui-icon" data-icon="&#xe63c;">&#xe63c;</i>-->
									<cite>{$nav.name}</cite>
								</a>
							</dd>
						</foreach>
					</dl>
				</li>
			</ul>
			<!-- 顶级菜单pc -->
			<!--<ul class="layui-nav topLevelMenus" pc>-->
				<!--<foreach name="navs" item="nav" key="key">-->
					<!--<li <if condition="$key eq 'index'">class="layui-nav-item  layui-this"<else />class="layui-nav-item"</if>  data-menu="{$nav.key}">-->
						<!--<a href="javascript:;"><cite>{$nav.name}</cite></a>-->
					<!--</li>-->
				<!--</foreach>-->
			<!--</ul>-->
			<div class="layui-nav topLevelMenus" pc>
				<ul class="navs-default">
					<foreach name="navs" item="nav" key="key">
						<li <if condition="$key eq '0'">class="layui-nav-item  layui-this"<else />class="layui-nav-item"</if>  data-menu="{$nav.key}">
						<a href="javascript:;"><cite>{$nav.name}</cite></a>
						</li>
					</foreach>
				</ul>
				<div class="navs-more">
					<ul class="navs-front">
						<foreach name="navs_front" item="nav" key="key">
							<li <if condition="$key eq '0'">class="layui-nav-item  layui-this"<else />class="layui-nav-item"</if>  data-menu="{$nav.key}">
								<a href="javascript:;"><cite>{$nav.name}</cite></a>
							</li>
						</foreach>
					</ul>
					<div class="navs-rear" >
						<div class="layui-nav-item">
							<a href="javascript:;"><i class="seraph icon-caidan"></i><cite>更多</cite></a>
							<ul class="layui-nav-child">
								<foreach name="navs_rear" item="nav">
									<li  data-menu="{$nav.key}"  >
										<a href="javascript:;"><cite>{$nav.name}</cite></a>
									</li>
								</foreach>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- 顶部右侧菜单 -->
			<ul class="layui-nav top_menu">
				<!--<li class="layui-nav-item" pc>-->
					<!--<a href="javascript:;" class="clearCache"><i class="layui-icon" data-icon="&#xe640;">&#xe640;</i><cite>清除缓存</cite><span class="layui-badge-dot"></span></a>-->
				<!--</li>-->
				<!--<li class="layui-nav-item lockcms" pc>-->
					<!--<a href="javascript:;"><i class="seraph icon-lock"></i><cite>锁屏</cite></a>-->
				<!--</li>-->
				<li class="layui-nav-item" id="userInfo">
					<a href="javascript:;"><img src="{$app_logo}" class="layui-nav-img userAvatar" width="35" height="35"><cite class="adminName">{$admin.adm_name}</cite></a>
					<dl class="layui-nav-child">
						<dd><a href="javascript:;" data-url="{:U('Index/change_password')}"><i class="seraph icon-xiugai" data-icon="icon-xiugai"></i><cite>修改密码</cite></a></dd>
						<dd><a href="javascript:;" data-url="{:U('Cache/index')}"><i class="layui-icon" data-icon="&#xe640;">&#xe640;</i><cite>清除缓存</cite></a></dd>
						<dd pc><a href="javascript:;" class="functionSetting"><i class="layui-icon">&#xe620;</i><cite>功能设定</cite><span class="layui-badge-dot"></span></a></dd>
						<dd pc><a href="javascript:;" class="changeSkin"><i class="layui-icon">&#xe61b;</i><cite>更换皮肤</cite></a></dd>
						<dd><a href="{:U('Public/do_loginout')}" class="signOut"><i class="seraph icon-tuichu"></i><cite>退出</cite></a></dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
	<!-- 左侧导航 -->
	<div class="layui-side layui-bg-black">
		<div class="user-photo">
			<a class="img" title="我的头像" ><img src="{$app_logo}" class="userAvatar"></a>
			<p>你好！<span class="userName">{$admin.adm_name}</span>, 欢迎登录</p>
		</div>

		<div class="navBar layui-side-scroll" id="navBar">
			<ul class="layui-nav layui-nav-tree">
				<li class="layui-nav-item layui-this">
					<a href="javascript:;" data-url="{:U('Index/main')}"><i class="layui-icon" data-icon=""></i><cite>后台首页</cite></a>
				</li>
			</ul>
		</div>
	</div>
	<!-- 右侧内容 -->
	<div class="layui-body layui-form">
		<div class="layui-tab mag0" lay-filter="bodyTab" id="top_tabs_box">
			<ul class="layui-tab-title top_tab" id="top_tabs">
				<li class="layui-this" lay-id=""><i class="layui-icon">&#xe68e;</i> <cite>后台首页</cite></li>
			</ul>
			<ul class="layui-nav closeBox">
				<li class="layui-nav-item">
					<a href="javascript:;"><i class="layui-icon caozuo">&#xe643;</i> 页面操作</a>
					<dl class="layui-nav-child">
						<dd><a href="javascript:;" class="refresh refreshThis"><i class="layui-icon">&#x1002;</i> 刷新当前</a></dd>
						<dd><a href="javascript:;" class="closePageOther"><i class="seraph icon-prohibit"></i> 关闭其他</a></dd>
						<dd><a href="javascript:;" class="closePageAll"><i class="seraph icon-guanbi"></i> 关闭全部</a></dd>
					</dl>
				</li>
			</ul>
			<div class="layui-tab-content clildFrame">
				<div class="layui-tab-item layui-show">
					<iframe src="{:U('Index/main')}"></iframe>
				</div>
			</div>
		</div>
	</div>
	<!-- 底部 -->
	<!--<div class="layui-footer footer">-->
		<!--<p><span>copyright @2018 驊驊龔頾</span></p>-->
	<!--</div>-->
</div>

<!-- 移动导航 -->
<div class="site-tree-mobile"><i class="layui-icon">&#xe602;</i></div>
<div class="site-mobile-shade"></div>
<script type="text/javascript" src="__TMPL__Common/layui/layui/layui.js"></script>
<script type="text/javascript" src="__TMPL__Common/layui/js/index.js"></script>
<script type="text/javascript" src="__TMPL__Common/layui/js/cache.js"></script>
</body>
</html>