@import (once) "public/variable.less";
.page_virtual_order_details {
    .content {
        .content-pay {
            .pay-money {
                text-align: center;
                background: #fff;
                color: @fontcolor;
                font-size: 0.6rem;
                padding: 1.7rem 0;
                line-height: 1.7rem;
                .money-val{
                    color: @fontcolortheme;
                    font-size: 2rem;
                    font-weight: bold;
                }
            }
            .pay-method {
                padding: 0rem 0rem;
                font-size: .6rem;
                margin: 0.5rem 0 0 0 ;
                background: #fff;

                .radio_box {
                    position: relative;
                    line-height: 1.25rem;
                    padding:0.6rem 0.75rem 0.15rem 0.75rem;
                    display: flex;
                    border-bottom: 0.05rem solid @borderdeepcolor;

                    &:last-child{
                        border:none;
                    }
                    input[type="radio"] {
                        position: absolute;
                        left: 0;
                        top: 0.14rem;
                        width: 0.8rem;
                        height: 0.8rem;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        z-index: 2;
                    }

                    .radio_check_style {
                        position: absolute;
                        right: 0.75rem;
                        top: 0.5rem;
                        width: 0.95rem;
                        height: 0.95rem;
                        cursor: pointer;
                        z-index: 1;
                    }

                    .radio_check_style i{
                        display: none;
                    }

                    /*设置选中的input的样式*/
                    /* + 是兄弟选择器,获取选中后的label元素*/
                    input:checked+label {
                        background: -webkit-linear-gradient(left,#865efb,#b83af3);
                        background: -o-linear-gradient(right,#865efb,#b83af3);
                        background: -moz-linear-gradient(right,#865efb,#b83af3);
                        background: linear-gradient(to right,#865efb,#b83af3);
                        border-color: transparent;
                        -webkit-background-clip: text;
                        -o-background-clip: text;
                        -moz-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    input:checked+label i{
                        display: inline;
                        font-size: 0.95rem;
                    }

                    .radio_title{
                        font-size: 0.75rem;
                    }
                    .radio_img{
                        padding-right: 0.5rem;
                        img{
                            width: 1.25rem;
                            height: 1.25rem;
                        }
                    }
                }
            }


        }
    }
}
