@import (once) "public/variable.less";
.page-shop-goods_details{
	.content{
		bottom: 2.25rem;
	}
	.goods-img{
		width: 100%;
		height: 96vw;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.content-block{
		margin: 0;
		padding: 0;
		.card{
			margin: 0 0 0.3rem;
			color: @fontcolor;
			.card-content-inner{
				padding: 0 0.5rem;
			}
			.card-footer{
				min-height: 0;
				padding: 0 0.5rem;
				font-size: 0.6rem;
				color: @fontcolor;
				.goods-money{
					color: #fb0000;
					font-weight: bold;
					font-size: 0.7rem;
					i{
						font-size: 0.8rem;
						line-height: 0.9rem;
					}
				}
			}
			.card-header{
				font-size: 0.6rem;
			}
		}
		.goods-info{
			padding: 0.25rem 0;
		}
		.store{
			margin: 0;
			margin-bottom: 0.25rem;
			.item-inner{
				justify-content:initial;
				font-size: 0.6rem;
				.store-logo{
					width: 2.3rem;
					height: 2.3rem;
					overflow: hidden;
					border-radius: 50px;
					margin-right: 0.5rem;
					img{
						width: 100%;
						height: 100%;
					}
				}
				.store-info{
					line-height: 1.15rem;
				}
			}
		}
		.facebook-card{
			.card-header{
				color: #fb0000;
				font-size: 0.7rem;
			}
			.good-description{
				padding: 0rem 0.75rem 0.5rem 0.75rem ;
				line-height:1rem;
				font-size: 0.6rem;
			}
		}
	}
	nav{
		height: 2.25rem;
		a.button{
			height: 100%;
			border: 0;
			line-height: 2.25rem;
			color: #fff;
			top: 0;
			border-radius: 0;
			background: @themecolor;
		}
	}

	.good-name{

	}
}