@import (once) "public/variable.less";
.page-shop-distribution_goods_list {
    .searchbar{
        position: absolute;
        width: 100%;
        padding: 0.5rem;
        left: 0;
        right: 0;
        margin: 0;
        z-index: 999;
        .search-input{
            margin: 0;
        }
    }
    .shop-nav {
        background: #fff;
        height: 2.2rem;
        line-height:  2.2rem;
        display: box;
        display: -webkit-box;
        display: -moz-box;
        box-orient: horizontal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        top: 2.55rem;
        border-bottom: 2px solid #fff;
        padding:0;
        select {
            padding:0 1.35rem;
            -webkit-appearance: none;
            width: 100%;
            text-align: center;
            border: 0;
            font-size: .7rem;
            background: 0 0;
            border-top:1px solid @borderdeepcolor;
            color:@fontcolor;
            font-weight: 600;
        }
        a {
             box-flex: 1;
             -webkit-box-flex: 1;
             -moz-box-flex: 1;
             display: block;
             text-align: center;
             font-size: 0.7rem;
             color: #999;
             font-weight: 600;
             .iconfont {
                 font-size: 0.6rem;
                 margin-left: 0.25rem;
             }
             &.active {
                 color: @fontcolor;
             }
         }
        .nav-item {
            border-top:1px solid @borderdeepcolor;
            position:relative;
            display: block;
            .button_bottom{
                position:absolute;
                bottom: 0px;
                left: 0px;
                text-align: center;
                width: 100%;
                height: 0.19rem;
                line-height: 0.19rem;
                display: inline-block;
            }
            &.active {
                .button_bottom {
                    span{
                        background: -webkit-linear-gradient(left, #865efb , #b83af3);
                        background: -o-linear-gradient(right, #865efb , #b83af3);
                        background: -moz-linear-gradient(right, #865efb , #b83af3);
                        background: linear-gradient(to right, #865efb , #b83af3);
                        border-color: transparent;
                        border-radius: 1rem;
                        width: 1rem;
                        height: 0.19rem;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .bar-nav ~ .content{
        top: 2.4rem;
    }
    .bar{
        &:after{
            background-color: #fff;
        }
    }
    .buttons-tab{
        &:after{
            background-color: #fff;
        }
    }
    .shop-list {
        margin: 0.6rem 0;
        //background: #fff;
        //padding: 0 0.5rem;
        .shop-item {
            margin: .5rem 0;
            background: #fff;
            .item-content {
                display: -webkit-box;
                padding: 0.75rem;
                border-bottom: 1px solid @borderdeepcolor;
                overflow: hidden;
                color: #999;
            }
            .item-image {
                width: 3.4rem;
                height: 3.4rem;
                margin-right: 0.5rem;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 0.5rem;
                }
            }
            .item-info {
                font-size: 0.6rem;
                -webkit-box-flex: 1;
                p {
                    line-height: 1.2;
                    margin-top: .25rem;
                    color:@fontcolorinfo;
                }
                .item-info-title {
                    font-size: .75rem;
                    font-weight: 500;
                    color: @fontcolor;
                    height: 1.8rem;
                    padding-bottom: 0.15rem;
                }
                .item-info-price {
                    display: flex;
                    -webkit-box-pack: justify;
                    -webkit-justify-content: space-between;
                    justify-content: space-between;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    color: @fontcolorinfo;
                    .s-r {
                        font-size: 0.6rem;
                        color: @fontcolortheme;
                    }
                }
                .item-info-btn {
                    color: @fontcolortheme;
                    display: flex;
                    -webkit-box-pack: justify;
                    -webkit-justify-content: space-between;
                    justify-content: space-between;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    .s-l {
                        margin-top: -0.5rem;
                    }
                    .button {
                        display: inline-block;
                        font-size: 0.65rem;
                    }
                }
            }
            .item-footer {
                height: 1.9rem;
                line-height: 1.9rem;
                padding: 0 .75rem;
                display: flex;
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                -webkit-box-align: center;
                -webkit-align-items: center;
                align-items: center;
                .item-f-con{
                    color: #999;
                    span {
                        font-size: .6rem;
                    }
                }
                .item-f-but{
                    display: inline-block;
                    width: 4.5rem;
                }
            }
            &:last-child {
                border-bottom: 0;
            }
        }
    }

}
