@import (once) "public/variable.less";
.page-shop-shop_goods_details{
	.content{
		bottom: 2.25rem;
	}
	.goods-img{
		width: 100%;
		height: 96vw;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.content-block{
		margin: 0;
		padding: 0;
		.card{
			margin: 0 0 0.3rem;
			color: @fontcolor;
			.card-content-inner{
				padding: 0 0.5rem;
				font-size: 0.7rem;
			}
			.card-footer{
				min-height: 0;
				padding: 0 0.5rem;
				font-size: 0.6rem;
				color:#666;
				.goods-money{
					color: #fb0000;
					font-weight: bold;
					font-size: 0.7rem;
					i{
						font-size: 0.8rem;
						line-height: 0.9rem;
					}
				}
			}
			.card-header{
				font-size: 0.6rem;
				&:after{
					height: 0px;
				}
			}
		}
		.goods-info{
			padding: 0.25rem 0;
		}
		.store{
			margin: 0;
			margin-bottom: 0.25rem;
			.item-inner{
				justify-content:initial;
				font-size: 0.6rem;
				.store-logo{
					width: 2.3rem;
					height: 2.3rem;
					overflow: hidden;
					border-radius: 50px;
					margin-right: 0.5rem;
					img{
						width: 100%;
						height: 100%;
					}
				}
				.store-info{
					line-height: 1.15rem;
				}
			}
		}
		.facebook-card{
			.card-header{
				color: #ff0000;
				font-size: 0.7rem;
			}
			.good-description{
				padding: 0rem 0.75rem 0.5rem 0.75rem ;
				line-height:1rem;
				font-size: 0.6rem;
			}
		}
	}
	nav{
		display: flex;
		display: -webkit-flex;
		height: 2.55rem;
		div{
			//width: 50%;
			a.button{
				height: 100%;
				border: 0;
				line-height: 2.55rem;
				top: 0;
				border-radius: 0;
			}
		}
		.left{
			a{
				background: #fff;
				width: 6.25rem;
				color: @fontcolor;
				.gradient-text-one{
					background: -webkit-linear-gradient(left,#865efb ,#b83af3);
					background: -o-linear-gradient(right,#865efb ,#b83af3);
					background: -moz-linear-gradient(right,#865efb ,#b83af3);
					background: linear-gradient(to right,#865efb ,#b83af3);
					border-color: transparent;
					-webkit-background-clip:text;
					-o-background-clip:text;
					-moz-background-clip:text;
					background-clip:text;
					-webkit-text-fill-color:transparent;
					position: absolute;
					left:2.75rem;
					top:-0.3rem;
					font-size: 1rem;
					/*height: 0.75rem;*/
					display: block;
					z-index: 2;
				}
				span{
					font-size: 0.55rem;
					position: absolute;
					left:2.6rem;
					top:0.6rem;
					height: 0.55rem;
					z-index: 1;
				}
			}
		}
		.right{
			a{
				background: -webkit-linear-gradient(left,#865efb ,#b83af3);
				background: -o-linear-gradient(right,#865efb ,#b83af3);
				background: -moz-linear-gradient(right,#865efb ,#b83af3);
				background: linear-gradient(to right,#865efb ,#b83af3);
				border-color: transparent;
				width: 12.55rem;
				color: #fff;
			}
		}
	}
}