@import (once) "public/variable.less";
.page-shop-shop_order{
	.content{
		.content-block{
			padding: 0;
			margin: 0;
			margin-top: 0.0rem;
			color:@fontcolor;
			.goods-list{
				margin-top: 0.5rem;
			}
		}
	}
	.buttons-tab{
		.button {
			top: 0;
			border-top: 1px solid @borderdeepcolor;
			position: relative;
			display: inline-block;
			font-size: 0.7rem;
			color:#999;
		}
		&:after{
			background-color: #fff;
		}
		.button_bottom{
			position:absolute;
			bottom: 0px;
			left: 0px;
			text-align: center;
			width: 100%;
			height: 0.19rem;
			line-height: 0.19rem;
			display: inline-block;
		}
		.button.active{
			font-weight:bold;
			color:@fontcolor;
		}
		.active .button_bottom span{
			background: -webkit-linear-gradient(left, #865efb , #b83af3);
			background: -o-linear-gradient(right, #865efb , #b83af3);
			background: -moz-linear-gradient(right, #865efb , #b83af3);
			background: linear-gradient(to right, #865efb , #b83af3);
			border-color: transparent;
			border-radius: 1rem;
			width: 1rem;
			height: 0.19rem;
			display: inline-block;
		}
	}
	.card{
		margin: 0;
		margin-bottom: 0.5rem;
		&:last-child{
			margin-bottom: 0;
		}
		.card-header{
			font-size: 0.7rem;
			padding: 0rem  0.75rem;
			min-height:2.05rem;
			.goods-type{
				color: @themecolor;
			}
		}
		.card-footer{
			font-size: 0.7rem;
			padding: 0rem  0.75rem;
			min-height:2.05rem;
			.goods-money {
				font-size: .7rem;
				color: @themecolor;
			}
			a{
				background: -webkit-linear-gradient(left,#865efb,#b83af3);
				background: -o-linear-gradient(right,#865efb,#b83af3);
				background: -moz-linear-gradient(right,#865efb,#b83af3);
				background: linear-gradient(to right,#865efb,#b83af3);
				border-color: transparent;
				border-radius: 2rem;
				color: #fff;
				line-height: 1.2rem;
				padding: .25rem .5rem;
				font-size: 0.6rem;
			}
			a.delete{
				background:#dae1fe;
				color: #323433;
			}
		}
		.card-content{
			.card-content-inner{
				padding: .6rem;
				background: #fff;
				display: flex;
				display: -webkit-flex;
				margin-bottom: .5rem;
				&:last-child{
					margin-bottom:0;
				}
				.goods-img{
					display: flex;
					display: -webkit-flex;
					margin-right: .5rem;
					width: 3.4rem;
					height: 3.4rem;
					-webkit-flex-shrink: 0;
					flex-shrink: 0;
					position: relative;
					img{
						width: 100%;
						height: 100%;
						border-radius: .5rem;
					}
					span{
						position: absolute;
						bottom: -0.3rem;
						right: -0.3rem;
						width: 0.7rem;
						height: 0.7rem;
						background: #ff0000;
						border-radius: 50px;
						font-size: 0.5rem;
						color: #fff;
						text-align: center;
						display: -webkit-flex;
						display: flex;
    					-webkit-align-items: center;
    					align-items: center;
					    -webkit-justify-content: center;
					    justify-content: center;
					}
				}
				.card{
					//background: #f5f5f5;
					flex:1;
					-webkit-flex:1;
					.card-content-inner{
						padding: 0;
						margin: 0;
						line-height: 0.8rem;
						word-wrap:break-word;
						word-break:break-all;
						font-size: #666;
						.inner-text{
							min-height: .95rem;
						}
						p{
							margin-bottom: 0.35rem;

						}
						.inner-type{
							color: #a5a5a5;
						}
					}
					.card-footer{
						padding: 0;
						min-height: 0;
						line-height: 0.8rem;
						position: absolute;
					    width: 100%;
					    bottom: 0;
						i{
						    vertical-align: top;
						    line-height: 0.9rem;
						}
					}
				}
			}
			
		}
		.card-footer{
			
			.goods-all-money{
				text-align: right;
				width: 100%;
				a{
					padding: 0 0.25rem;
					line-height: 1.2rem;
					padding: 0.25rem 0.5rem;
					border: 1px solid #ff9478;
					border-radius: 0.2rem;
					color: #ff9478;
				}
			}
		}
	}
	.goods-money{
		font-size: 0.7rem;
		i{
			font-size: 0.8rem;
			color: #ff0000;
		}
	}
	nav{
		display: flex;
		display: -webkit-flex;
		height: 2.25rem;
		background: #fff;
		font-size: 0.7rem;
		.all-goods-money{
			width: 11.7rem;
			text-align: right;
			padding-right: 0.75rem;
			line-height: 2.25rem;
			.goods-money{
				i{
					line-height: 2.25rem;
					font-size: 0.8rem;
				}
			}
		}
		.m-button{
			flex:1;
			-webkit-flex:1;
			a{
				height: 100%;
				border: 0;
				line-height: 2.25rem;
				color: #fff;
				top: 0;
				border-radius: 0;
				background: #ff9900;
			}
		}
	}
}