@import (once) "public/variable.less";
.page-shop-order_settlement_user{
	.content{
		bottom: 2.25rem;
	}
	.list-block{
		margin-top: 0rem;
		.item-content{
			padding-left: 1rem;
		}
		.m-order-info{
			background: #fff;
		}
		&.order-info-title{
			margin: 0.6rem 0 0 0;
		}
		ul{
			&:before{
				height: 0;
			}
		}
	}
	.card{
		margin: 0;
		margin-bottom: 0.25rem;
		&:last-child{
			margin-bottom: 0;
		}
		.card-content{
			.card-content-inner{
				padding: 0.5rem 0.5rem 0.5rem 0.75rem;
				background: #fff;
				display: flex;
				display: -webkit-flex;
				margin-bottom: 0.5rem;
				&:last-child{
					margin-bottom:0;
				}
				.goods-img{
					display: flex;
					display: -webkit-flex;
					margin-right: 0.25rem;
					width: 3.4rem;
    				height: 3.4rem;
					img{
						width: 100%;
						height: 100%;
						border-radius: .5rem;
					}
				}
				.card{
					background: #fff;
					flex:1;
					-webkit-flex:1;
					.card-content-inner{
						padding: 0;
						margin: 0;
						line-height: 0.8rem;
						word-wrap:break-word;
						word-break:break-all;
						.inner-text{
							min-height: 0.8rem;
						}
						p{
							margin-bottom: 0.35rem;
						}
					}
					.card-footer{
						padding: 0;
						min-height: 0;
						line-height: 0.8rem;
						position: absolute;
					    width: 100%;
					    bottom: 0;
						i{
						    vertical-align: top;
						    line-height: 0.9rem;
						}
					}
				}
			}
			.user-info ul li:after{
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				right: auto;
				top: auto;
				height: 1px;
				width: 100%;
				background-color: @borderdeepcolor;
				display: block;
				z-index: 15;
				-webkit-transform-origin: 50% 100%;
				transform-origin: 50% 100%;
			}
		}
		.card-footer{
			color:@fontcolor;
			.footer-input{
				-webkit-flex:1;
				flex:1;
				width: 100%;
				border: 0;
				line-height: 0.7rem;
				color:@fontcolorinfo;
			}
			.goods-all-money{
				text-align: right;
				width: 100%;
			}
		}
	}
	.goods-money{
		color: @fontcolortheme;
		font-weight: bold;
		font-size: 0.7rem;
		i{
			font-size: 0.8rem;
		}
	}
	nav{
		display: flex;
		display: -webkit-flex;
		height: 2.25rem;
		background: #fff;
		font-size: 0.7rem;
		.all-goods-money{
			width: 11.7rem;
			text-align: right;
			padding-right: 0.75rem;
			line-height: 2.25rem;
			.goods-money{
				i{
					line-height: 2.25rem;
					font-size: 0.8rem;
				}
			}
		}
		.m-button{
			flex:1;
			-webkit-flex:1;
			a{
				height: 100%;
				border: 0;
				line-height: 2.25rem;
				color: #fff;
				top: 0;
				border-radius: 0;
				background: @fontcolortheme;
			}
		}
	}

	.selected-box{
		.purchase-type-1{
			padding:0.75rem 0;
			width: 80%;
		}
		.to-address{
			width: 20%;
			height: 2rem;
		}
		.purchase-type-1 p{
			padding: 0.15rem 0;
		}
		.purchase-type-1 p.address-info{
			padding-left:1.5rem;
		}
		.item-inner{
			padding:0 0.75rem;
			min-height:2.5rem;
		}
		.adress-mobile{
			padding-left:1rem;
		}
		.address-info{
			padding-left:1rem;
			font-size: 0.6rem;
		}

		.list-block .item-inner:after{
			background-color:@borderdeepcolor;
		}

		.no-adress{
			text-align: center;
			padding: 2rem 0;
			font-weight: bold;
			border-bottom: 1px solid @borderdeepcolor;
			a{
				color: @fontcolortheme;
			}
		}
	}

	.radio_box {
		position: relative;
		input[type="radio"] {
			position: absolute;
			left: 0;
			top: 0.14rem;
			width: 0.8rem;
			height: 0.8rem;
			opacity: 0;
			z-index: 2;
		}

		label {
			position: absolute;
			left: 0;
			top: 0.14rem;
			width: 0.8rem;
			height: 0.8rem;
			border-radius: 50%;
			border: 1px solid #999;
			cursor: pointer;
			z-index: 1;
		}

		/*设置选中的input的样式*/
		/* + 是兄弟选择器,获取选中后的label元素*/
		input:checked+label {
			border: 1px solid #865efb;
			background: -webkit-linear-gradient(left,#865efb,#b83af3);
			background: -o-linear-gradient(right,#865efb,#b83af3);
			background: -moz-linear-gradient(right,#865efb,#b83af3);
			background: linear-gradient(to right,#865efb,#b83af3);
			border-color: transparent;
		}
		/*添加的加号与label进行拼接(一个矩形边框去掉上和左的边框),再旋转45度*/
		input:checked+label::after {
			position: absolute;
			content: "";
			width: 0.2rem;
			height: 0.35rem;
			top: 0.05rem;
			left: 0.2rem;
			border: 0.11rem solid #fff;
			border-top: none;
			border-left: none;
			transform: rotate(45deg);
		}
		.radio_title{
			padding-left:1.5rem;
			font-weight: bold;
		}
	}
}