@import (once) "public/variable.less";
.page-shop-virtual_shop_order_details {
    .bar-tab{
        z-index: 20;
    }
    .content {
        bottom: 2.5rem;
        .content-block {
            margin: 0;
            margin-bottom: 0.5rem;
            padding: 0;
            color: @fontcolor;
            .status_info {
                background: #fff;
                padding: 1.5rem .5rem;
                color: @fontcolortheme;
                .status {
                    word-wrap: break-word;
                    word-break: break-all;
                    display: inline-block;
                }
            }
            .addressed {
                display: flex;
                display: -webkit-flex;
                background: #fff;
                border: none;
                padding: 0.8rem .75rem .5rem;
                font-size: .6rem;
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                -webkit-box-align: center;
                -webkit-align-items: center;
                align-items: center;
                border-top: 1px solid @borderdeepcolor;
                .address-info {
                    font-size: .75rem;
                    font-weight: bold;
                    flex: 1;
                    -webkit-flex: 1;
                    p.user-info {
                        font-size: .75rem;
                        font-weight: bold;
                        .iconfont{
                            padding-right: 0.2rem;
                            color:#ccc;
                            font-size: 0.75rem;
                        }
                        .adress-mobile {
                            padding-left: 1rem;
                        }
                    }
                    p {
                        word-wrap: break-word;
                        word-break: break-all;
                    }
                    .adress-var{
                        padding: 0.3rem 0.5rem 0 1.2rem;
                        font-size: 0.6rem;
                    }
                }
                .send-anchor {
                    display: -webkit-flex;
                    display: flex;
                    flex: 1;
                    -webkit-flex: 1;
                    justify-content: left;
                    align-items: center;
                    margin-right: .5rem;
                    margin-top:-0.2rem ;
                    line-height: 1.2rem;
                    p{
                        font-size: .75rem;
                        font-weight: bold;
                    }
                    .iconfont{
                        color: #ccc;
                        padding-right: 0.5rem;
                    }
                    &+.status_info{
                        padding: 0rem .5rem;
                        margin-top:-0.2rem ;
                        line-height: 1.2rem;
                    }
                }
            }
            .card {
                margin: 0;
                margin-bottom: 0.25rem;
                .card-header, .card-footer{
                    min-height: 2.05rem;
                }
                .card-footer:before{
                    background-color: @borderdeepcolor;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                .card-content {
                    .card-content-inner {
                        padding: .5rem .5rem .5rem 0.75rem;
                        display: flex;
                        display: -webkit-flex;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        .goods-img {
                            display: flex;
                            display: -webkit-flex;
                            margin-right: .25rem;
                            width: 3.4rem;
                            height: 3.4rem;
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: .5rem;
                            }
                        }
                        .card {
                            flex: 1;
                            -webkit-flex: 1;
                            padding: 0rem;
                            position: relative;
                            .card-content-inner {
                                padding: 0;
                                margin: 0;
                                line-height: 0.8rem;
                                word-wrap: break-word;
                                word-break: break-all;
                                p {
                                    margin-bottom: .35rem;
                                    font-size: 0.75rem;
                                    line-height: 0.9rem;
                                }
                            }
                            .card-footer {
                                background: #ffff;
                                margin-bottom: 0rem;
                                i {
                                    vertical-align: top;
                                    line-height: 0.9rem;
                                }
                                &.good-bottom{
                                    position: absolute;
                                    bottom:0rem;
                                    font-size:0.6rem;
                                    width: 100%;
                                    padding: 0;
                                    min-height: 1.0rem;
                                }
                                .footer-input {
                                    -webkit-flex: 1;
                                    flex: 1;
                                    width: 100%;
                                    border: 0;
                                    background: #fff;
                                    word-wrap: break-word;
                                    display: block;
                                    overflow: hidden;
                                }

                            }
                        }
                    }
                    .card-footer {
                        margin-bottom: 0.5rem;
                        .footer-input {
                            -webkit-flex: 1;
                            flex: 1;
                            width: 100%;
                            border: 0;
                            word-wrap: break-word;
                            display: block;
                            overflow: hidden;
                        }
                    }
                }
                .card-footer {
                    .pay {
                        color: @fontcolor;
                    }
                    .goods-all-money {
                        text-align: right;
                        width: 100%;
                    }
                }
            }
            .goods-money {
                color:@fontcolortheme;
                font-size: 0.6rem;
                i {
                    font-size: 0.8rem;
                }
            }
        }
        & .list-block {
            & .item-subtitle {
                font-size: @fontsize4;
                line-height: 1.6rem;
                font-size: 0.6rem;
            }
            & .item-inner {
                font-size: @fontsize4;
                padding: 0;
                min-height: 2.05rem;
            }
            & .good_name {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                white-space: initial;
                line-height: 1.2;
                margin: 0.4rem 0;
                font-size: @fontsize4;
            }
            .item-title {
                line-height: 1.2rem;
                .iconfont{
                    color: #ccc;
                    margin-right: 0.5rem;
                    font-size: 0.9rem;
                }
            }
            .item-after {
                color: @fontcolortheme;
                line-height: 1.2rem;
            }
            .item-content {
                min-height: 2.05rem;
                border-bottom: 1px solid @borderdeepcolor;
                padding: 0 0.75rem;
            }

            &.media-list{
                ul:before,ul:after {
                    height: 0;
                }
                .item-content{
                    border: none;
                }
                .item-inner{
                    padding:0.5rem 0;
                }
            }

        }
        & .footer_btn {
            background-color: #fff;
            & .btn {
                background-color: #fff;
            }
        }
    }
}
