@import (once) "public/variable.less";
.page-shop-podcasr_goods_management{
	.bar{
		&:after{
			background-color: #fff;
		}
	}
	.buttons-tab{
		&:after{
			background-color: #fff;
		}
	}
	.bar-nav{
		padding:0;
		top: 2.55rem;
		.button{
			top: 0;
			border-top:1px solid @borderdeepcolor;
			position:relative;
			display: inline-block;
			.button_bottom{
				position:absolute;
				bottom: 0px;
				left: 0px;
				text-align: center;
				width: 100%;
				height: 0.19rem;
				line-height: 0.19rem;
				display: inline-block;
			}
			&.active {
				.button_bottom {
					span{
						background: -webkit-linear-gradient(left, #865efb , #b83af3);
						background: -o-linear-gradient(right, #865efb , #b83af3);
						background: -moz-linear-gradient(right, #865efb , #b83af3);
						background: linear-gradient(to right, #865efb , #b83af3);
						border-color: transparent;
						border-radius: 1rem;
						width: 1rem;
						height: 0.19rem;
						display: inline-block;
					}
				}
			}
		}
	}
	.bar-nav ~ .content{
        top: 2.4rem;
    }
	.goods-list{
		margin:0.6rem 0;
		.goods-item{
			margin-bottom:0.5rem;
			background:#fff;
		}
		.item-content{
			display: -webkit-box;
			padding: 0.75rem;
			border-bottom: 1px solid @borderdeepcolor;
			overflow: hidden;
			color: #999;
			.item-image{
				width:3.4rem;
				height:3.4rem;
				margin-right:0.5rem;
				img{
					width:100%;
					height:100%;
					border-radius: 0.5rem;
				}
			}
			.item-info{
				font-size:0.7rem;
				-webkit-box-flex: 1;
				p{
					line-height:1.2;
					margin-top:0.25rem;
					font-size: .6rem;
				}
				.item-info-title{
					font-size: .75rem;
					font-weight: 500;
					color: @fontcolortit;
					padding-bottom:0.15rem;
				}
				.item-info-price{
					display: flex;
				    -webkit-box-pack: justify;
				    -webkit-justify-content: space-between;
				    justify-content: space-between;
				    -webkit-box-align: center;
				    -webkit-align-items: center;
				    align-items: center;
				    color:@fontcolorinfo;
					.s-r{
						color:@fontcolortheme;
					}
				}
				.item-info-sell{
					display: flex;
				    -webkit-box-pack: justify;
				    -webkit-justify-content: space-between;
				    justify-content: space-between;
				    -webkit-box-align: center;
				    -webkit-align-items: center;
				    align-items: center;
				    color:@fontcolorstress;
					.button{
						display:inline-block;
						font-size:0.65rem;
					}
				}
			}
			&:last-child{
				border-bottom:0;
			}
		}
		.item-footer{
			height: 1.9rem;
			line-height: 1.9rem;
			padding: 0 .75rem;
			display: flex;
			-webkit-box-pack: justify;
			-webkit-justify-content: space-between;
			justify-content: space-between;
			-webkit-box-align: center;
			-webkit-align-items: center;
			align-items: center;
			.item-f-con{
				color: #999;
				height: 1.9rem;
				line-height: 1.9rem;
				span {
					font-size: .6rem;
					display: inline-block;
					white-space: nowrap;
					overflow: hidden;
					padding-right:0.2rem;
				}
			}
			.item-f-but{
				width: 3rem;
			}
			.button-fill{
				padding: 0 0.8rem;
				height: 1.2rem;
				line-height: 1.3rem;
				font-size: .6rem;
			}
		}
	}
	.bar-tab{
		.button{
			height:100%;
			top:0;
			border-radius:0;
			line-height:2.5rem;
		}
	}
}