{// 引入标签库 }
<tagLib name="html" />
<PHP>
	function get_refund_user_name($uid)
	{
		return M("User")->where("id=".$uid)->getField("user_name");
	}
</PHP>
<div class="main">
<div class="main_title">{$user.do_info}{$user.id}通过店铺认证</div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data" onsubmit="return check_val();">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td colspan=2 ><span style=" color:red;">点击图片可查看源图</span></td>
	</tr>
 		<tr>
			<td class="item_name">真实姓名：</td>
			<td class="item_input"><input type="text" value="{$user.authentication_name}" disabled="true" class="textbox"></td>
		</tr>
		<!-- ljz -->
		<if condition = "$family neq 0">
			<tr>
				<td class="item_name">家族：</td>
				<td class="item_input">
					<select name="family" style="width:160px;">
						<foreach name="family" item="val">
							<option value="{$val.id}" <if condition="$user_family eq $val['id']">selected="selected"</if>>{$val.name}</option>
						</foreach>
					</select>
				</td>
			</tr>
		</if>
		
        <if condition="$show_identify_number eq 1">
        <tr>
            <td class="item_name">身份证号码：</td>
            <td class="item_input"><input type="text" value="{$user.identify_number}" disabled="true" class="textbox"></td>
        </tr>
        </if>
		<tr>
			<td class="item_name">联系方式：</td>
			<td class="item_input"><input type="text" value="{$user.contact}" disabled="true" class="textbox"></td>
		</tr>
		<if condition="$user['user_type'] eq 0">
		<tr>
			<td class="item_name">身份证正面 ：</td>
			<td class="item_input"><a target="_blank" href="{$user.identify_positive_image}"><img src="{$user.identify_positive_image}" height="50" /></a></td>
		</tr>
		</if>
        <if condition="$user['user_type'] eq 0">
		<tr>
			<td class="item_name">身份证反面</td>
			<td class="item_input"><a target="_blank" href="{$user.identify_nagative_image}"><img src="{$user.identify_nagative_image}"  height="50" /></a></td>
		</tr>
		</if>
        <if condition="$user['user_type'] eq 0">
            <tr>
                <td class="item_name">手持身份证正面照</td>
                <td class="item_input"><a target="_blank" href="{$user.identify_hold_image}"><img src="{$user.identify_hold_image}"  height="50" /></a></td>
            </tr>
        </if>

	<tr>
		<td class="item_name">类型:</td>
		<td class="item_input">
			查看<input type="radio" name="store_status" value="0" checked="checked">
			通过<input type="radio" name="store_status" value="2"  >
			未通过<input type="radio" name="store_status" value="3"  >
		</td>
	</tr>
	
	<tr class="type_1">
		<td class="item_name">拒绝理由:</td>
		<td class="item_input">
			<textarea name="store_reason">{$user.store_reason}</textarea>
		</td>
	</tr>	
 	 
	<tr  class="type_2">
		<td class="item_name">&nbsp;</td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$user.id}" />
			<input type="hidden" name="status" value="{$status}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="UserStore" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="investor_go_allow" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="确认" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	 
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<script>
	$(function(){
		$(".type_1").hide();
		$(".type_2").hide();
		$("input[name='store_status']").bind("click",function(){
			val=$(this).val();
			if(val==0){
				$(".type_1").hide();
				$(".type_2").hide();
			}else{
				if(val==2){
					$(".type_1").hide();
					$(".type_2").show();
				}
				if(val==3){
					$(".type_1").show();
					$(".type_2").show();
				}
			}
		});
	});
	function check_val(){
		val=$("input[name='store_status']:checked").val();
 		if(val==0){
				return false;
			}else{
				if(val==2){
					return confirm('将审核通过该用户店铺，确认吗？');
				}
				if(val==3){
					return confirm('将审核不通过该用户店铺，确认吗？');
				}
			}
		
	}
</script>