{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
<div class="main_title">{$vo.name}(ID：{$vo.id}){$Think.lang.EDIT} <a href="{:u("BmPromoterTwoSubmit/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data" onsubmit="return check();">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">登录手机号:</td>
		<td class="item_input">{$vo.mobile}</td>
	</tr>
	<tr>
		<td class="item_title">绑定会员:</td>
		<td class="item_input">
			<span id="binding_user_id">ID：{$vo.user.id}，呢称：{$vo.user.nick_name}，钻石数：{$vo.user.diamonds}</span>
		</td>
	</tr>
	<tr>
		<td class="item_title">推广商名称:</td>
		<td class="item_input">{$vo.name}</td>
	</tr>
	<tr>
		<td class="item_title">上级名称:</td>
		<td class="item_input">{$vo.parent_name}</td>
	</tr>
	<tr>
		<td class="item_title">审核状态:</td>
		<td class="item_input">
			<lable>通过<input type="radio" name="status" value="1" <if condition="$vo['status'] eq 1">checked="checked"</if> ></lable>
			<lable>驳回<input type="radio" name="status" value="2" <if condition="$vo['status'] eq 2">checked="checked"</if> ></lable>
		</td>
	</tr>
	<tr>
		<td class="item_title">备注:</td>
		<td class="item_input">
			<textarea name="memo" class="textarea">{$vo.memo}</textarea>
		</td>
	</tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="BmPromoterTwoSubmit" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
			<input type="hidden" name="id" value="{$vo.id}" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.EDIT}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>
</form>
   
</div>
<include file="Public:footer_layui" />
<include file="Public:footer" />