{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<load href='__TMPL__Common/style/weebox.css' />
<load href='__TMPL__Common/css/bootstrap.min.css' />
<load href='__TMPL__Common/css/fileinput.min.css' />
<style>
    .line {
        min-height: 20px;
        font-size: 13px;
        border-bottom: 1px solid silver;
        padding: 5px 0px;
    }
    .delete {
        cursor: pointer;
        padding: 0px 5px;
        text-decoration: underline;
        color: red;
    }
    .uploaderMsgBox {
        width: 100%;
        border-bottom: 1px solid #888;
    }
    [act=cancel-upload]{
        text-decoration: none;
        cursor:pointer;
    }
</style>

<div class="main">
    <div class="main_title">{$Think.lang.ADD} <a href="{:u("MusicList/index")}" class="back_list">{$Think.lang.BACK_LIST}</a>
    </div>
    <div class="blank5"></div>
    <form id="video_form" name="add" action="__APP__" method="post" enctype="multipart/form-data">
        <table class="form" cellpadding=0 cellspacing=0>
            <tr>
                <td colspan=2 class="topTd"></td>
            </tr>
            <!--<tr>-->
                <!--<td class="item_title">视频模式:</td>-->
                <!--<td class="item_input">-->
                    <!--<select name="create_type">-->
                        <!--<option value="0" selected="selected">APP</option>-->
                        <!--<option value="1">PC</option>-->
                    <!--</select>-->
                <!--</td>-->
            <!--</tr>-->
            <tr>
                <td class="item_title">音乐名称:</td>
                <td class="item_input"><input type="text" class="require" name="audio_name" /></td>
            </tr>
            <tr>
                <td class="item_title">演唱者:</td>
                <td class="item_input"><input type="text" class="require" name="artist_name"/></td>
            </tr>
            <tr>
                <td class="item_title">音乐分类:</td>
                <td><select name="classified_id">
                    <option value="0">全部</option>
                    <foreach name="classified_list" item="classified_item">
                        <option value="{$classified_item.id}" <if condition="$_REQUEST['classified_id'] eq $classified_item['id']">selected="selected"</if>>{$classified_item.title}</option>
                    </foreach>
                </select></td>
            </tr>
            <tr>
                <td class="item_title">添加文件:</td>
                <td class="item_input">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="errorBlock" class="help-block">
                            </div>
                            <input type="file" class="file" id="test-upload" accept="audio/mpeg"/>
                        </div>
                        <span class="tip_span" >请上传 mp4、flv 格式音频</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="item_title">播放地址:</td>
                <td>
                    <input type="text" name="file_url" id="file_url" style="width: 600px;" />
                    <span class="tip_span" id="tip_span">如果上传失败，请使用 OSS 工具上传后，手动填写播放地址</span>
                </td>
            </tr>
            <tr>
                <td class="item_title">{$Think.lang.SORT}:</td>
                <td class="item_input"><input type="text" name="sort" value="{$new_sort}" /></td>
            </tr>
            <tr id="preview" style="display: none;">
                <td class="item_title">预览:</td>
                <td>
                    <audio id="audio" controls=""></audio>
                </td>
            </tr>
            <input type="hidden" id="duration" name="duration">
            <tr>
                <td class="item_title"></td>
                <td class="item_input">
                    <input type="hidden" id="a"  name="a" value="upload_oss"/>
                    <input type="hidden" id="m"  name="m" value="MusicList"/>
                    <input type="button" id="video_submit" class="button" value="{$Think.lang.ADD}" onclick="insert_video_oss();" />
                    <input type="reset" class="button" value="{$Think.lang.RESET}" />
                </td>
            </tr>
            <tr>
                <td colspan=2 class="bottomTd"></td>
            </tr>
        </table>
    </form>

<include file="Public:footer_layui" />
    <script>
        function insert_video_oss(){
            var form_data = $("#video_form").serialize();
            $.ajax({
                url:ROOT+"?"+VAR_MODULE+"="+MODULE_NAME+"&"+VAR_ACTION+"=upload_oss",
                data:form_data,
                dataType:"json",
                type:"post",
                success:function(result){
                    if (result.status == '1') {
                        alert(result.error);
                        location.href = ROOT+"?"+VAR_MODULE+"="+MODULE_NAME+"&"+VAR_ACTION+"=index";
                    }else{
                        alert(result.error);
                    }
                }
            });
        }
    </script>
    <script src="//qzonestyle.gtimg.cn/open/qcloud/js/vod/sdk/uploaderh5.js" charset="utf-8"></script>
    <load href='__TMPL__Common/js/user_live.js' />
    <load href='__TMPL__Common/js/jquery.weebox.js' />
    <load href='__TMPL__Common/js/fileinput.min.js' />
    <load href='__TMPL__Common/js/locales/zh.js' />
    <script type="text/javascript">
        $("#test-upload").fileinput({
            uploadUrl: "{:u('PublicFile/musicUpload',array('dir'=>'media'))}",
            language: 'zh',
            showPreview: false,
            maxFileSize: parseInt('{$max_size}'),
            allowedFileTypes: ['mp3'],
            elErrorContainer: '#errorBlock'
        }).on('fileuploaded', function(event, data) {
            if (data.response.fullname) {
                $('#file_url').val(data.response.fullname);
                $("#audio").attr("src", data.response.fullname);
                $("#audio")[0].play();
                $("#preview").show();
                getTime();
            } else {
                $('#errorBlock').html(data.response.message).show();
            }
        });
        <!--获取mp3文件的时间 兼容浏览器-->
        function getTime() {
            setTimeout(function () {
                var duration = $("#audio")[0].duration;
                if(isNaN(duration)){
                    getTime();
                }
                else{
                    $('#duration').val($("#audio")[0].duration);
                    console.info("该歌曲的总时间为："+$("#audio")[0].duration+"秒");
                }
            }, 10);
        }
    </script>
<include file="Public:footer" />

</div>