{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
<div class="main_title">竞拍详情 <a href="{:u("PodcastOrder/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=6 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">主播:</td>
		<td class="item_input">{$vo.podcast_name}</td>
		<td class="item_title">商品名称:</td>
		<td class="item_input">{$vo.goods_name}</td>
		<td class="item_title">购买人:</td>
		<td class="item_input">{$vo.pai_name}</td>
	</tr>
	<tr>
		<td class="item_title">订单编号:</td>
		<td class="item_input">{$vo.order_sn}</td>
		<td class="item_title">订单状态:</td>
		<td class="item_input">{$vo.order_status_format}</td>
		<td class="item_title">是否允许退款:</td>
		<td class="item_input">{$vo.no_refund_format}</td>
	</tr>
	<tr>
		<td class="item_title">退款买方状态:</td>
		<td class="item_input">{$vo.refund_buyer_status}</td>
		<td class="item_title">退款买方配货状态:</td>
		<td class="item_input">{$vo.delivery_status_format}</td>
		<td class="item_title">退款卖方状态:</td>
		<td class="item_input">{$vo.refund_seller_status}</td>
	</tr>
	<tr>
		<td class="item_title">退款平台申诉:</td>
		<td class="item_input">{$vo.refund_platform}</td>
		<td class="item_title">订单商品总数量:</td>
		<td class="item_input">{$vo.number}</td>
		<td class="item_title">应付总金额:</td>
		<td class="item_input">{$vo.total_diamonds}</td>

	</tr>
	<tr>
		<if condition="PAI_REAL_BTN eq 1">
			<td class="item_title">竞拍价:</td>
			<td class="item_input">{$vo.goods_diamonds}</td>
		</if>
		<td class="item_title">已付金额:</td>
		<td class="item_input">{$vo.pay_diamonds}</td>
		<td class="item_title">退款金额:</td>
		<td class="item_input">{$vo.refund_diamonds}</td>
	</tr>


	<tr>

		<td class="item_title">运费:</td>
		<td class="item_input">{$vo.freight_diamonds}</td>
		<td class="item_title">收货人:</td>
		<td class="item_input">{$vo.consignee}</td>
		<td class="item_title">手机号:</td>
		<td class="item_input">{$vo.consignee_mobile}</td>

	</tr>
	<tr>
		<td class="item_title">详细地址:</td>
		<td class="item_input">{$vo.consignee_address}</td>
		<td class="item_title">下单时间:</td>
		<td class="item_input">{$vo.create_date}</td>
		<td class="item_title">付款时间:</td>
		<td class="item_input">{$vo.pay_time}</td>
	</tr>

	<tr>
		<td class="item_title">订单来源:</td>
		<td class="item_input">{$vo.order_source}</td>
		<td class="item_title">订单类型:</td>
		<td class="item_input">{$vo.order_type}</td>
		<td class="item_title">发货时间:</td>
		<td class="item_input">{$vo.delivery_time}</td>
	</tr>
	<tr>
		<td class="item_title" >行政地区信息:</td>
		<td class="item_input" >{$vo.consignee_district}</td>
		<td class="item_title">物流公司:</td>
		<td class="item_input">{$vo.courier_offic}</td>
		<td class="item_title">物流单号:</td>
		<td class="item_input">{$vo.courier_number}</td>
	</tr>
	<tr>
		<td class="item_title" >订单备注:</td>
		<td class="item_input" colspan=5>{$vo.memo}</td>
	</tr>
	<if condition="$vo.order_status eq 2">
		<tr>
			<td class="item_title" ></td>
			<td class="item_input" colspan=5>
				<label>
					物流公司：
					<select name="courier_offic">
						<option value="顺丰快递">顺丰快递</option>
						<option value="圆通快递">圆通快递</option>
						<option value="申通快递" >申通快递</option>
						<option value="韵达快递" >韵达快递</option>
						<option value="EMS" >EMS</option>
						<option value="百世汇通" >百世汇通</option>
						<option value="中通快递" >中通快递</option>
					</select>
					物流单号：<input type="text" name="courier_number" value="">
					<input type="radio" name="order_status" value="3" checked>确认发货
				</label>
				<!--隐藏元素-->
				<input type="hidden" name="id" value="{$vo.id}" />
				<input type="hidden" name="{:conf("VAR_MODULE")}" value="PodcastOrder" />
				<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
				<!--隐藏元素-->&nbsp;
				<input type="submit" class="button" value="确认发货" />
			</td>
		</tr>
	</if>
	<tr>
		<td colspan=6 class="bottomTd"></td>
	</tr>
</table>
</form>
</div>
<include file="Public:footer_layui" />
<include file="Public:footer" />