{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />

<div class="main">
<div class="main_title">{$main_title} <a href="{:u("WeiboAddress/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">省份:</td>
		<td class="item_input">{$address.province}</td>
	</tr>
	<tr>
		<td class="item_title">城市:</td>
		<td class="item_input">{$address.city}</td>
	</tr>
	<tr>
		<td class="item_title">权重:</td>
		<td class="item_input"><input type="text" class="textbox" name="weight" value="{$address.weight}" /></td>
	</tr>

	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$address.id}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="WeiboAddress" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.EDIT}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer_layui" />
<include file="Public:footer" />