{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />

<php>
	function get_user_diamonds($user_id)
	{
		return M("User")->where("id=".intval($user_id))->getField("diamonds");
	}
	function to_user_list($user_id)
	{
		return '<a href="'.U('UserGeneral/index',array('id'=>$user_id)).'">'.$user_id.'</a>';
	}
	function get_promoter_user($child_count,$user_id)
	{
		if($child_count >0)	{
			return $child_count.'<a href="'.U('XyPromoterUser/index',array('bm_pid'=>$user_id)).'">明细</a>';
		}else{
			return $child_count;
		}

	}
	function get_promoter_one_name($pid)
	{
		$promoter=M("BmPromoter")->where("user_id=".intval($pid))->find();
		return $child_count.'<a href="'.U('BmPromoterOne/index',array('id'=>$promoter['id'])).'">'.$promoter['name'].'</a>';
	}
	function get_account($user_id){
		return '<a href="javascript:account('.$user_id.')">充值保证金</a>';
	}

	function get_prop_list($id)
	{
		return $child_count.'<a href="'.U('XyPromoterTwo/closed_prop',array('promoter_id'=>$id)).'">收礼物日志</a>';
	}
</php>

<div class="main">
<div class="main_title_list"><div class="list-line-ico"></div>会员单位列表</div>
<div class="search_row">
	<form name="search" action="__APP__" method="get">
		<div>会员单位ID：<input type="text" style="width:60px;" class="textbox" name="id" value="{:trim($_REQUEST['id'])}" /></div>
		<div>会员单位名称：<input type="text" class="textbox" name="name" value="{:trim($_REQUEST['name'])}" /></div>
		<div>运营中心名称：<input type="text" class="textbox" name="parent_name" value="{:trim($_REQUEST['parent_name'])}" /></div>
		<div>上级ID：<input type="text" style="width:60px;" class="textbox" name="pid" value="{:trim($_REQUEST['pid'])}" /></div>
		<div>手机号：<input type="text" style="width:80px;" class="textbox" name="mobile" value="{:trim($_REQUEST['mobile'])}" /></div>
		<div>绑定会员ID：<input type="text" style="width:60px;" class="textbox" name="user_id" value="{:trim($_REQUEST['user_id'])}" /></div>
		<div>状态：
			<select name="is_effect">
				<option value="-1">全部</option>
				<option value="1">有效</option>
				<option value="0">无效</option>
			</select>
		</div>
		<div>创建时间：
			<span><input type="text" style="width:100px;" class="textbox" name="create_time_1" id="create_time_1" value="{$_REQUEST['create_time_1']}" onfocus="this.blur(); return showCalendar('create_time_1', '%Y-%m-%d', false, false, 'btn_create_time_1');" /><input type="button" class="button" id="btn_create_time_1" value="{$Think.lang.SELECT_TIME}" onclick="return showCalendar('create_time_1', '%Y-%m-%d', false, false, 'btn_create_time_1');" /></span>
			- <span><input type="text" style="width:100px;" class="textbox" name="create_time_2" id="create_time_2" value="{$_REQUEST['create_time_2']}" onfocus="this.blur(); return showCalendar('create_time_2', '%Y-%m-%d', false, false, 'btn_create_time_2');" /><input type="button" class="button" id="btn_create_time_2" value="{$Think.lang.SELECT_TIME}" onclick="return showCalendar('create_time_2', '%Y-%m-%d', false, false, 'btn_create_time_2');" /></span>
			<input type="hidden" value="XyPromoterTwo" name="m" />
			<input type="hidden" value="index" name="a" />
			<input type="submit" class="button" value="{$Think.lang.SEARCH}" />
		</div>

	</form>
</div>
<html:list
	id="dataTable"
	style="dataTable"
	name="data"
	checkbox="true"
	action="true"
	datasource="list"
	show="
	,id:会员单位ID|100px
	,name:会员单位名称
	,pid|get_promoter_one_name:上级运营中心名称
	,pid:上级ID
	,mobile:手机号
	,user_id|to_user_list:绑定会员ID
	,user_id|get_user_diamonds:钻石数
	,child_count|get_promoter_user=$data['user_id']:发展公会/人
	,create_time|to_date:{$Think.lang.CREATE_TIME}
	,is_effect|get_is_effect=$data['id']:{$Think.lang.IS_EFFECT}"
	actionlist="edit:{$Think.lang.EDIT},user_id|get_account,id|get_prop_list" />
<div class="page">{$page}</div>
</div>
<include file="Public:footer_layui" />
<script type="text/javascript" src="__TMPL__Common/js/calendar/calendar.php?lang=zh-cn" ></script>
<load href='__TMPL__Common/js/calendar/calendar.css' />
<load href='__TMPL__Common/js/calendar/calendar.js' />
<load href='__TMPL__Common/js/jquery.weebox.js' />
<script>
    function account(user_id)
    {
        $.ajax({
            url: ROOT+"?"+VAR_MODULE+"="+MODULE_NAME+"&"+VAR_ACTION+"=account&id="+user_id,
            data: "ajax=1",
            dataType: "json",
            success: function(msg){
                if(msg.status==0){
                    alert(msg.info);
                }
            },
            error: function(){
                $.weeboxs.open(ROOT+'?'+VAR_MODULE+'='+MODULE_NAME+'&'+VAR_ACTION+'=account&id='+user_id, {contentType:'ajax',showButton:false,title:"充值保证金",width:600,height:260});
            }
        });

    }
</script>
<include file="Public:footer" />