{// 引入标签库 }
<tagLib name="html" />
<div class="main">
<div class="main_title">{$vo.name}</div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td class="item_title">API列表:</td>
		<td class="item_input">
			 <if condition="count($apilist)">
				 <foreach name="apilist" item="api">
						<lable>{$api.name}<input type="checkbox" name="api_id[{$api.id}]" value="{$api.id}" <if condition="$vo['id'] eq $api['slb_group_id'] ">checked="checked"</if> /></lable>
				 </foreach>
			 <else />
				<lable>接口已分配完毕</lable>
			 </if>
		</td>
	</tr>
	
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="slb_group_id" value="{$vo.id}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="SlbGroup" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="insert_api" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.ADD}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>