{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
<div class="main_title">{$Think.lang.INSTALL} <a href="{:u("Sms/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.SMS_NAME}:</td>
		<td class="item_input">
			{$data.name}
			<input type="hidden" value="{$data.name}" name="name" />
		</td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.CLASS_NAME}:</td>
		<td class="item_input">
			{$data.class_name}
			<input type="hidden" value="{$data.class_name}" name="class_name" />
		</td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.SMS_ACCOUNT}:</td>
		<td class="item_input">
			<input type="text" class="textbox"  name="user_name" />
		</td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.SMS_PASSWORD}:</td>
		<td class="item_input">
			<input type="password" class="textbox"  name="password"  autocomplete="off" />
		</td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.DESCRIPTION}:</td>
		<td class="item_input">
			<textarea class="textarea" name="description" ></textarea>
		</td>
	</tr>
	<if condition="$data['config']">
	<tr>
		<td class="item_title">{$Think.lang.CONFIG_INFO}:</td>
		<td class="item_input">
			<foreach name="data.config" item="config">
				<php>$config_name = $key;</php>
				<span class="cfg_title">{:trim($data['lang'][$key])}:</span>
				<span class="cfg_content">
				<if condition="$config['INPUT_TYPE'] eq 0">
				<input type="text" class="textbox" name="config[{$key}]" value="" />
				<elseif condition="$config['INPUT_TYPE'] eq 2" />
				<input type="password" class="textbox" name="config[{$key}]" value="" />
				<else />
				<select name="config[{$key}]" >
					<foreach name="config.VALUES" item="val">
						<option value="{$val}">{:trim($data['lang'][$config_name."_".$val])}</option>
					</foreach>
				</select>
				</if>
				</span>
				<div class="blank5"></div>
			</foreach>
		</td>
	</tr>
	</if>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" value="{$data.server_url}" name="server_url" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="Sms" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="insert" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.ADD}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer_layui" />
<include file="Public:footer" />