{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
<div class="main_title">{$Think.lang.ADD} <a href="{:u("Admin/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.ADM_NAME}:</td>
		<td class="item_input"><input type="text" class="textbox require" name="adm_name" /></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.ADM_PASSWORD}:</td>
		<td class="item_input"><input type="password" class="textbox require" name="adm_password" /></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.ROLE}:</td>
		<td class="item_input">
			<select name="role_id" class="require">
				<option value="0">=={$Think.lang.EMPTY_SELECT}==</option>
				<foreach name="role_list" item="role_item">
					<option value="{$role_item.id}">{$role_item.name}</option>
				</foreach>
			</select>
		</td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.IS_EFFECT}:</td>
		<td class="item_input">
			<lable>{$Think.lang.IS_EFFECT_1}<input type="radio" name="is_effect" value="1" checked="checked" /></lable>
			<lable>{$Think.lang.IS_EFFECT_0}<input type="radio" name="is_effect" value="0" /></lable>
		</td>
	</tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="Admin" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="insert" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.ADD}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer_layui" />
<include file="Public:footer" />