{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />

<div class="main">
<div class="main_title">{$Think.lang.ADD} <a href="{:u("UserBusiness/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form conf_tab" cellpadding=0 cellspacing=0 >
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.USER_NAME}:</td>
		<td class="item_input"><input type="text" class="textbox require" name="user_name" /></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.USER_EMAIL}:</td>
		<td class="item_input"><input type="text" class="textbox require" name="email" /></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.USER_MOBILE}:</td>
		<td class="item_input"><input type="text" class="textbox" name="mobile" /></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.USER_PASSWORD}:</td>
		<td class="item_input"><input type="password" class="textbox require" name="user_pwd" /></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.USER_CONFIRM_PASSWORD}:</td>
		<td class="item_input"><input type="password" class="textbox require" name="user_confirm_pwd" /></td>
	</tr>
	
	<tr>
		<td class="item_title">所属地区:</td>
		<td class="item_input">
			<select name="province">				
			<option value="" rel="0">请选择省份</option>
			<foreach name="region_lv2" item="region">
				<option value="{$region.name}" rel="{$region.id}">{$region.name}</option>
			</foreach>
			</select>
			
			<select name="city">				
			<option value="" rel="0">请选择城市</option>
			</select>
			<script type="text/javascript">
				load_city();
			</script>
		</td>
	</tr>
	
	<tr>
		<td class="item_title">性别:</td>
		<td class="item_input">
			
			<label>女<input type="radio" name="sex" value="0" /></label>
			<label>男<input type="radio" name="sex" value="1" /></label>
			<label>未知<input type="radio" name="sex" value="-1" checked="checked" /></label>
		</td>
	</tr>
	<!--<tr>
		<td class="item_title">会员类型:</td>
		<td class="item_input">
			<select name="user_type">
				<option value="0">请选择类型</option>
				<option value="1">创业者</option>
				<option value="2">投资者</option>
			</select>
			<span class='tip_span'>默认为0无类型</span>
		</td>
	</tr>-->
	<tr>
		<td class="item_title">会员等级:</td>
		<td class="item_input">
			<select name="user_level">
				<option value="0">请选择等级</option>
				<foreach name="user_level" item="level" key="kk">
					<option value="{$level.id}" <if condition="($kk eq 0)">selected="selected"</if>>{$level.name}</option>
				</foreach>
			</select>
		</td>
	</tr>
	
	<tr>
		<td class="item_title">简介:</td>
		<td class="item_input">
			<textarea name="intro" class="textarea"></textarea>
		</td>
	</tr>
	

	
	<tr>
		<td class="item_title">{$Think.lang.IS_EFFECT}:</td>
		<td class="item_input">
			<label>{$Think.lang.IS_EFFECT_1}<input type="radio" name="is_effect" value="1" checked="checked" /></label>
			<label>{$Think.lang.IS_EFFECT_0}<input type="radio" name="is_effect" value="0" /></label>
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>
<div class="blank5"></div>
	<table class="form" cellpadding=0 cellspacing=0>
		<tr>
			<td colspan=2 class="topTd"></td>
		</tr>
		<tr>
			<td class="item_title">真实姓名</td>
			<td class="item_input">
			<input type="text" value="" name="ex_real_name" class="textbox" />
			</td>
		</tr>
		<tr>
			<td class="item_title">开户行</td>
			<td class="item_input">
			<input type="text" value="" name="ex_account_bank" class="textbox" style="width:500px;" />
			</td>
		</tr>
		<tr>
			<td class="item_title">银行帐号</td>
			<td class="item_input">
			<input type="text" value="" name="ex_account_info" class="textbox" style="width:500px;" />
			</td>
		</tr>
		
		<tr>
			<td class="item_title">联系电话</td>
			<td class="item_input">
			<input type="text" value="" name="ex_contact" class="textbox" style="width:500px;" />
			</td>
		</tr>
		<tr>
			<td class="item_title">联系QQ</td>
			<td class="item_input">
			<input type="text" value="" name="ex_qq" class="textbox" style="width:500px;" />
			</td>
		</tr>
		<tr>
			<td colspan=2 class="bottomTd"></td>
		</tr>
	</table> 
	<div class="blank5"></div>
	<table class="form" cellspacing=0  cellpadding=0>
		<tr><td colspan=2 class="topTd"></td></tr>
		<tr>
			<td class="item_title">投资类型审核：</td>
			<td class="item_input">
				<input type="radio" name="investor_status" <if condition="$vo.investor_stauts eq 0">checked="checked"</if> value="0">未审核
				<input type="radio" name="investor_status" <if condition="$vo.investor_status eq 1">checked="checked"</if> value="1">审核通过
				<input type="radio" name="investor_status" <if condition="$vo.investor_status eq 2">checked="checked"</if> value="2">审核未通过
			</td>
		</tr>
		<tr>
			<td class="item_title">投资类型</td>
			<td class="item_input">
				<input type="radio" name="is_investor" <if condition="$vo.is_investor eq 0">checked="checked"</if>   value="0"> 普通用户
				<input type="radio" name="is_investor"  <if condition="$vo.is_investor eq 2">checked="checked"</if>  value="2"> 机构投资人
				<!-- <input type="radio" name="is_investor" <if condition="$vo.is_investor eq 4">checked="checked"</if>   value="4"> 创业公司 -->
				<input type="radio" name="is_investor" <if condition="$vo.is_investor eq 5">checked="checked"</if>  value="5"> 众创空间
				<input type="radio" name="is_investor" <if condition="$vo.is_investor eq 6">checked="checked"</if>  value="6"> 创服机构
			</td>
		</tr>
		 
	</table>
<div class="blank5"></div>
<table class="form identify_info" id="identify_info_0"  <if condition="$vo.is_investor neq 0">style="display:0"</if>>
	<tr></tr>
</table>
<table class="form identify_info" cellspacing=0 cellpadding=0 id="identify_info_1" <if condition="$vo.is_investor neq 1"> style="display:none;"</if>>
	<tr>
		<td class="item_title">身份证姓名：</td>
		<td class="item_input"><input type="text" name="identify_name" value="{$vo.identify_name}" class="textbox"></td>
	</tr>
	<tr>
		<td class="item_title">身份证号码：</td>
		<td class="item_input"><input type="text" name="identify_number" value="{$vo.identify_number}" class="textbox"></td>
	</tr>
	<tr>
		<td class="item_title">身份证正面:</td>
		<td class="item_input"><html:imgUpload name="identify_positive_image" id="identify_positive_image" value="$vo.identify_positive_image" /></td>
	</tr>
	<tr>
		<td class="item_title">身份证反面:</td>
		<td class="item_input"><html:imgUpload name="identify_nagative_image" id="identify_nagative_image" value="$vo.identify_nagative_image" /></td>
	</tr>
	<if condition="app_conf('CARD') eq 1">
	<tr class="identify_info_3">
		<td class="item_title">名片:</td>
		<td class="item_input"><html:imgUpload name="card" id="card_image" value="$vo.card" /></td>
	</tr>
	</if>
	<tr class="identify_info_3">
		<td class="item_title">符合以下条件之一的自然人投资者:</td>
		<td class="item_input">
			<input type="radio" name="identity_conditions"  <if condition="$vo.identity_conditions eq 0">checked="checked"</if>  value="0"> 我的金融资产超过100万元
			<input type="radio" name="identity_conditions"  <if condition="$vo.identity_conditions eq 1">checked="checked"</if>   value="1"> 我的年收入超过30万元
			<input type="radio" name="identity_conditions"  <if condition="$vo.identity_conditions eq 2">checked="checked"</if>  value="2"> 我是专业的风险投资人
			<input type="radio" name="identity_conditions"  <if condition="$vo.identity_conditions eq 3">checked="checked"</if>  value="3"> 我不符合上述任一条件
		</td>
	</tr>
	<if condition="app_conf('CREDIT_REPORT') eq 1">
	<tr class="identify_info_3">
		<td class="item_title">信用报告:</td>
		<td class="item_input"><html:imgUpload name="credit_report" id="credit_report_image" value="$vo.credit_report" /></td>
	</tr>
	</if>
	<if condition="app_conf('HOUSING_CERTIFICATE') eq 1">
	<tr class="identify_info_3">
		<td class="item_title">房产认证:</td>
		<td class="item_input"><html:imgUpload name="housing_certificate" id="housing_certificate_image" value="$vo.housing_certificate" /></td>
	</tr>
	</if>
</table>	
<table class="form identify_info" cellspacing=0 cellpadding=0 id="identify_info_2"  <if condition="$vo.is_investor neq 2">style="display:none;"</if> >
	<tr>
		<td class="item_title">机构名称:</td>
		<td class="item_input"><input type="text" name="identify_business_name" value="{$vo.identify_business_name}"></td>
	</tr>
	<if condition="app_conf('BUSINESS_LICENCE') eq 1">
		<tr>
			<td class="item_title">营业执照：</td>
			<td class="item_input"><html:imgUpload name="identify_business_licence" id="identify_business_licence" value="$vo.identify_business_licence" /></td>
		</tr>
	</if>
	<if condition="app_conf('BUSINESS_CODE') eq 1">
		<tr>
			<td class="item_title">组织机构代码证：</td>
			<td class="item_input"><html:imgUpload name="identify_business_code" id="identify_business_code" value="$vo.identify_business_code" /> </td>
		</tr>
	</if>
	<if condition="app_conf('BUSINESS_TAX') eq 1">
		<tr>
			<td class="item_title">税务登记证:</td>
			<td class="item_input"><html:imgUpload name="identify_business_tax" id="identify_business_tax"  value="$vo.identify_business_tax" /></td>
		</tr>
	</if>
	<if condition="app_conf('AUTHORIZED_OPERATION_LETTER') eq 1">
		<tr>
			<td class="item_title">运营授权函：</td>
			<td class="item_input"><html:imgUpload name="authorized_operation_letter" id="authorized_operation_letter"  value="$vo.authorized_operation_letter" /></td>
		</tr>
	</if>
	<if condition="app_conf('AUTHORIZED_OPERATION_CERTIFICATE') eq 1">
		<tr>
			<td class="item_title">运营授权证明:</td>
			<td class="item_input"><html:imgUpload name="authorized_operation_certificate" id="authorized_operation_certificate"  value="$vo.authorized_operation_certificate" /></td>
		</tr>
	</if>
</table>

<div class="blank5"></div>
	<table class="form" cellpadding=0 cellspacing=0>
		<tr>
			<td colspan=2 class="topTd"></td>
		</tr>
		<tr>
			<td class="item_title"></td>
			<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="UserBusiness" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="insert" />
			<input type="hidden" name="member_type" value="2" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.ADD}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
			</td>
		</tr>
		<tr>
			<td colspan=2 class="bottomTd"></td>
		</tr>
	</table> 		 
</form>
</div>
<include file="Public:footer_layui" />
<script type="text/javascript" src="__ROOT__/public/region.js"></script>
<load href='__TMPL__Common/js/user_edit.js' />
<script>
    $(function(){
        $("input[name='is_investor']").bind("click",function(){
            num=$(this).val();
            if(num==2 || num==4 || num==5|| num==6){
                $("#identify_info_2").show("slow");
                $(".identify_info_3").hide();
            }else{
                if(num==0){
                    $("#identify_info_1").hide();
                }else{
                    $("#identify_info_1").show("slow");
                    $(".identify_info_3").show("slow");
                }
                $("#identify_info_2").hide("slow");
            }
        });

        if($("input[name='is_investor']:checked").val()==0){
            $("#identify_info_2").hide();
            $("#identify_info_3").hide();
            $("#identify_info_1").hide();
        }else{
            if($("input[name='is_investor']:checked").val()==1){
                $("#identify_info_1").show("slow");
                $(".identify_info_3").show("slow");
                $("#identify_info_2").hide();
            }else{
                $("#identify_info_2").show("slow");
                $(".identify_info_3").hide();
            }
        }
    });
</script>
<include file="Public:footer" />