{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />

<div class="main">
<div class="main_title">{$vo.name}(ID：{$vo.id}){$Think.lang.EDIT} <a href="{:u("BmPromoterOne/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data" onsubmit="return check();">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">登录手机号:</td>
		<td class="item_input"><input type="text" class="textbox require" name="mobile" value="{$vo.mobile}" /></td>
	</tr>
	<tr>
		<td class="item_title">密码:</td>
		<td class="item_input">
			<input type="text" class="textbox" name="pwd" value="" />
			<span class="tip_span"><span class="tip_span">密码为空时，不修改</span>
		</td>
	</tr>
	<tr>
		<td class="item_title">绑定会员:</td>
		<td class="item_input">
			<input type="text" class="textbox require" name="binding_mobile" value="{$vo.user.mobile}" />
			<input type="hidden" class="" name="binding_user_id_old" value="{$vo.user.id}" />
			<span class="tip_span">新增推广商需要绑定已注册的会员手机号</span>
		</td>
	</tr>
	<tr>
		<td class="item_title">绑定会员信息:</td>
		<td class="item_input">
			<span id="binding_user_id">ID：{$vo.user.id}，呢称：{$vo.user.nick_name}</span>
		</td>
	</tr>
	<tr>
		<td class="item_title">推广中心名称:</td>
		<td class="item_input"><input type="text" class="textbox require" name="name" value="{$vo.name}" /></td>
	</tr>
	<tr>
		<td class="item_title">状态:</td>
		<td class="item_input">
			<lable>有效<input type="radio" name="is_effect" value="1" <if condition="$vo['is_effect'] eq 1">checked="checked"</if> ></lable>
			<lable>无效<input type="radio" name="is_effect" value="0" <if condition="$vo['is_effect'] eq 0">checked="checked"</if> ></lable>
		</td>
	</tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="BmPromoterOne" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
			<input type="hidden" name="id" value="{$vo.id}" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.EDIT}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>
</form>
   
</div>
<include file="Public:footer_layui" />
<load href='__TMPL__Common/js/bm/BmPromoter.js' />
<include file="Public:footer" />