{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
<div class="main_title">{$Think.lang.ADD} <a href="{:u("Date/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="add" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
        <td class="item_title">项目标题:</td>
        <td class="item_input"><input type="text" class="textbox require" name="title" /></td>
	</tr>
    <tr>
        <td class="item_title">问题(回答)描述:</td>
        <td class="item_input">
            <textarea class="textarea require" name="content"></textarea>
        </td>
    </tr>
    <tr>
        <td class="item_title">预约费用:</td>
        <td class="item_input"><input type="text" class="textbox" name="price"/></td>
    </tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="Date" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="insert" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.ADD}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>
</form>
</div>
<include file="Public:footer_layui" />
<include file="Public:footer" />