{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
<div class="main_title">{$vo.title}</div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data" onsubmit="return check();">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
    <tr id="notice">
        <td class="item_title">脏字库:</td>
        <td class="item_input">
            <textarea cols="100" rows="10" name="content" id="content">{$vo.content}</textarea><span class='tip_span'>用英文半角逗号分隔,脏字库词数量不能超过50个;阿拉伯数字不能添加到脏字库。</span>
        </td>
    </tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="Conf" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="save_dirty_words" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.EDIT}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer_layui" />
<include file="Public:footer" />