{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
<div class="main_title_list"><div class="list-line-ico"></div>{$main_title}</div>
<div class="search_row">
	<foreach name="conf" item="conf_group">
		<input type="button" class="button button-add conf_btn" rel="{$key}" value="{:l("CONF_GROUP_".$key)}" <if condition="($key eq 6 && INVEST_TYPE eq 1) or ($key eq 7 && HOUSE_TYPE eq 0 && SELFLESS_TYPE eq 0 && ESTATE_TYPE eq 0) or ($key eq 8 && LICAI_TYPE eq 0)">style="display:none;"</if>  />
	</foreach>
</div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
	<foreach name="conf" item="conf_group">
	<table class="form conf_tab" cellpadding=0 cellspacing=0 rel="{$key}" <if condition="$key eq 6&& INVEST_TYPE eq 1 ">style="display:none;"</if>  >
		<tr>
			<td colspan=2 class="topTd"></td>
		</tr>
		<foreach name="conf_group" item="conf_item">
		<tr <if condition="$conf_item['name'] eq 'DB_VOL_MAXSIZE'">style="display:none;"</if> <if condition="($conf_item.name eq 'INVEST_STATUS'&& INVEST_TYPE gt 0) or ($conf_item.name eq 'IS_FINANCE'&& FINANCE_TYPE eq 0) or ($conf_item.name eq 'IS_SELFLESS'&& SELFLESS_TYPE eq 0) or ($conf_item.name eq 'IS_HOUSE' && HOUSE_TYPE eq 0)  or ($conf_item.name eq 'STOCK_TRANSFER_IS_VERIFY' && INVEST_TYPE eq 1)  or ($conf_item.name eq 'STOCK_TRANSFER_COMMISION' && INVEST_TYPE eq 1)  or ($conf_item.name eq 'IS_STOCK_TRANSFER' && INVEST_TYPE eq 1) or ($conf_item.name eq 'IS_ESTATE' && ESTATE_TYPE eq 0) ">style="display:none;"</if> >
			<td class="item_title">{:l("CONF_".$conf_item['name'])}:</td>
			<td class="item_input">
				<!--系统配置文本输入-->
				<if condition="$conf_item['input_type'] eq 0">
				<input type="text" class="textbox " name="{$conf_item.name}" value="{$conf_item.value}" />
					<if condition="$conf_item.name eq 'MORTGAGE_MONEY'">
						<span style="color:red;">用户缴纳的违约金为：(违约次数+1)*违约金额。诚意金的值要填写整数，如果是第三方托管，诚意金要大于等于1元</span>
					</if>
					<if condition="$conf_item.name eq 'ONLINETIME_TO_EXPERIENCE'">
						<span style="color:red;"> (多少秒转为1点经验)</span>
					</if>
					<if condition="$conf_item.name eq 'TICKET_CATTY_RATIO'">
						<span style="color:red;"> (如：100{$ticke_name}*0.01=1元)</span>
					</if>
					<if condition="$conf_item.name eq 'TICKET_CATTY_MIN'">
						<span style="color:red;"> (元)</span>
					</if>
				</if>
				<!--系统配置文本输入-->

				<!--系统配置密码框输入-->
				<if condition="$conf_item['input_type'] eq 4">
				<input type="password" class="textbox " name="{$conf_item.name}" value="{$conf_item.value}" />
				</if>
				<!--系统配置文本输入-->

				<!--系统配置下拉输入-->
				<if condition="$conf_item['input_type'] eq 1">
					<select name="{$conf_item.name}">
					<foreach name="conf_item.value_scope" item="preset_value">
						<option value="{$preset_value}" <if condition="$conf_item['value'] eq $preset_value">selected="selected"</if>>
							<if condition="$conf_item['name'] eq 'TEMPLATE' or $conf_item['name'] eq 'SHOP_LANG'">{$preset_value}<else />{:l("CONF_".$conf_item['name']."_".$preset_value)}</if>
						</option>
					</foreach>
					</select>
				</if>
				<!--系统配置下拉输入-->
				<!--系统配置图片输入-->
				<if condition="$conf_item['input_type'] eq 2">

				<html:imgUpload id="{$conf_item.name}" name="{$conf_item.name}" value='$conf_item.value' />

				</if>
				<!--系统配置图片输入-->
				<!--系统配置编辑器输入-->
				<if condition="$conf_item['input_type'] eq 3">
				<html:editor id="{$conf_item.name}" name="{$conf_item.name}" type="KINDEDITOR" content="{$conf_item.value}" style=" height:150px;width:750px;" />
				</if>
				<!--系统配置编辑器输入-->
			</td>
		</tr>

		</foreach>
		<if condition="$conf_item['group_id'] eq 2">
			<tr>
				<td class="item_title">注意：</td>
				<td class="item_input">
					php.ini中upload_max_fileszie:<?php echo ini_get("upload_max_filesize"); ?>,post_max_size:<?php echo ini_get("post_max_size"); ?>,上传图片大小不能大于<span  style=" color:red;"> <?php echo intval(ini_get("post_max_size"))<intval(ini_get("upload_max_filesize"))?intval(ini_get("post_max_size"))*1024*1024:intval(ini_get("upload_max_filesize"))*1024*1024;  ?> </span>字节
 				</td>
			</tr>
		</if>
		<tr>
			<td colspan=2 class="bottomTd"></td>
		</tr>
	</table>
	</foreach>
	<div class="blank5"></div>
	<table class="form" cellpadding=0 cellspacing=0>
		<tr>
			<td colspan=2 class="topTd"></td>
		</tr>
		<tr>
			<td class="item_title"></td>
			<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="Conf" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
			<!--隐藏元素-->
			<input type="submit" class="button button-add" value="{$Think.lang.EDIT}" /><input type="reset" class="button button-del" value="{$Think.lang.RESET}" />
			</td>
		</tr>
		<tr>
			<td colspan=2 class="bottomTd"></td>
		</tr>
	</table>
</form>
<div class="blank5"></div>
</div>
<include file="Public:footer_layui" />
<load href='__TMPL__Common/js/conf.js' />
<script type="text/javascript">
    function memcache()
    {
        var cache = $("select[name='CACHE_TYPE']").val();
        if(cache=='Memcached')
            $("input[name='MEMCACHE_HOST']").parent().parent().show();
        else
            $("input[name='MEMCACHE_HOST']").parent().parent().hide();
    }
    $(document).ready(function(){
        $("select[name='CACHE_TYPE']").bind("change",function(){
            memcache();
        });
        memcache();
    });
</script>
<include file="Public:footer" />