{// 引入标签库 }
<tagLib name="html" />
<PHP>
	function get_refund_user_name($uid)
	{
		return M("User")->where("id=".$uid)->getField("user_name");
	}
</PHP>
<div class="main">
<div class="main_title">{$user.do_info}{$user.id}成为{$user.is_investor_name}</div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data" onsubmit="return check_val();">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td colspan=2 ><span style=" color:red;">点击图片可查看源图</span></td>
	</tr>
 		<tr>
			<td class="item_name">真实姓名：</td>
			<td class="item_input"><input type="text" value="{$user.authentication_name}" disabled="true" class="textbox"></td>
		</tr>
		<!--<tr>
			<td class="item_name">身份证号码：</td>
			<td class="item_input"><input type="text" value="{$user.identify_number}" disabled="true" class="textbox"></td>
		</tr>-->
        <if condition="$user['user_type'] eq 0">
		<tr>
			<td class="item_name">身份证正面 ：</td>
			<td class="item_input"><a target="_blank" href="{$user.identify_positive_image}"><img src="{$user.identify_positive_image}" height="50" /></a></td>
		</tr>
		</if>
        <if condition="$user['user_type'] eq 0">
		<tr>
			<td class="item_name">身份证反面</td>
			<td class="item_input"><a target="_blank" href="{$user.identify_nagative_image}"><img src="{$user.identify_nagative_image}"  height="50" /></a></td>
		</tr>
		</if>
        <if condition="$user['user_type'] eq 0">
            <tr>
                <td class="item_name">手持身份证正面照</td>
                <td class="item_input"><a target="_blank" href="{$user.identify_hold_image}"><img src="{$user.identify_hold_image}"  height="50" /></a></td>
            </tr>
        </if>
        <!--
		<if condition="($user.is_investor eq 1) or ($user.is_investor eq 3)  or ($user.is_investor eq 7)">
			<if condition="app_conf('CARD') eq 1">
			<tr>
				<td class="item_name">名片</td>
				<td class="item_input"><a target="_blank" href="{$user.card}"><img src="{$user.card}"  height="50" /></a></td>
			</tr>
			</if>
			<if condition="app_conf('ASSET') eq 1">
			<tr>
				<td class="item_name">资产证明</td>
				<td class="item_input"><a target="_blank" href="{$user.asset}"><img src="{$user.asset}"  height="50" /></a></td>
			</tr>
			</if>
			<if condition="app_conf('OFFICE_DOCUMENTS') eq 1">
			<tr>
				<td class="item_name">职务证明文件</td>
				<td class="item_input"><a target="_blank" href="{$user.office_documents}"><img src="{$user.office_documents}"  height="50" /></a></td>
			</tr>
			</if>
			<if condition="app_conf('GUARANTEE') eq 1">
			<tr>
				<td class="item_name">保证书扫描件</td>
				<td class="item_input"><a target="_blank" href="{$user.guarantee}"><img src="{$user.guarantee}"  height="50" /></a></td>
			</tr>
			</if>
			<tr>
				<td class="item_name">符合以下条件之一</td>
				<td class="item_input">
					<lable>
						<if condition="$user.identity_conditions eq 0">
							我的金融资产超过100万元
						<elseif condition="$user.identity_conditions eq 1" />
							我的年收入超过30万元
						<elseif condition="$user.identity_conditions eq 2" />
							我是专业的风险投资人
						<else />		
							我不符合任何条件
						</if>
					</lable>
				</td>
			</tr>
			<if condition="app_conf('CREDIT_REPORT') eq 1">
			<tr>
				<td class="item_name">信用报告</td>
				<td class="item_input"><a target="_blank" href="{$user.credit_report}"><img src="{$user.credit_report}"  height="50" /></a></td>
			</tr>
			</if>
			<if condition="app_conf('HOUSING_CERTIFICATE') eq 1">
			<tr>
				<td class="item_name">房产认证</td>
				<td class="item_input"><a target="_blank" href="{$user.housing_certificate}"><img src="{$user.housing_certificate}"  height="50" /></a></td>
			</tr>
			</if>
		</if>
 	<if condition="($user.is_investor eq 2) or ($user.is_investor eq 4) or ($user.is_investor eq 5)  or ($user.is_investor eq 6)">
			<tr>
				<td class="item_name">机构名称:</td>
				<td class="item_input"><input type="text" name="identify_business_name" value="{$user.identify_business_name}"></td>
			</tr>
		<if condition="app_conf('BUSINESS_LICENCE') eq 1">
			<tr>
				<td class="item_name">营业执照：</td>
				<td class="item_input"><a target="_blank" href="{$user.identify_business_licence}"><img src="{$user.identify_business_licence}"  height="50"></a></td>
			</tr>
		</if>
		<if condition="app_conf('BUSINESS_CODE') eq 1">
			<tr>
				<td class="item_name">组织机构代码证：</td>
				<td class="item_input"><a target="_blank" href="{$user.identify_business_code}"><img src="{$user.identify_business_code}"  height="50"></a> </td>
			</tr>
		</if>
		<if condition="app_conf('BUSINESS_TAX') eq 1">
			<tr>
				<td class="item_name">税务登记证:</td>
				<td class="item_input"><a target="_blank" href="{$user.identify_business_tax}"><img src="{$user.identify_business_tax}"  height="50"></a></td>
			</tr>
		</if>
		<if condition="app_conf('AUTHORIZED_OPERATION_LETTER') eq 1">
			<tr>
				<td class="item_name">运营授权函：</td>
				<td class="item_input"><a target="_blank" href="{$user.authorized_operation_letter}"><img src="{$user.authorized_operation_letter}"  height="50"></a> </td>
			</tr>
		</if>
		<if condition="app_conf('AUTHORIZED_OPERATION_CERTIFICATE') eq 1">
			<tr>
				<td class="item_name">运营授权证明:</td>
				<td class="item_input"><a target="_blank" href="{$user.authorized_operation_certificate}"><img src="{$user.authorized_operation_certificate}"  height="50"></a></td>
			</tr>
		</if>
	</if>
	-->
	<tr>
			<td class="item_name">+v认证说明</td>
			<td class="item_input"><input type="text" name="v_explain" value="{$user.v_explain}" class="textbox" maxlength="16">
                <span class='tip_span'>&nbsp;最大长度为16</span>
            </td>
	</tr>
	<tr>
		<td class="item_name">类型:</td>
		<td class="item_input">
			查看<input type="radio" name="is_authentication" value="0" checked="checked">
			通过<input type="radio" name="is_authentication" value="2"  >
			未通过<input type="radio" name="is_authentication" value="3"  >
		</td>
	</tr>
	
	<tr class="type_1">
		<td class="item_name">拒绝理由:</td>
		<td class="item_input">
			<textarea name="investor_send_info">{$user.investor_send_info}</textarea>
		</td>
	</tr>	
 	 
	<tr  class="type_2">
		<td class="item_name">&nbsp;</td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$user.id}" />
			<input type="hidden" name="status" value="{$status}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="UserInvestorList" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="investor_go_allow" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="确认" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	 
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<script>
	$(function(){
		$(".type_1").hide();
		$(".type_2").hide();
		$("input[name='is_authentication']").bind("click",function(){
			val=$(this).val();
			if(val==0){
				$(".type_1").hide();
				$(".type_2").hide();
			}else{
				if(val==2){
					$(".type_1").hide();
					$(".type_2").show();
				}
				if(val==3){
					$(".type_1").show();
					$(".type_2").show();
				}
			}
		});
	});
	function check_val(){
		val=$("input[name='is_authentication']:checked").val();
 		if(val==0){
				return false;
			}else{
				if(val==2){
					return confirm('确认将审核通过该用户，确认吗？');
				}
				if(val==3){
					return confirm('确认将审核不通过该用户，确认吗？');
				}
			}
		
	}
</script>