{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
<div class="main_title">商品标签 <a href="{:u("PaiTags/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">标签名称:</td>
		<td class="item_input">
			<input type="text" name="name" value="{$vo.name}" />
		</td>
	</tr>
	<tr>
		<td class="item_title">排序:</td>
		<td class="item_input">
			<input type="text" name="sort" value="{$vo.sort}" />
		</td>

	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="PaiTags" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
			<input type="hidden" name="id" value="{$vo.id}" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.EDIT}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
</table>
</form>
</div>
<include file="Public:footer_layui" />
<include file="Public:footer" />