{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />

<div class="main">
<div class="main_title">{$vo.title}{$Think.lang.EDIT} <a href="{:u("GoodsCate/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.TITLE_SHOW}:</td>
		<td class="item_input"><input type="text" class="textbox require" name="name" value="{$vo.name}" /></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.IS_EFFECT}:</td>
		<td class="item_input">
			<lable>{$Think.lang.IS_EFFECT_1}<input type="radio" name="is_effect" value="1" <if condition="$vo['is_effect'] eq 1">checked="checked"</if> /></lable>
			<lable>{$Think.lang.IS_EFFECT_0}<input type="radio" name="is_effect" value="0" <if condition="$vo['is_effect'] eq 0">checked="checked"</if> /></lable>
		</td>
	</tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$vo.id}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="GoodsCate" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.EDIT}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer_layui" />
<script type="text/javascript">
    /*window.onload = function()
    {
        $("select[name='pid']").bind("change",function(){
            init_article();
        });
        init_article();
    }
    function init_article()
    {
        var pid = $("select[name='pid']").val();
        if(pid == 0)
        {
            $("#article_type").show();
        }
        else
        {
            $("#article_type").hide();
        }
    }*/
</script>
<include file="Public:footer" />