{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />

<div class="main">
<div class="main_title">{$Think.lang.EDIT} <a href="{:u("UserAddr/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">会员:</td>
		<td class="item_input"><input type="text" class="textbox require" readonly value="{$vo.user_name}" /></td>
	</tr>
	<tr>
		<td class="item_title">收货人姓名:</td>
		<td class="item_input"><input type="text" class="textbox require" name="consignee" value="{$vo.consignee}" /></td>
	</tr>
	<tr>
		<td class="item_title">收货人手机号:</td>
		<td class="item_input"><input type="text" class="textbox require" name="consignee_mobile" value="{$vo.consignee_mobile}" /></td>
	</tr>
	<!-- 
	<tr>
		<td class="item_title">是否默认:</td>
		<td class="item_input">
			<lable>是<input type="radio" name="is_default" value="1" <if condition="$vo['is_default'] eq 1">checked</if>  /></lable>
			<lable>否<input type="radio" name="is_default" value="0" <if condition="$vo['is_default'] eq 0">checked</if> /></lable>
		</td>
	</tr>

	<tr>
		<td class="item_title">所属地区:</td>
		<td class="item_input">
			<select name="province">				
			<option value="" rel="0">请选择省份</option>
			<foreach name="region_lv2" item="region">
				<option value="{$region.name}" rel="{$region.id}" <if condition="$region['selected']">selected="selected"</if>>{$region.name}</option>
			</foreach>
			</select>
			
			<select name="city">				
			<option value="" rel="0">请选择城市</option>
			<foreach name="region_lv3" item="region">
				<option value="{$region.name}" rel="{$region.id}" <if condition="$region['selected']">selected="selected"</if>>{$region.name}</option>
			</foreach>
			</select>

		</td>
	</tr> -->
	<tr>
		<td class="item_title">收货人详细地址:</td>
		<td class="item_input"><textarea class="textarea" name="consignee_address" >{$vo.consignee_address}</textarea></td>
	</tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="UserAddr" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
			<input type="hidden" name="id" value="{$vo.id}" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.EDIT}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer_layui" />
<script type="text/javascript" src="__ROOT__/public/region.js"></script>
<load href='__TMPL__Common/js/useraddr.js' />
<script type="text/javascript" src="__TMPL__Common/js/calendar/calendar.php?lang=zh-cn" ></script>
<load href='__TMPL__Common/js/calendar/calendar.css' />
<load href='__TMPL__Common/js/calendar/calendar.js' />
<include file="Public:footer" />