{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
<div class="main_title">{$vo.name}{$Think.lang.EDIT} <a href="{:u("Role/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<style>
	.item_title{width:70px;}
</style>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.NAME}:</td>
		<td class="item_input"><input type="text" class="textbox require" name="name" value="{$vo.name}" /></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.IS_EFFECT}:</td>
		<td class="item_input">
			<lable>{$Think.lang.IS_EFFECT_1}<input type="radio" name="is_effect" value="1" <if condition="$vo['is_effect'] eq 1 ">checked="checked"</if> /></lable>
			<lable>{$Think.lang.IS_EFFECT_0}<input type="radio" name="is_effect" value="0" <if condition="$vo['is_effect'] eq 0 ">checked="checked"</if> /></lable>
		</td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.ROLE_ACCESS}:</td>
		<td class="item_input">
			<table class="access_list" cellpadding=0 cellspacing=0>
			<volist name="navs" id="navs_item">
				<tr>
					<td nowrap>
						{$navs_item.name}
					</td>
					<td>
						<volist name="navs_item.groups" id="menus_item">
							<table class="access_list" cellpadding=0 cellspacing=0>
							<tr>
								<td nowrap>
								{$menus_item.name}
								</td>
								<td>
									<!--3-->
									<table class="access_list" cellpadding=0 cellspacing=0>
									<volist name="menus_item.nodes" id="nodes_item">
										<tr>
											<td class="access_left" nowrap>
											<span title="{$nodes_item.module}">{$nodes_item.name}</span>&nbsp;&nbsp;{$Think.lang.CHECK_ALL}<input type="checkbox" value="{$nodes_item.id}_0" name="role_access[]" onclick="check_module(this);" <if condition="$nodes_item['module_auth'] eq 1">checked="checked"</if> />
											</td>
											<td>
												<!--4-->
												<foreach name="nodes_item.node_list" item="node_item">
													<label style="padding:5px;"><span title="{$node_item.action}">{$node_item.name}</span><input type="checkbox" value="{$nodes_item.id}_{$node_item.id}" name="role_access[]" class="node_item" onclick="check_is_all(this);" <if condition="$node_item['node_auth'] eq 1">checked="checked"</if> <if condition="$nodes_item['module_auth'] eq 1">disabled</if> /></label>
												</foreach>
												<!--4-->
											</td>
										</tr>
									 </volist>
									 </table>
								<!--3-->	 
								</td>
							</tr>
							</table>
						</volist>
					</td>
				</tr>
			</volist>
			</table>
		</td>
	</tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$vo.id}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="Role" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.EDIT}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer_layui" />
<include file="Public:footer" />