{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
<div class="main_title">{$Think.lang.ADD} <a href="{:u("KeyList/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<!--<tr>
		<td class="item_title">手机端类型:</td>
		<td class="item_input"><input type="text" class="textbox require" name="type" />(填写:ios 或 android)</td>
	</tr>-->
	<tr>
		<td class="item_title">加密KEY:</td>
		<td class="item_input">
			<input type="text" class="textbox require" name="aes_key" onkeyup="limitInput.number_letter(this)" maxlength="16"/>(长度：16位)
		</td>
	</tr>
	<!--<tr>
		<td class="item_title">版本:</td>
		<td class="item_input"><input type="text" class="textbox require" name="version" />（格式：yyyymmddnn）</td>
	</tr>-->
	<tr>
		<td class="item_title">是否打包填写:</td>
		<td class="item_input">
			<label>是<input type="radio" name="is_init" value="1" /></label>
			<label>否<input type="radio" name="is_init" value="0" /></label>
		</td>
	</tr>
	<tr>
		<td class="item_title">是否有效:</td>
		<td class="item_input">
			<label>无效<input type="radio" name="is_effect" value="0"/></label>
			<label>有效<input type="radio" name="is_effect" checked value="1"/></label>
		</td>
	</tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="KeyList" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="insert" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.ADD}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer_layui" />
<include file="Public:footer" />