{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
<div class="main_title">{$Think.lang.ADD} <a href="{:u("WarningMsg/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="add" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
        <td class="item_title">警告内容:</td>
        <td class="item_input"><textarea name="content" cols="50" rows="5" maxlength="50" class="require"></textarea></td>
	</tr>
    <tr>
        <td class="item_title">{$Think.lang.IS_EFFECT}:</td>
        <td class="item_input">
            <label>{$Think.lang.IS_EFFECT_1}<input type="radio" name="is_effect" value="1" checked="checked"/></label>
            <label>{$Think.lang.IS_EFFECT_0}<input type="radio" name="is_effect" value="0" /></label>
        </td>
    </tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="WarningMsg" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="insert" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.ADD}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>
</form>
</div>
<include file="Public:footer_layui" />
<include file="Public:footer" />