{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />

<div class="main">
<div class="main_title">{$Think.lang.ADD} <a href="{:u("PaiGoods/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">拍品名称:</td>
		<td class="item_input"><input type="text" class="textbox require" name="name" value="" /></td>
	</tr>
	<tr>
		<td class="item_title">约会时间:</td>
		<td class="item_input">
			<input type="text" class="textbox require" name="date_time" id="date_time" value="" onfocus="return showCalendar('date_time', '%Y-%m-%d %H:%M:%S', false, false, 'btn_log_begin_time');" />
			<input type="button" class="button" id="btn_log_begin_time" value="{$Think.lang.SELECT_TIME}" onclick="return showCalendar('date_time', '%Y-%m-%d %H:%M:%S', false, false, 'btn_log_begin_time');" /></span>
		</td>
	</tr>
	<tr>
		<td class="item_title">联系人:</td>
		<td class="item_input"><input type="text" class="textbox require" name="contact" value="" /></td>
	</tr>
	<tr>
		<td class="item_title">联系电话:</td>
		<td class="item_input"><input type="text" class="textbox require" name="mobile" value="" /></td>
	</tr>
	<tr>
		<td class="item_title">竞拍保证金:</td>
		<td class="item_input"><input type="text" class="textbox require" name="bz_diamonds" value="" /></td>
	</tr>
	<tr>
		<td class="item_title">起拍价:</td>
		<td class="item_input"><input type="text" class="textbox require" name="qp_diamonds" value="" /></td>
	</tr>
	<tr>
		<td class="item_title">加价幅度:</td>
		<td class="item_input"><input type="text" class="textbox require" name="jj_diamonds" value="" /></td>
	</tr>
	<tr>
		<td class="item_title">竞拍时间:</td>
		<td class="item_input"><input type="text" class="textbox require" name="pai_time" value="" />小时</td>
	</tr>
	<tr>
		<td class="item_title">延迟值:</td>
		<td class="item_input"><input type="text" class="textbox require" name="pai_yanshi" value="" />分钟</td>
	</tr>
	<tr>
		<td class="item_title">最大延时:</td>
		<td class="item_input"><input type="text" class="textbox require" name="max_yanshi" value="" />次</td>
	</tr>
	<tr>
		<td class="item_title">拍品属性:</td>
		<td class="item_input">
			<lable>实物<input type="radio" name="is_true" value="1" checked="checked" /></lable>
			<lable>虚拟<input type="radio" name="is_true" value="0" /></lable>
		</td>
	</tr>
	<tr>
		<td class="item_title">拍品描述:</td>
		<td class="item_input"><textarea class="textarea" name="description" ></textarea></td>
	</tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="PaiGoods" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="insert" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.ADD}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer_layui" />
<script type="text/javascript" src="__TMPL__Common/js/calendar/calendar.php?lang=zh-cn" ></script>
<load href='__TMPL__Common/js/calendar/calendar.css' />
<load href='__TMPL__Common/js/calendar/calendar.js' />
<include file="Public:footer" />