/*字体颜色*/
/*主要字色*/
/*标题*/
/*二级标题、简介*/
/*主题字色*/
/*突出色*/
/*界面主题色*/
/*主题风格色*/
/*背景色*/
/*线条颜色*/
/*线条颜色*/
/*跟随主题色变化的背景色*/
/*字体大小 ，如果出现非单行情况可搭配行高，*/
/*头部标题*/
/*辅助标题*/
/*主要标题*/
/*主要简介、二级标题*/
/*主要简介、二级标题*/
/*各类间距，高度*/
/*横向间距*/
/*纵向间距*/
.page_virtual_order_details .content .content-pay .pay-money {
  text-align: center;
  background: #fff;
  color: #333;
  font-size: 0.6rem;
  padding: 1.7rem 0;
  line-height: 1.7rem;
}
.page_virtual_order_details .content .content-pay .pay-money .money-val {
  color: #865efb;
  font-size: 2rem;
  font-weight: bold;
}
.page_virtual_order_details .content .content-pay .pay-method {
  padding: 0rem 0rem;
  font-size: .6rem;
  margin: 0.5rem 0 0 0 ;
  background: #fff;
}
.page_virtual_order_details .content .content-pay .pay-method .radio_box {
  position: relative;
  line-height: 1.25rem;
  padding: 0.6rem 0.75rem 0.15rem 0.75rem;
  display: flex;
  border-bottom: 0.05rem solid #f1f1f1;
  /*设置选中的input的样式*/
  /* + 是兄弟选择器,获取选中后的label元素*/
}
.page_virtual_order_details .content .content-pay .pay-method .radio_box:last-child {
  border: none;
}
.page_virtual_order_details .content .content-pay .pay-method .radio_box input[type="radio"] {
  position: absolute;
  left: 0;
  top: 0.14rem;
  width: 0.8rem;
  height: 0.8rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.page_virtual_order_details .content .content-pay .pay-method .radio_box .radio_check_style {
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
  width: 0.95rem;
  height: 0.95rem;
  cursor: pointer;
  z-index: 1;
}
.page_virtual_order_details .content .content-pay .pay-method .radio_box .radio_check_style i {
  display: none;
}
.page_virtual_order_details .content .content-pay .pay-method .radio_box input:checked + label {
  background: -webkit-linear-gradient(left, #865efb, #b83af3);
  background: -o-linear-gradient(right, #865efb, #b83af3);
  background: -moz-linear-gradient(right, #865efb, #b83af3);
  background: linear-gradient(to right, #865efb, #b83af3);
  border-color: transparent;
  -webkit-background-clip: text;
  -o-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page_virtual_order_details .content .content-pay .pay-method .radio_box input:checked + label i {
  display: inline;
  font-size: 0.95rem;
}
.page_virtual_order_details .content .content-pay .pay-method .radio_box .radio_title {
  font-size: 0.75rem;
}
.page_virtual_order_details .content .content-pay .pay-method .radio_box .radio_img {
  padding-right: 0.5rem;
}
.page_virtual_order_details .content .content-pay .pay-method .radio_box .radio_img img {
  width: 1.25rem;
  height: 1.25rem;
}
