/*1. @import (reference) "文件路径"; 
　　将引入的文件作为样式库使用，因此文件中样式不会被直接编译为css样式规则。当前样式文件通过extend和mixins的方式引用样式库的内容。
2. @import (inline) "文件路径"; 
　　用于引入与less不兼容的css文件，通过inline配置告知编译器不对引入的文件进行编译处理，直接输出到最终输出。注意：引入的文件和当前文件会被编译为一个样式样式
3. @import (less) "文件路径"; 
　　默认使用该配置项，表示引入的文件为less文件。
4. @import (css) "文件路径"; 
　　表示当前操作为CSS中的@import操作。当前文件会输出一个样式文件，而被引入的文件自身为一个独立的样式文件
5. @import (once) "文件路径"; 
　　默认使用该配置项，表示对同一个资源仅引入一次。
6. @import (multiple) "文件路径"; 
　　表示对同一资源可引入多次。*/
/*字体颜色*/
/*主要字色*/
/*标题*/
/*二级标题、简介*/
/*主题字色*/
/*突出色*/
/*界面主题色*/
/*主题风格色*/
/*背景色*/
/*线条颜色*/
/*线条颜色*/
/*跟随主题色变化的背景色*/
/*字体大小 ，如果出现非单行情况可搭配行高，*/
/*头部标题*/
/*辅助标题*/
/*主要标题*/
/*主要简介、二级标题*/
/*主要简介、二级标题*/
/*各类间距，高度*/
/*横向间距*/
/*纵向间距*/
ul,
li,
dl,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
button {
  border: none;
}
a {
  color: #333;
  text-decoration: none;
}
a:active {
  color: #333;
}
/*  @font-face {
   font-family: "iconfont";
 src: url('../images/iconfont/iconfont.eot');
 src: url('../images/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
 url('../images/iconfont/iconfont.woff') format('woff'),
 url('../images/iconfont/iconfont.ttf') format('truetype'),
 url('../images/iconfont/iconfont.svg#iconfont') format('svg');
}  */
@font-face {
  font-family: 'iconfont';
  /* project id 95393 */
  src: url('//at.alicdn.com/t/font_95393_l73c1nlpwbh.eot');
  src: url('//at.alicdn.com/t/font_95393_l73c1nlpwbh.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_95393_l73c1nlpwbh.woff') format('woff'), url('//at.alicdn.com/t/font_95393_l73c1nlpwbh.ttf') format('truetype'), url('//at.alicdn.com/t/font_95393_l73c1nlpwbh.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: baseline;
}
body,
.page,
.page-group {
  background: #fafbff;
  color: #333;
}
.bar .button-link {
  color: #865efb;
}
.bar .icon {
  font-size: .9rem;
}
.title {
  font-size: 0.85rem;
  color: #333;
}
.f10 {
  font-size: 0.5rem;
}
.f12 {
  font-size: 0.6rem;
}
.f14 {
  font-size: 0.7rem;
}
.f15 {
  font-size: 0.75rem;
}
.f16 {
  font-size: 0.8rem;
}
.f18 {
  font-size: 0.9rem;
}
.f20 {
  font-size: 1rem;
}
.f_theme {
  color: #865efb;
}
.f_green {
  color: #5aaf1b;
}
.f_999 {
  color: #999;
}
.f_666 {
  color: #666;
}
.f_555 {
  color: #555;
}
.bg_theme {
  background-color: #865efb;
}
.pl0 {
  padding-left: 0 !important;
}
.pr0 {
  padding-right: 0 !important;
}
.m0 {
  margin: 0 !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.tc {
  text-align: center;
}
/* 按钮组 开始 */
.title {
  background-color: #fff;
}
.bar:after,
.bar-tab:before {
  background-color: #f1f1f1;
}
.content-block {
  margin: 0.75rem 0;
}
.container {
  padding: 0.75rem;
}
.button {
  border: 1px solid #cdcdcd;
  color: #555;
}
.button:active {
  border-color: #b8b8b8;
  color: #3b3b3b;
}
.button-theme {
  color: #865efb;
  border-color: #865efb;
}
.button-theme.active,
.button-theme:active {
  color: #612cfa;
  border-color: #612cfa;
}
.button-theme.button-fill,
.button.button-fill {
  background: -webkit-linear-gradient(left, #865efb, #b83af3);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #865efb, #b83af3);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #865efb, #b83af3);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #865efb, #b83af3);
  /* 标准的语法（必须放在最后） */
  border-color: transparent;
  border-radius: 2rem;
}
.button.button-fill.button-big {
  background: #865efb;
}
.button-theme.button-fill.active,
.button-theme.button-fill:active {
  background: #612cfa;
  color: #fff;
}
.button.button-middle,
.button.button-fill.button-middle {
  height: 1.8rem;
  line-height: 1.8rem;
}
.button.button40 {
  width: 40%;
  display: inline-block;
}
/* 按钮组 结束 */
.card-header {
  font-size: 0.8rem;
}
.list-block {
  margin: 0.5rem 0;
  font-size: 0.75rem;
}
.list-block ul {
  padding-left: 0 !important;
}
.card {
  margin: 0.5rem 0;
  box-shadow: none;
}
.buttons-tab .button {
  height: 2.2rem;
  line-height: 2.2rem;
}
.buttons-tab .button.active {
  color: #865efb;
  border-color: #865efb;
}
.diamond {
  position: relative;
  padding-left: 20px;
  display: inline-block;
  height: 22px;
  line-height: 22px;
}
.diamond:before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  display: inline-block;
  background: url(../images/diamond.png) left center no-repeat;
  width: 26px;
  height: 22px;
  background-size: 60%;
}
input[type=checkbox],
input[type=radio] {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 0;
  outline: 0!important;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=checkbox]:before,
input[type=radio]:before {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  color: #aaa;
  border-radius: 0;
  background: 0 0;
  font-family: "iconfont";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
input[type=checkbox]:checked:before,
input[type=radio]:checked:before {
  color: #865efb;
}
input[type=checkbox]:before {
  content: '\e663';
}
input[type=checkbox]:checked:before {
  content: '\e65f';
}
input[type=radio] {
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: 0;
}
input[type=radio]:before {
  font-family: "iconfont";
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  color: #aaa;
  border-radius: 0;
  background: 0 0;
  -webkit-font-smoothing: antialiased;
  content: '\e678';
}
input[type=radio]:checked:before {
  content: '\e679';
  color: #865efb;
}
.list-block.media-list .item-title {
  font-weight: normal;
}
.list-block .item-media + .item-inner {
  margin-left: .5rem;
}
.list-block .item-link.active-state,
html:not(.watch-active-state) .list-block .item-link:active {
  background-color: #e9e9e9;
}
.pai_status_out {
  color: #999;
}
.pai_status_wait_pay {
  color: #865efb;
}
.pai_status_inline {
  color: #865efb;
}
.pai_status_overtime_out {
  color: #999;
}
.pai_status_ing {
  color: #865efb;
}
.pai_status_success {
  color: #865efb;
}
.pai_status_liupai {
  color: #999;
}
.pai_status_fail {
  color: #999;
}
.order_status_wait_pay {
  color: #865efb;
}
.order_status_wait_date {
  color: #865efb;
}
.order_status_dated {
  color: #865efb;
}
.order_status_fail {
  color: #999;
}
.null-data {
  padding: 20px;
  text-align: center;
  color: #333;
}
.null-data:before {
  content: '';
  background: url(../images/not-data.png) no-repeat;
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto;
  background-size: 100%;
}
.pull-to-refresh-layer {
  -webkit-justify-content: center;
}
.pull-to-refresh-layer .preloader {
  display: -webkit-flex;
  -webkit-justify-content: center;
}
.button.button-fill:active {
  background: #6644ff;
  color: #fff;
}
.modal {
  top: 35%;
}
.modal .modal-inner {
  padding: 0.5rem;
  padding-bottom: 0;
}
.modal .modal-inner:after {
  display: none;
}
.modal .modal-inner textarea {
  width: 100%;
  border: 0;
  padding: .5rem;
  outline: 0;
  overflow: auto;
  font-size: 0.7rem;
}
.modal .modal-buttons {
  padding: 0.5rem;
  background: #e8e8e8;
  border-radius: 0 0 0.35rem 0.35rem;
  padding-top: 0;
}
.modal .modal-buttons .modal-button {
  height: 1.7rem;
  line-height: 1.7rem;
  background: #865efb;
  color: #fff;
}
.modal .modal-buttons .modal-button:first-child:last-child {
  border-radius: 0.2rem;
}
.toast {
  height: auto;
  max-width: 80%;
}
.bar {
  background: #fff;
}
.bar .searchbar {
  background: #fff;
  height: auto;
  margin: 0 0rem;
  padding: 0.4rem 0rem;
}
.bar-header-secondary {
  top: 0;
  height: 2.55rem;
}
.searchbar .searchbar-cancel {
  height: 1.75rem;
  line-height: 1.75rem;
}
.searchbar .search-input input {
  border-radius: 1rem;
  background: #f4f4f4;
  height: 1.75rem;
}
.search-input input .buttons-tab .button {
  color: #333;
  font-size: 0.7rem;
  font-weight: 600;
}
.buttons-tab .button.active {
  color: #9a9a9a;
  border-color: #fff;
}
.list-block .item-inner:after {
  background-color: #f1f1f1;
}
.list-block:before {
  background-color: #f1f1f1;
}
.list-block:after {
  background-color: #f1f1f1;
}
