/*字体颜色*/
/*主要字色*/
/*标题*/
/*二级标题、简介*/
/*主题字色*/
/*突出色*/
/*界面主题色*/
/*主题风格色*/
/*背景色*/
/*线条颜色*/
/*线条颜色*/
/*跟随主题色变化的背景色*/
/*字体大小 ，如果出现非单行情况可搭配行高，*/
/*头部标题*/
/*辅助标题*/
/*主要标题*/
/*主要简介、二级标题*/
/*主要简介、二级标题*/
/*各类间距，高度*/
/*横向间距*/
/*纵向间距*/
.page-shop-shop_order .content .content-block {
  padding: 0;
  margin: 0;
  margin-top: 0.0rem;
  color: #333;
}
.page-shop-shop_order .content .content-block .goods-list {
  margin-top: 0.5rem;
}
.page-shop-shop_order .buttons-tab .button {
  top: 0;
  border-top: 1px solid #f1f1f1;
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  color: #999;
}
.page-shop-shop_order .buttons-tab:after {
  background-color: #fff;
}
.page-shop-shop_order .buttons-tab .button_bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
  height: 0.19rem;
  line-height: 0.19rem;
  display: inline-block;
}
.page-shop-shop_order .buttons-tab .button.active {
  font-weight: bold;
  color: #333;
}
.page-shop-shop_order .buttons-tab .active .button_bottom span {
  background: -webkit-linear-gradient(left, #865efb, #b83af3);
  background: -o-linear-gradient(right, #865efb, #b83af3);
  background: -moz-linear-gradient(right, #865efb, #b83af3);
  background: linear-gradient(to right, #865efb, #b83af3);
  border-color: transparent;
  border-radius: 1rem;
  width: 1rem;
  height: 0.19rem;
  display: inline-block;
}
.page-shop-shop_order .card {
  margin: 0;
  margin-bottom: 0.5rem;
}
.page-shop-shop_order .card:last-child {
  margin-bottom: 0;
}
.page-shop-shop_order .card .card-header {
  font-size: 0.7rem;
  padding: 0rem  0.75rem;
  min-height: 2.05rem;
}
.page-shop-shop_order .card .card-header .goods-type {
  color: #865efb;
}
.page-shop-shop_order .card .card-footer {
  font-size: 0.7rem;
  padding: 0rem  0.75rem;
  min-height: 2.05rem;
}
.page-shop-shop_order .card .card-footer .goods-money {
  font-size: .7rem;
  color: #865efb;
}
.page-shop-shop_order .card .card-footer a {
  background: -webkit-linear-gradient(left, #865efb, #b83af3);
  background: -o-linear-gradient(right, #865efb, #b83af3);
  background: -moz-linear-gradient(right, #865efb, #b83af3);
  background: linear-gradient(to right, #865efb, #b83af3);
  border-color: transparent;
  border-radius: 2rem;
  color: #fff;
  line-height: 1.2rem;
  padding: .25rem .5rem;
  font-size: 0.6rem;
}
.page-shop-shop_order .card .card-footer a.delete {
  background: #dae1fe;
  color: #323433;
}
.page-shop-shop_order .card .card-content .card-content-inner {
  padding: .6rem;
  background: #fff;
  display: flex;
  display: -webkit-flex;
  margin-bottom: .5rem;
}
.page-shop-shop_order .card .card-content .card-content-inner:last-child {
  margin-bottom: 0;
}
.page-shop-shop_order .card .card-content .card-content-inner .goods-img {
  display: flex;
  display: -webkit-flex;
  margin-right: .5rem;
  width: 3.4rem;
  height: 3.4rem;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  position: relative;
}
.page-shop-shop_order .card .card-content .card-content-inner .goods-img img {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
}
.page-shop-shop_order .card .card-content .card-content-inner .goods-img span {
  position: absolute;
  bottom: -0.3rem;
  right: -0.3rem;
  width: 0.7rem;
  height: 0.7rem;
  background: #ff0000;
  border-radius: 50px;
  font-size: 0.5rem;
  color: #fff;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.page-shop-shop_order .card .card-content .card-content-inner .card {
  flex: 1;
  -webkit-flex: 1;
}
.page-shop-shop_order .card .card-content .card-content-inner .card .card-content-inner {
  padding: 0;
  margin: 0;
  line-height: 0.8rem;
  word-wrap: break-word;
  word-break: break-all;
  font-size: #666;
}
.page-shop-shop_order .card .card-content .card-content-inner .card .card-content-inner .inner-text {
  min-height: .95rem;
}
.page-shop-shop_order .card .card-content .card-content-inner .card .card-content-inner p {
  margin-bottom: 0.35rem;
}
.page-shop-shop_order .card .card-content .card-content-inner .card .card-content-inner .inner-type {
  color: #a5a5a5;
}
.page-shop-shop_order .card .card-content .card-content-inner .card .card-footer {
  padding: 0;
  min-height: 0;
  line-height: 0.8rem;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.page-shop-shop_order .card .card-content .card-content-inner .card .card-footer i {
  vertical-align: top;
  line-height: 0.9rem;
}
.page-shop-shop_order .card .card-footer .goods-all-money {
  text-align: right;
  width: 100%;
}
.page-shop-shop_order .card .card-footer .goods-all-money a {
  padding: 0 0.25rem;
  line-height: 1.2rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ff9478;
  border-radius: 0.2rem;
  color: #ff9478;
}
.page-shop-shop_order .goods-money {
  font-size: 0.7rem;
}
.page-shop-shop_order .goods-money i {
  font-size: 0.8rem;
  color: #ff0000;
}
.page-shop-shop_order nav {
  display: flex;
  display: -webkit-flex;
  height: 2.25rem;
  background: #fff;
  font-size: 0.7rem;
}
.page-shop-shop_order nav .all-goods-money {
  width: 11.7rem;
  text-align: right;
  padding-right: 0.75rem;
  line-height: 2.25rem;
}
.page-shop-shop_order nav .all-goods-money .goods-money i {
  line-height: 2.25rem;
  font-size: 0.8rem;
}
.page-shop-shop_order nav .m-button {
  flex: 1;
  -webkit-flex: 1;
}
.page-shop-shop_order nav .m-button a {
  height: 100%;
  border: 0;
  line-height: 2.25rem;
  color: #fff;
  top: 0;
  border-radius: 0;
  background: #ff9900;
}
