/*字体颜色*/
/*主要字色*/
/*标题*/
/*二级标题、简介*/
/*主题字色*/
/*突出色*/
/*界面主题色*/
/*主题风格色*/
/*背景色*/
/*线条颜色*/
/*线条颜色*/
/*跟随主题色变化的背景色*/
/*字体大小 ，如果出现非单行情况可搭配行高，*/
/*头部标题*/
/*辅助标题*/
/*主要标题*/
/*主要简介、二级标题*/
/*主要简介、二级标题*/
/*各类间距，高度*/
/*横向间距*/
/*纵向间距*/
.page-shop-shop_goods_details .content {
  bottom: 2.25rem;
}
.page-shop-shop_goods_details .goods-img {
  width: 100%;
  height: 96vw;
}
.page-shop-shop_goods_details .goods-img img {
  width: 100%;
  height: 100%;
}
.page-shop-shop_goods_details .content-block {
  margin: 0;
  padding: 0;
}
.page-shop-shop_goods_details .content-block .card {
  margin: 0 0 0.3rem;
  color: #333;
}
.page-shop-shop_goods_details .content-block .card .card-content-inner {
  padding: 0 0.5rem;
  font-size: 0.7rem;
}
.page-shop-shop_goods_details .content-block .card .card-footer {
  min-height: 0;
  padding: 0 0.5rem;
  font-size: 0.6rem;
  color: #666;
}
.page-shop-shop_goods_details .content-block .card .card-footer .goods-money {
  color: #fb0000;
  font-weight: bold;
  font-size: 0.7rem;
}
.page-shop-shop_goods_details .content-block .card .card-footer .goods-money i {
  font-size: 0.8rem;
  line-height: 0.9rem;
}
.page-shop-shop_goods_details .content-block .card .card-header {
  font-size: 0.6rem;
}
.page-shop-shop_goods_details .content-block .card .card-header:after {
  height: 0px;
}
.page-shop-shop_goods_details .content-block .goods-info {
  padding: 0.25rem 0;
}
.page-shop-shop_goods_details .content-block .store {
  margin: 0;
  margin-bottom: 0.25rem;
}
.page-shop-shop_goods_details .content-block .store .item-inner {
  justify-content: initial;
  font-size: 0.6rem;
}
.page-shop-shop_goods_details .content-block .store .item-inner .store-logo {
  width: 2.3rem;
  height: 2.3rem;
  overflow: hidden;
  border-radius: 50px;
  margin-right: 0.5rem;
}
.page-shop-shop_goods_details .content-block .store .item-inner .store-logo img {
  width: 100%;
  height: 100%;
}
.page-shop-shop_goods_details .content-block .store .item-inner .store-info {
  line-height: 1.15rem;
}
.page-shop-shop_goods_details .content-block .facebook-card .card-header {
  color: #ff0000;
  font-size: 0.7rem;
}
.page-shop-shop_goods_details .content-block .facebook-card .good-description {
  padding: 0rem 0.75rem 0.5rem 0.75rem ;
  line-height: 1rem;
  font-size: 0.6rem;
}
.page-shop-shop_goods_details nav {
  display: flex;
  display: -webkit-flex;
  height: 2.55rem;
}
.page-shop-shop_goods_details nav div a.button {
  height: 100%;
  border: 0;
  line-height: 2.55rem;
  top: 0;
  border-radius: 0;
}
.page-shop-shop_goods_details nav .left a {
  background: #fff;
  width: 6.25rem;
  color: #333;
}
.page-shop-shop_goods_details nav .left a .gradient-text-one {
  background: -webkit-linear-gradient(left, #865efb, #b83af3);
  background: -o-linear-gradient(right, #865efb, #b83af3);
  background: -moz-linear-gradient(right, #865efb, #b83af3);
  background: linear-gradient(to right, #865efb, #b83af3);
  border-color: transparent;
  -webkit-background-clip: text;
  -o-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: 2.75rem;
  top: -0.3rem;
  font-size: 1rem;
  /*height: 0.75rem;*/
  display: block;
  z-index: 2;
}
.page-shop-shop_goods_details nav .left a span {
  font-size: 0.55rem;
  position: absolute;
  left: 2.6rem;
  top: 0.6rem;
  height: 0.55rem;
  z-index: 1;
}
.page-shop-shop_goods_details nav .right a {
  background: -webkit-linear-gradient(left, #865efb, #b83af3);
  background: -o-linear-gradient(right, #865efb, #b83af3);
  background: -moz-linear-gradient(right, #865efb, #b83af3);
  background: linear-gradient(to right, #865efb, #b83af3);
  border-color: transparent;
  /*width: 12.55rem;*/
  width: 19rem;
  color: #fff;
}
