/*字体颜色*/
/*主要字色*/
/*标题*/
/*二级标题、简介*/
/*主题字色*/
/*突出色*/
/*界面主题色*/
/*主题风格色*/
/*背景色*/
/*线条颜色*/
/*线条颜色*/
/*跟随主题色变化的背景色*/
/*字体大小 ，如果出现非单行情况可搭配行高，*/
/*头部标题*/
/*辅助标题*/
/*主要标题*/
/*主要简介、二级标题*/
/*主要简介、二级标题*/
/*各类间距，高度*/
/*横向间距*/
/*纵向间距*/
.page-shop-podcasr_goods_management .bar:after {
  background-color: #fff;
}
.page-shop-podcasr_goods_management .buttons-tab:after {
  background-color: #fff;
}
.page-shop-podcasr_goods_management .bar-nav {
  padding: 0;
  top: 2.55rem;
}
.page-shop-podcasr_goods_management .bar-nav .button {
  top: 0;
  border-top: 1px solid #f1f1f1;
  position: relative;
  display: inline-block;
}
.page-shop-podcasr_goods_management .bar-nav .button .button_bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
  height: 0.19rem;
  line-height: 0.19rem;
  display: inline-block;
}
.page-shop-podcasr_goods_management .bar-nav .button.active .button_bottom span {
  background: -webkit-linear-gradient(left, #865efb, #b83af3);
  background: -o-linear-gradient(right, #865efb, #b83af3);
  background: -moz-linear-gradient(right, #865efb, #b83af3);
  background: linear-gradient(to right, #865efb, #b83af3);
  border-color: transparent;
  border-radius: 1rem;
  width: 1rem;
  height: 0.19rem;
  display: inline-block;
}
.page-shop-podcasr_goods_management .bar-nav ~ .content {
  top: 2.4rem;
}
.page-shop-podcasr_goods_management .goods-list {
  margin: 0.6rem 0;
}
.page-shop-podcasr_goods_management .goods-list .goods-item {
  margin-bottom: 0.5rem;
  background: #fff;
}
.page-shop-podcasr_goods_management .goods-list .item-content {
  display: -webkit-box;
  padding: 0.75rem;
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
  color: #999;
}
.page-shop-podcasr_goods_management .goods-list .item-content .item-image {
  width: 3.4rem;
  height: 3.4rem;
  margin-right: 0.5rem;
}
.page-shop-podcasr_goods_management .goods-list .item-content .item-image img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.page-shop-podcasr_goods_management .goods-list .item-content .item-info {
  font-size: 0.7rem;
  -webkit-box-flex: 1;
}
.page-shop-podcasr_goods_management .goods-list .item-content .item-info p {
  line-height: 1.2;
  margin-top: 0.25rem;
  font-size: .6rem;
}
.page-shop-podcasr_goods_management .goods-list .item-content .item-info .item-info-title {
  font-size: .75rem;
  font-weight: 500;
  color: #333;
  padding-bottom: 0.15rem;
}
.page-shop-podcasr_goods_management .goods-list .item-content .item-info .item-info-price {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #999;
}
.page-shop-podcasr_goods_management .goods-list .item-content .item-info .item-info-price .s-r {
  color: #865efb;
}
.page-shop-podcasr_goods_management .goods-list .item-content .item-info .item-info-sell {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #555;
}
.page-shop-podcasr_goods_management .goods-list .item-content .item-info .item-info-sell .button {
  display: inline-block;
  font-size: 0.65rem;
}
.page-shop-podcasr_goods_management .goods-list .item-content:last-child {
  border-bottom: 0;
}
.page-shop-podcasr_goods_management .goods-list .item-footer {
  height: 1.9rem;
  line-height: 1.9rem;
  padding: 0 .75rem;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.page-shop-podcasr_goods_management .goods-list .item-footer .item-f-con {
  color: #999;
  height: 1.9rem;
  line-height: 1.9rem;
}
.page-shop-podcasr_goods_management .goods-list .item-footer .item-f-con span {
  font-size: .6rem;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 0.2rem;
}
.page-shop-podcasr_goods_management .goods-list .item-footer .item-f-but {
  width: 3rem;
}
.page-shop-podcasr_goods_management .goods-list .item-footer .button-fill {
  padding: 0 0.8rem;
  height: 1.2rem;
  line-height: 1.3rem;
  font-size: .6rem;
}
.page-shop-podcasr_goods_management .bar-tab .button {
  height: 100%;
  top: 0;
  border-radius: 0;
  line-height: 2.5rem;
}
