/*字体颜色*/
/*主要字色*/
/*标题*/
/*二级标题、简介*/
/*主题字色*/
/*突出色*/
/*界面主题色*/
/*主题风格色*/
/*背景色*/
/*线条颜色*/
/*线条颜色*/
/*跟随主题色变化的背景色*/
/*字体大小 ，如果出现非单行情况可搭配行高，*/
/*头部标题*/
/*辅助标题*/
/*主要标题*/
/*主要简介、二级标题*/
/*主要简介、二级标题*/
/*各类间距，高度*/
/*横向间距*/
/*纵向间距*/
.page-shop-distribution_goods_list .searchbar {
  position: absolute;
  width: 100%;
  padding: 0.5rem;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 999;
}
.page-shop-distribution_goods_list .searchbar .search-input {
  margin: 0;
}
.page-shop-distribution_goods_list .shop-nav {
  background: #fff;
  height: 2.2rem;
  line-height: 2.2rem;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  top: 2.55rem;
  border-bottom: 2px solid #fff;
  padding: 0;
}
.page-shop-distribution_goods_list .shop-nav select {
  padding: 0 1.35rem;
  -webkit-appearance: none;
  width: 100%;
  text-align: center;
  border: 0;
  font-size: .7rem;
  background: 0 0;
  border-top: 1px solid #f1f1f1;
  color: #333;
  font-weight: 600;
}
.page-shop-distribution_goods_list .shop-nav a {
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  display: block;
  text-align: center;
  font-size: 0.7rem;
  color: #999;
  font-weight: 600;
}
.page-shop-distribution_goods_list .shop-nav a .iconfont {
  font-size: 0.6rem;
  margin-left: 0.25rem;
}
.page-shop-distribution_goods_list .shop-nav a.active {
  color: #333;
}
.page-shop-distribution_goods_list .shop-nav .nav-item {
  border-top: 1px solid #f1f1f1;
  position: relative;
  display: block;
}
.page-shop-distribution_goods_list .shop-nav .nav-item .button_bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
  height: 0.19rem;
  line-height: 0.19rem;
  display: inline-block;
}
.page-shop-distribution_goods_list .shop-nav .nav-item.active .button_bottom span {
  background: -webkit-linear-gradient(left, #865efb, #b83af3);
  background: -o-linear-gradient(right, #865efb, #b83af3);
  background: -moz-linear-gradient(right, #865efb, #b83af3);
  background: linear-gradient(to right, #865efb, #b83af3);
  border-color: transparent;
  border-radius: 1rem;
  width: 1rem;
  height: 0.19rem;
  display: inline-block;
}
.page-shop-distribution_goods_list .bar-nav ~ .content {
  top: 2.4rem;
}
.page-shop-distribution_goods_list .bar:after {
  background-color: #fff;
}
.page-shop-distribution_goods_list .buttons-tab:after {
  background-color: #fff;
}
.page-shop-distribution_goods_list .shop-list {
  margin: 0.6rem 0;
}
.page-shop-distribution_goods_list .shop-list .shop-item {
  margin: .5rem 0;
  background: #fff;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-content {
  display: -webkit-box;
  padding: 0.75rem;
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
  color: #999;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-image {
  width: 3.4rem;
  height: 3.4rem;
  margin-right: 0.5rem;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-image img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-info {
  font-size: 0.6rem;
  -webkit-box-flex: 1;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-info p {
  line-height: 1.2;
  margin-top: .25rem;
  color: #999;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-info .item-info-title {
  font-size: .75rem;
  font-weight: 500;
  color: #333;
  height: 1.8rem;
  padding-bottom: 0.15rem;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-info .item-info-price {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #999;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-info .item-info-price .s-r {
  font-size: 0.6rem;
  color: #865efb;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-info .item-info-btn {
  color: #865efb;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-info .item-info-btn .s-l {
  margin-top: -0.5rem;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-info .item-info-btn .button {
  display: inline-block;
  font-size: 0.65rem;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-footer {
  height: 1.9rem;
  line-height: 1.9rem;
  padding: 0 .75rem;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-footer .item-f-con {
  color: #999;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-footer .item-f-con span {
  font-size: .6rem;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-footer .item-f-but {
  display: inline-block;
  width: 4.5rem;
}
.page-shop-distribution_goods_list .shop-list .shop-item:last-child {
  border-bottom: 0;
}
