/*字体颜色*/
/*主要字色*/
/*标题*/
/*二级标题、简介*/
/*主题字色*/
/*突出色*/
/*界面主题色*/
/*主题风格色*/
/*背景色*/
/*线条颜色*/
/*线条颜色*/
/*跟随主题色变化的背景色*/
/*字体大小 ，如果出现非单行情况可搭配行高，*/
/*头部标题*/
/*辅助标题*/
/*主要标题*/
/*主要简介、二级标题*/
/*主要简介、二级标题*/
/*各类间距，高度*/
/*横向间距*/
/*纵向间距*/
.page-shop-see_boring .content-padded {
  margin: 0;
  padding: 0.5rem 0.75rem;
}
.page-shop-see_boring .content-block-title {
  margin: 0.5rem 0.75rem;
}
.page-shop-see_boring .see_boring_hd {
  margin-top: 0.5rem;
  background: #fff;
  font-size: 0.7rem;
}
.page-shop-see_boring .see_boring_hd p {
  margin: 0.25rem 0;
}
.page-shop-see_boring .see_boring_bd .see_boring_list {
  position: relative;
  padding: 0.5rem 0.75rem;
  background: #fff;
}
.page-shop-see_boring .see_boring_bd .see_boring_list:before {
  position: absolute;
  top: 0;
  left: 1rem;
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  border-left: 1px solid #dedede;
}
.page-shop-see_boring .see_boring_bd .see_boring_list li {
  display: flex;
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
}
.page-shop-see_boring .see_boring_bd .see_boring_list li i {
  position: relative;
  width: 0.5rem;
  min-width: 0.5rem;
  height: 0.5rem;
  display: block;
  border-radius: 50%;
  background: #865efb;
  margin-top: 0.15rem;
  margin-right: 0.75rem;
  z-index: 1;
}
