/*字体颜色*/
/*主要字色*/
/*标题*/
/*二级标题、简介*/
/*主题字色*/
/*突出色*/
/*界面主题色*/
/*主题风格色*/
/*背景色*/
/*线条颜色*/
/*线条颜色*/
/*跟随主题色变化的背景色*/
/*字体大小 ，如果出现非单行情况可搭配行高，*/
/*头部标题*/
/*辅助标题*/
/*主要标题*/
/*主要简介、二级标题*/
/*主要简介、二级标题*/
/*各类间距，高度*/
/*横向间距*/
/*纵向间距*/
.page-shop-virtual_shop_order_details .bar-tab {
  z-index: 20;
}
.page-shop-virtual_shop_order_details .content {
  bottom: 2.5rem;
}
.page-shop-virtual_shop_order_details .content .content-block {
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
  color: #333;
}
.page-shop-virtual_shop_order_details .content .content-block .status_info {
  background: #fff;
  padding: 1.5rem .5rem;
  color: #865efb;
}
.page-shop-virtual_shop_order_details .content .content-block .status_info .status {
  word-wrap: break-word;
  word-break: break-all;
  display: inline-block;
}
.page-shop-virtual_shop_order_details .content .content-block .addressed {
  display: flex;
  display: -webkit-flex;
  background: #fff;
  border: none;
  padding: 0.8rem .75rem .5rem;
  font-size: .6rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-top: 1px solid #f1f1f1;
}
.page-shop-virtual_shop_order_details .content .content-block .addressed .address-info {
  font-size: .75rem;
  font-weight: bold;
  flex: 1;
  -webkit-flex: 1;
}
.page-shop-virtual_shop_order_details .content .content-block .addressed .address-info p.user-info {
  font-size: .75rem;
  font-weight: bold;
}
.page-shop-virtual_shop_order_details .content .content-block .addressed .address-info p.user-info .iconfont {
  padding-right: 0.2rem;
  color: #ccc;
  font-size: 0.75rem;
}
.page-shop-virtual_shop_order_details .content .content-block .addressed .address-info p.user-info .adress-mobile {
  padding-left: 1rem;
}
.page-shop-virtual_shop_order_details .content .content-block .addressed .address-info p {
  word-wrap: break-word;
  word-break: break-all;
}
.page-shop-virtual_shop_order_details .content .content-block .addressed .address-info .adress-var {
  padding: 0.3rem 0.5rem 0 1.2rem;
  font-size: 0.6rem;
}
.page-shop-virtual_shop_order_details .content .content-block .addressed .send-anchor {
  display: -webkit-flex;
  display: flex;
  flex: 1;
  -webkit-flex: 1;
  justify-content: left;
  align-items: center;
  margin-right: .5rem;
  margin-top: -0.2rem;
  line-height: 1.2rem;
}
.page-shop-virtual_shop_order_details .content .content-block .addressed .send-anchor p {
  font-size: .75rem;
  font-weight: bold;
}
.page-shop-virtual_shop_order_details .content .content-block .addressed .send-anchor .iconfont {
  color: #ccc;
  padding-right: 0.5rem;
}
.page-shop-virtual_shop_order_details .content .content-block .addressed .send-anchor + .status_info {
  padding: 0rem .5rem;
  margin-top: -0.2rem;
  line-height: 1.2rem;
}
.page-shop-virtual_shop_order_details .content .content-block .card {
  margin: 0;
  margin-bottom: 0.25rem;
}
.page-shop-virtual_shop_order_details .content .content-block .card .card-header,
.page-shop-virtual_shop_order_details .content .content-block .card .card-footer {
  min-height: 2.05rem;
}
.page-shop-virtual_shop_order_details .content .content-block .card .card-footer:before {
  background-color: #f1f1f1;
}
.page-shop-virtual_shop_order_details .content .content-block .card:last-child {
  margin-bottom: 0;
}
.page-shop-virtual_shop_order_details .content .content-block .card .card-content .card-content-inner {
  padding: .5rem .5rem .5rem 0.75rem;
  display: flex;
  display: -webkit-flex;
}
.page-shop-virtual_shop_order_details .content .content-block .card .card-content .card-content-inner:last-child {
  margin-bottom: 0;
}
.page-shop-virtual_shop_order_details .content .content-block .card .card-content .card-content-inner .goods-img {
  display: flex;
  display: -webkit-flex;
  margin-right: .25rem;
  width: 3.4rem;
  height: 3.4rem;
}
.page-shop-virtual_shop_order_details .content .content-block .card .card-content .card-content-inner .goods-img img {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
}
.page-shop-virtual_shop_order_details .content .content-block .card .card-content .card-content-inner .card {
  flex: 1;
  -webkit-flex: 1;
  padding: 0rem;
  position: relative;
}
.page-shop-virtual_shop_order_details .content .content-block .card .card-content .card-content-inner .card .card-content-inner {
  padding: 0;
  margin: 0;
  line-height: 0.8rem;
  word-wrap: break-word;
  word-break: break-all;
}
.page-shop-virtual_shop_order_details .content .content-block .card .card-content .card-content-inner .card .card-content-inner p {
  margin-bottom: .35rem;
  font-size: 0.75rem;
  line-height: 0.9rem;
}
.page-shop-virtual_shop_order_details .content .content-block .card .card-content .card-content-inner .card .card-footer {
  background: #ffff;
  margin-bottom: 0rem;
}
.page-shop-virtual_shop_order_details .content .content-block .card .card-content .card-content-inner .card .card-footer i {
  vertical-align: top;
  line-height: 0.9rem;
}
.page-shop-virtual_shop_order_details .content .content-block .card .card-content .card-content-inner .card .card-footer.good-bottom {
  position: absolute;
  bottom: 0rem;
  font-size: 0.6rem;
  width: 100%;
  padding: 0;
  min-height: 1.0rem;
}
.page-shop-virtual_shop_order_details .content .content-block .card .card-content .card-content-inner .card .card-footer .footer-input {
  -webkit-flex: 1;
  flex: 1;
  width: 100%;
  border: 0;
  background: #fff;
  word-wrap: break-word;
  display: block;
  overflow: hidden;
}
.page-shop-virtual_shop_order_details .content .content-block .card .card-content .card-footer {
  margin-bottom: 0.5rem;
}
.page-shop-virtual_shop_order_details .content .content-block .card .card-content .card-footer .footer-input {
  -webkit-flex: 1;
  flex: 1;
  width: 100%;
  border: 0;
  word-wrap: break-word;
  display: block;
  overflow: hidden;
}
.page-shop-virtual_shop_order_details .content .content-block .card .card-footer .pay {
  color: #333;
}
.page-shop-virtual_shop_order_details .content .content-block .card .card-footer .goods-all-money {
  text-align: right;
  width: 100%;
}
.page-shop-virtual_shop_order_details .content .content-block .goods-money {
  color: #865efb;
  font-size: 0.6rem;
}
.page-shop-virtual_shop_order_details .content .content-block .goods-money i {
  font-size: 0.8rem;
}
.page-shop-virtual_shop_order_details .content .list-block .item-subtitle {
  font-size: 0.68rem;
  line-height: 1.6rem;
  font-size: 0.6rem;
}
.page-shop-virtual_shop_order_details .content .list-block .item-inner {
  font-size: 0.68rem;
  padding: 0;
  min-height: 2.05rem;
}
.page-shop-virtual_shop_order_details .content .list-block .good_name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: initial;
  line-height: 1.2;
  margin: 0.4rem 0;
  font-size: 0.68rem;
}
.page-shop-virtual_shop_order_details .content .list-block .item-title {
  line-height: 1.2rem;
}
.page-shop-virtual_shop_order_details .content .list-block .item-title .iconfont {
  color: #ccc;
  margin-right: 0.5rem;
  font-size: 0.9rem;
}
.page-shop-virtual_shop_order_details .content .list-block .item-after {
  color: #865efb;
  line-height: 1.2rem;
}
.page-shop-virtual_shop_order_details .content .list-block .item-content {
  min-height: 2.05rem;
  border-bottom: 1px solid #f1f1f1;
  padding: 0 0.75rem;
}
.page-shop-virtual_shop_order_details .content .list-block.media-list ul:before,
.page-shop-virtual_shop_order_details .content .list-block.media-list ul:after {
  height: 0;
}
.page-shop-virtual_shop_order_details .content .list-block.media-list .item-content {
  border: none;
}
.page-shop-virtual_shop_order_details .content .list-block.media-list .item-inner {
  padding: 0.5rem 0;
}
.page-shop-virtual_shop_order_details .content .footer_btn {
  background-color: #fff;
}
.page-shop-virtual_shop_order_details .content .footer_btn .btn {
  background-color: #fff;
}
