/*字体颜色*/
/*主要字色*/
/*标题*/
/*二级标题、简介*/
/*主题字色*/
/*突出色*/
/*界面主题色*/
/*主题风格色*/
/*背景色*/
/*线条颜色*/
/*线条颜色*/
/*跟随主题色变化的背景色*/
/*字体大小 ，如果出现非单行情况可搭配行高，*/
/*头部标题*/
/*辅助标题*/
/*主要标题*/
/*主要简介、二级标题*/
/*主要简介、二级标题*/
/*各类间距，高度*/
/*横向间距*/
/*纵向间距*/
.page-shop-order_settlement_user .content {
  bottom: 2.25rem;
}
.page-shop-order_settlement_user .list-block {
  margin-top: 0rem;
}
.page-shop-order_settlement_user .list-block .item-content {
  padding-left: 1rem;
}
.page-shop-order_settlement_user .list-block .m-order-info {
  background: #fff;
}
.page-shop-order_settlement_user .list-block.order-info-title {
  margin: 0.6rem 0 0 0;
}
.page-shop-order_settlement_user .list-block ul:before {
  height: 0;
}
.page-shop-order_settlement_user .card {
  margin: 0;
  margin-bottom: 0.25rem;
}
.page-shop-order_settlement_user .card:last-child {
  margin-bottom: 0;
}
.page-shop-order_settlement_user .card .card-content .card-content-inner {
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
  background: #fff;
  display: flex;
  display: -webkit-flex;
  margin-bottom: 0.5rem;
}
.page-shop-order_settlement_user .card .card-content .card-content-inner:last-child {
  margin-bottom: 0;
}
.page-shop-order_settlement_user .card .card-content .card-content-inner .goods-img {
  display: flex;
  display: -webkit-flex;
  margin-right: 0.25rem;
  width: 3.4rem;
  height: 3.4rem;
}
.page-shop-order_settlement_user .card .card-content .card-content-inner .goods-img img {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
}
.page-shop-order_settlement_user .card .card-content .card-content-inner .card {
  background: #fff;
  flex: 1;
  -webkit-flex: 1;
}
.page-shop-order_settlement_user .card .card-content .card-content-inner .card .card-content-inner {
  padding: 0;
  margin: 0;
  line-height: 0.8rem;
  word-wrap: break-word;
  word-break: break-all;
}
.page-shop-order_settlement_user .card .card-content .card-content-inner .card .card-content-inner .inner-text {
  min-height: 0.8rem;
}
.page-shop-order_settlement_user .card .card-content .card-content-inner .card .card-content-inner p {
  margin-bottom: 0.35rem;
}
.page-shop-order_settlement_user .card .card-content .card-content-inner .card .card-footer {
  padding: 0;
  min-height: 0;
  line-height: 0.8rem;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.page-shop-order_settlement_user .card .card-content .card-content-inner .card .card-footer i {
  vertical-align: top;
  line-height: 0.9rem;
}
.page-shop-order_settlement_user .card .card-content .user-info ul li:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #f1f1f1;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.page-shop-order_settlement_user .card .card-footer {
  color: #333;
}
.page-shop-order_settlement_user .card .card-footer .footer-input {
  -webkit-flex: 1;
  flex: 1;
  width: 100%;
  border: 0;
  line-height: 0.7rem;
  color: #999;
}
.page-shop-order_settlement_user .card .card-footer .goods-all-money {
  text-align: right;
  width: 100%;
}
.page-shop-order_settlement_user .goods-money {
  color: #865efb;
  font-weight: bold;
  font-size: 0.7rem;
}
.page-shop-order_settlement_user .goods-money i {
  font-size: 0.8rem;
}
.page-shop-order_settlement_user nav {
  display: flex;
  display: -webkit-flex;
  height: 2.25rem;
  background: #fff;
  font-size: 0.7rem;
}
.page-shop-order_settlement_user nav .all-goods-money {
  width: 11.7rem;
  text-align: right;
  padding-right: 0.75rem;
  line-height: 2.25rem;
}
.page-shop-order_settlement_user nav .all-goods-money .goods-money i {
  line-height: 2.25rem;
  font-size: 0.8rem;
}
.page-shop-order_settlement_user nav .m-button {
  flex: 1;
  -webkit-flex: 1;
}
.page-shop-order_settlement_user nav .m-button a {
  height: 100%;
  border: 0;
  line-height: 2.25rem;
  color: #fff;
  top: 0;
  border-radius: 0;
  background: #865efb;
}
.page-shop-order_settlement_user .selected-box .purchase-type-1 {
  padding: 0.75rem 0;
  width: 80%;
}
.page-shop-order_settlement_user .selected-box .to-address {
  width: 20%;
  height: 2rem;
}
.page-shop-order_settlement_user .selected-box .purchase-type-1 p {
  padding: 0.15rem 0;
}
.page-shop-order_settlement_user .selected-box .purchase-type-1 p.address-info {
  padding-left: 1.5rem;
}
.page-shop-order_settlement_user .selected-box .item-inner {
  padding: 0 0.75rem;
  min-height: 2.5rem;
}
.page-shop-order_settlement_user .selected-box .adress-mobile {
  padding-left: 1rem;
}
.page-shop-order_settlement_user .selected-box .address-info {
  padding-left: 1rem;
  font-size: 0.6rem;
}
.page-shop-order_settlement_user .selected-box .list-block .item-inner:after {
  background-color: #f1f1f1;
}
.page-shop-order_settlement_user .selected-box .no-adress {
  text-align: center;
  padding: 2rem 0;
  font-weight: bold;
  border-bottom: 1px solid #f1f1f1;
}
.page-shop-order_settlement_user .selected-box .no-adress a {
  color: #865efb;
}
.page-shop-order_settlement_user .radio_box {
  position: relative;
  /*设置选中的input的样式*/
  /* + 是兄弟选择器,获取选中后的label元素*/
  /*添加的加号与label进行拼接(一个矩形边框去掉上和左的边框),再旋转45度*/
}
.page-shop-order_settlement_user .radio_box input[type="radio"] {
  position: absolute;
  left: 0;
  top: 0.14rem;
  width: 0.8rem;
  height: 0.8rem;
  opacity: 0;
  z-index: 2;
}
.page-shop-order_settlement_user .radio_box label {
  position: absolute;
  left: 0;
  top: 0.14rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 1px solid #999;
  cursor: pointer;
  z-index: 1;
}
.page-shop-order_settlement_user .radio_box input:checked + label {
  border: 1px solid #865efb;
  background: -webkit-linear-gradient(left, #865efb, #b83af3);
  background: -o-linear-gradient(right, #865efb, #b83af3);
  background: -moz-linear-gradient(right, #865efb, #b83af3);
  background: linear-gradient(to right, #865efb, #b83af3);
  border-color: transparent;
}
.page-shop-order_settlement_user .radio_box input:checked + label::after {
  position: absolute;
  content: "";
  width: 0.2rem;
  height: 0.35rem;
  top: 0.05rem;
  left: 0.2rem;
  border: 0.11rem solid #fff;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}
.page-shop-order_settlement_user .radio_box .radio_title {
  padding-left: 1.5rem;
  font-weight: bold;
}
