/*字体颜色*/
/*主要字色*/
/*标题*/
/*二级标题、简介*/
/*主题字色*/
/*突出色*/
/*界面主题色*/
/*主题风格色*/
/*背景色*/
/*线条颜色*/
/*线条颜色*/
/*跟随主题色变化的背景色*/
/*字体大小 ，如果出现非单行情况可搭配行高，*/
/*头部标题*/
/*辅助标题*/
/*主要标题*/
/*主要简介、二级标题*/
/*主要简介、二级标题*/
/*各类间距，高度*/
/*横向间距*/
/*纵向间距*/
.page_user_center-grade .content {
  background: #865efb;
}
.page_user_center-grade .content .y-rank {
  margin: 1.25rem 1rem;
  border-radius: .25rem;
  overflow: hidden;
  background-color: #fff;
}
.page_user_center-grade .content .y-rank .y-ranktop {
  padding: 1rem;
}
.page_user_center-grade .content .y-rank .y-ranktop .y-level {
  color: #fff;
  width: 85%;
  height: 2rem;
  line-height: 1.7rem;
  background: url(../images/y1.png) no-repeat;
  background-size: 100% 100%;
  margin: 0 auto 1rem;
}
.page_user_center-grade .content .y-rank .y-ranktop img {
  width: 80%;
}
.page_user_center-grade .content .y-rank .y-ranktop .y-scroll {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  margin-top: .5rem;
  position: relative;
  overflow: hidden;
  background: #aaa;
}
.page_user_center-grade .content .y-rank .y-ranktop .y-scroll div {
  width: 50%;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #865efb;
}
.page_user_center-grade .content .y-rank .y-ranktop .exp_val {
  color: #999;
}
.page_user_center-grade .content .y-rank .y-rankbottom {
  padding: 1.4rem .5rem 1.7rem;
  border-top: 1px dashed #fafbff;
  color: #999;
}
