{// 引入标签库 }
<tagLib name="html" />
<script type="text/javascript">
	
	function check_incharge_form()
	{
		if($("input[name='diamonds']").val()=='')
		{
            alert("请输入钻石");
			return false;
		}
		if($("input[name='diamonds']").val()!=''&&isNaN($("input[name='diamonds']").val()))
		{
			alert(LANG['DIAMONDS_FORMAT_ERROR']);
			return false;
		}
        /*if($("input[name='score']").val()!=''&&isNaN($("input[name='score']").val()))
		{
			alert(LANG['SCORE_FORMAT_ERROR']);
			return false;
		}
        if($("input[name='ticket']").val()!=''&&isNaN($("input[name='ticket']").val()))
		{
			alert(LANG['TICKET_FORMAT_ERROR']);
			return false;
		}*/
		
		return true;
	}
</script>
<div class="main">
<div class="main_title">{$user_info.nick_name} {$Think.lang.DIAMONDS}:{$user_info.diamonds}&nbsp;{$Think.lang.USER_SCORE}:{$user_info.score}&nbsp;<!--{$Think.lang.USER_TICKET}:{$user_info.ticket}--></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data" onsubmit="return check_incharge_form();">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.INCHARGE_USER_DIAMONDS}:</td>
		<td class="item_input"><input type="text" class="textbox require" name="diamonds" />
		<span class='tip_span'>[{$Think.lang.INCHARGE_USER_DIAMONDS_TIP}]</span>
		</td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.INCHARGE_MSG}:</td>
		<td class="item_input"><input type="text" class="textbox" name="msg" style="width:400px;" />
		</td>
	</tr>
	<tr>
		<td class="item_title">&nbsp;</td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$user_info.id}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="User" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="modify_account" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.OK}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
