{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />

<div class="main">
<div class="main_title">{$main_title} <a href="{:u("WeiboList/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">小视频ID:</td>
		<td class="item_input">{$list['id']}</td>
	</tr>
	<tr>
		<td class="item_title">小视频:</td>
		<td class="item_input"><video src="{$list['data']}" style="width:300px;" controls></video></td>
	</tr>
	<tr>
		<td class="item_title">发布内容:</td>
		<td class="item_input">{$list['content']}</td>
	</tr>
	<if condition="$is_open_tencent eq 1 and $check_status eq 0">
		<tr>
			<td class="item_title">分类:</td>
			<td class="item_input">
			<span>
			 已开启腾讯云获取分类
				<!--&nbsp;&nbsp;{$list['classify_title']}-->
            </span>&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td class="item_title">标签:</td>
			<td class="item_input">
			已开启腾讯云获取标签
			<!--<foreach name="tag_titles" item="item">,&nbsp;&nbsp;{$item.title}</foreach>-->
			</td>
		</tr>
	<else/>
	<tr>
		<td class="item_title">分类:</td>
		<td class="item_input">
			<span id="classify_list">
			<select name="classify_id" id="classify_id">
			    <if condition="$list['classify_id'] gt 0">
					<option value="{$list['classify_id']}">{$list['classify_title']}</option>
			    </if>
				<if condition="$list['check_status'] eq 0">
					<option value="0">未选择</option>
				</if>
				<foreach name="classify_list" item="item">
					<option value="{$item['id']}">{$item['title']}</option>
				</foreach>
			</select>
            </span>&nbsp;&nbsp;
		    <input type="text" class="textbox" name="classify_title" value="{$classify_title}" /><input type="button" class="button" value="搜索" onclick="search_classify();"/>
		</td>
	</tr>
	<tr>
		<td class="item_title">标签:</td>
		<td class="item_input">
			<foreach name="tag_list" item="item">
				<input type="checkbox" name="tag_ids[]" value="{$item.id}" <foreach name="tag_info" item="ids_item"><if condition="$ids_item['id'] eq $item['id']">checked="checked"</if></foreach> />{$item.title}&nbsp;&nbsp;
			</foreach>
		</td>
	</tr>
    </if>
	<tr>
		<td class="item_title">商业广告:</td>
		<td class="item_input">
			<lable>&nbsp;是&nbsp;&nbsp;<input type="radio" name="is_adv" value="1" <if condition="$list['is_adv'] eq 1">checked="checked"</if> /></lable>
			<lable>&nbsp;否&nbsp;&nbsp;<input type="radio" name="is_adv" value="0" <if condition="$list['is_adv'] eq 0">checked="checked"</if> /></lable>
		</td>
	</tr>
	<tr>
		<td class="item_title">是否热门:</td>
		<td class="item_input">
			<lable>&nbsp;是&nbsp;&nbsp;<input type="radio" name="is_hot" value="1" <if condition="$list['is_hot'] eq 1">checked="checked"</if> /></lable>
			<lable>&nbsp;否&nbsp;&nbsp;<input type="radio" name="is_hot" value="0" <if condition="$list['is_hot'] eq 0">checked="checked"</if> /></lable>
		</td>
	</tr>
	<tr>
		<td class="item_title">是否报名大赛:</td>
		<td class="item_input">
			<p style="padding-left: 5px;">{$is_apply}</p>
		</td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.IS_EFFECT}:</td>
		<td class="item_input">
			<lable>{$Think.lang.IS_EFFECT_1}<input type="radio" name="status" value="1" <if condition="$list['status'] eq 1">checked="checked"</if> /></lable>
			<lable>{$Think.lang.IS_EFFECT_0}<input type="radio" name="status" value="0" <if condition="$list['status'] eq 0">checked="checked"</if> /></lable>
		</td>
	</tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$list.id}" />
			<input type="hidden" name="is_open_tencent" value="{$is_open_tencent}" />
			<input type="hidden" name="check_status" value="{$check_status}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="WeiboList" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.EDIT}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer_layui" />
<script>
    function search_classify() {
        var key = $("input[name='classify_title']").val();
        if($.trim(key)=='') {
            alert('请输入分类名称');
        } else {
            $.ajax({
                url: ROOT+"?"+VAR_MODULE+"=WeiboList&"+VAR_ACTION+"=search_classify",
                data: "ajax=1&key="+key,
                type: "POST",
                success: function(obj){
                    var ber_str = '<select name="classify_id" id="classify_id"></select>';
                    $("#classify_list").html(ber_str);
                    $.each(obj,function(n,value){
                        var str = '<option value="'+value.id+'"selected="selected">'+value.title+'</option>';
                        $("#classify_id").append(str);
                    });
                }
            });
        }
    }
</script>
<include file="Public:footer" />