{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<include file="Public:new" />
<style>
	.dataTable td{
		max-width:10rem;
	}
</style>
<div class="main">
<div class="main_title_list"><div class="list-line-ico"></div>{$main_title}</div>
<php>
    function get_weibo_type($type){
        switch($type){
			case 'imagetext':
			return '图文动态';
	case 'video':
	return '视频动态';

	case 'weixin':
	return '微信账号';

	case 'goods':
	return '虚拟商品动态';

	case 'red_photo':
	return '红包图片动态';

	case 'photo':
	return '写真动态';
		}
    }
    function get_nickname($id){
        $get_nickname=$GLOBALS['db']->getOne("select nick_name from ".DB_PREFIX."user where id=".$id);
		return emoji_decode($get_nickname);
    }
	function screenshot($screenshot){
		return "<img src='".$screenshot."' style='height:35px;width:35px;'/>";
	}
	function get_weibo_status($status){
		if($status){
			return '上架';
		}else{
			return '下架';
		}
	}
	function get_price_info($price){
		if($price>0){
			return $price;
		}else{
			return '免费';

		}
	}
	function get_is_recommend($is_recommend){
		if($is_recommend){
			return '是';
		}else{
			return '否';
		}
	}
	function get_check_status($check_status){
	if($check_status){
	return '是';
	}else{
	return '否';
	}
	}
	function get_adv($is_adv){
	if($is_adv){
	return '是';
	}else{
	return '否';
	}
	}
	function get_hot($is_hot){
	if($is_hot){
	return '是';
	}else{
	return '否';
	}
	}
	function is_effect($status){
	if($status){
	return '有效';
	}else{
	return '无效';
	}
	}
</php>
<div class="button_row">
	<!--<input type="button" class="button" value="{$Think.lang.ADD}" onclick="add();" />-->
</div>

<div class="search_row">
	<form name="search" action="__APP__" method="get" class="clearfix">
        <div>{$Think.lang.WEIBO}ID：<input type="text" class="textbox" name="weibo_id" value="{:trim($_REQUEST['weibo_id'])}" style="width:100px;" /></div>
		<div>发布人ID：<input type="text" class="textbox" name="user_id" value="{:trim($_REQUEST['user_id'])}" style="width:100px;" /></div>
        <div>发布时间：<span><input type="text" class="textbox" name="create_time_1" id="create_time_1" value="{$_REQUEST['create_time_1']}" onfocus="this.blur(); return showCalendar('create_time_1', '%Y-%m-%d', false, false, 'btn_create_time_1');" /><input type="button" class="button" id="btn_create_time_1" value="{$Think.lang.SELECT_TIME}" onclick="return showCalendar('create_time_1', '%Y-%m-%d', false, false, 'btn_create_time_1');" /></span> - <span><input type="text" class="textbox" name="create_time_2" id="create_time_2" value="{$_REQUEST['create_time_2']}" onfocus="this.blur(); return showCalendar('create_time_2', '%Y-%m-%d', false, false, 'btn_create_time_2');" /><input type="button" class="button" id="btn_create_time_2" value="{$Think.lang.SELECT_TIME}" onclick="return showCalendar('create_time_2', '%Y-%m-%d', false, false, 'btn_create_time_2');" /></span>
			&nbsp;&nbsp;状态：
			<select name="status">
				<option value="" <if condition="$_REQUEST['status'] eq '-1'">selected="selected"</if>>所有</option>
				<option value="0" <if condition="$_REQUEST['status'] eq '0'">selected="selected"</if>>无效</option>
				<option value="1" <if condition="$_REQUEST['status'] eq '1'">selected="selected"</if>>有效</option>
			</select>
			 <!--审核：-->
			<!--<select name="check_status">-->
				<!--<option value="" <if condition="$_REQUEST['check_status'] eq '-1'">selected="selected"</if>>所有</option>-->
				<!--<option value="0" <if condition="$_REQUEST['check_status'] eq '0'">selected="selected"</if>>未审核</option>-->
				<!--<option value="1" <if condition="$_REQUEST['check_status'] eq '1'">selected="selected"</if>>已审核</option>-->
			<!--</select>-->
			商业广告：
			<select name="is_adv">
				<option value="" <if condition="$_REQUEST['is_adv'] eq '-1'">selected="selected"</if>>所有</option>
				<option value="0" <if condition="$_REQUEST['is_adv'] eq '0'">selected="selected"</if>>否</option>
				<option value="1" <if condition="$_REQUEST['is_adv'] eq '1'">selected="selected"</if>>是</option>
			</select>
			热门：
			<select name="is_hot">
				<option value="" <if condition="$_REQUEST['is_hot'] eq '-1'">selected="selected"</if>>所有</option>
				<option value="0" <if condition="$_REQUEST['is_hot'] eq '0'">selected="selected"</if>>否</option>
				<option value="1" <if condition="$_REQUEST['is_hot'] eq '1'">selected="selected"</if>>是</option>
			</select>
			<input type="hidden" value="WeiboList" name="m" />
			<input type="hidden" value="index" name="a" />
			<input type="submit" class="button" value="{$Think.lang.SEARCH}" />
		</div>
	</form>
</div>
<?php if (defined('OPEN_SVIDEO_MODULE') && OPEN_SVIDEO_MODULE) { ?>
<html:list
	id="dataTable"
	style="dataTable"
	name="weibo"
	checkbox="true"
	action="true"
	datasource="list"
	show="id:{$Think.lang.ID}|90px
			,user_id:发布人ID
			,user_id|get_nickname:发布人
			,type|get_weibo_type:{$Think.lang.WEIBO}类型
			,content:发布内容
			,status|is_effect=$weibo['status']:{$Think.lang.WEIBO}状态
			,is_adv|get_adv:商业广告
			,is_hot|get_hot:热门
			,is_apply:是否已报名
			,create_time:发布时间
			"
	actionlist="edit:{$Think.lang.EDIT},foreverdel:{$Think.lang.DEL}" />
<?php } else { ?>
<html:list
	id="dataTable"
	style="dataTable"
	name="weibo"
	checkbox="true"
	action="true"
	datasource="list"
	show="id:{$Think.lang.ID}|90px
			,user_id:发布人ID
			,user_id|get_nickname:发布人
			,type|get_weibo_type:{$Think.lang.WEIBO}类型
			,content:发布内容
			,price|get_price_info:发布价格
			,status|is_effect=$weibo['status']:{$Think.lang.WEIBO}状态
			,is_adv|get_adv:商业广告
			,is_hot|get_hot:热门
			,is_apply:是否已报名
			,create_time:发布时间
			"
	actionlist="edit:{$Think.lang.EDIT},foreverdel:{$Think.lang.DEL}" />
<?php } ?>
	<table class="dataTable">
		<tbody>
			<td colspan="8">
				<input type="button" class="button button-del" value="{$Think.lang.DEL}" onclick="foreverdel();" />
			</td>
		</tbody>
	</table>
<div class="page">{$page}</div>
</div>
<include file="Public:footer_layui" />
<load href='__TMPL__Common/js/jquery.bgiframe.js' />
<load href='__TMPL__Common/js/jquery.weebox.js' />
<load href='__TMPL__Common/js/user.js' />
<load href='__TMPL__Common/style/weebox.css' />
<script type="text/javascript" src="__TMPL__Common/js/calendar/calendar.php?lang=zh-cn" ></script>
<load href='__TMPL__Common/js/calendar/calendar.css' />
<load href='__TMPL__Common/js/calendar/calendar.js' />
<include file="Public:footer" />