{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
<div class="main_title">{$vo.adm_name}{$Think.lang.EDIT} <a href="{:u("ApiList/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">接口名称:</td>
		<td class="item_input">{$vo.name}</td>
	</tr>
	<tr>
		<td class="item_title">接口参数:</td>
		<td class="item_input"><input type="text" class="textbox" name="ctl_act" value="{$vo.ctl_act}"/></td>
	</tr>
	<tr>
		<td class="item_title">是否需要传cookie:</td>
		<td class="item_input">
			<lable>需要<input type="radio" name="has_cookie" value="1" <if condition="$vo['has_cookie'] eq 1 ">checked="checked"</if> /></lable>
			<lable>不需要<input type="radio" name="has_cookie" value="0" <if condition="$vo['has_cookie'] eq 0 ">checked="checked"</if> /></lable>
		</td>
	</tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$vo.id}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="ApiList" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.EDIT}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer_layui" />
<include file="Public:footer" />