{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
    <div class="main_title_list"><div class="list-line-ico"></div>约见保障</div>
    <div class="blank5"></div>
    <form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
        <table class="form" cellpadding=0 cellspacing=0>
            <tr>
                <td class="item_title">内容:</td>
                <td class="item_input"><textarea cols="100" rows="10" name="value">{$security.value}</textarea></td>
            </tr>
            <tr>
                <td class="item_title"></td>
                <td class="item_input">
                    <!--隐藏元素-->
                    <input type="hidden" name="{:conf("VAR_MODULE")}" value="Laoyu" />
                    <input type="hidden" name="{:conf("VAR_ACTION")}" value="security_update" />
                    <!--隐藏元素-->
                    <input type="submit" class="button" value="{$Think.lang.ADD}" />
                    <input type="reset" class="button" value="{$Think.lang.RESET}" />
                </td>
            </tr>
            <tr>
                <td colspan=2 class="bottomTd"></td>
            </tr>
        </table>
    </form>
    <div class="blank5"></div>
</div>
<include file="Public:footer_layui" />
<include file="Public:footer" />