{// 引入标签库 }
<tagLib name="html" />
<PHP>
	function get_refund_user_name($uid)
	{
		return M("User")->where("id=".$uid)->getField("user_name");
	}
</PHP>
<div class="main">
<div class="main_title">{$user.do_info}{$user.id}成为{$user.is_investor_name}</div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data" onsubmit="return check_val();">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td colspan=2 ><span style=" color:red;">点击图片可查看源图</span></td>
	</tr>
 		<tr>
			<td class="item_name">真实姓名：</td>
			<td class="item_input"><input type="text" value="{$user.authentication_name}" disabled="true" class="textbox"></td>
		</tr>
		<!--<tr>
			<td class="item_name">身份证号码：</td>
			<td class="item_input"><input type="text" value="{$user.identify_number}" disabled="true" class="textbox"></td>
		</tr>-->
		<if condition="$user['authentication_type'] eq '教师'">
		<tr>
			<td class="item_name">教师资格证 ：</td>
			<td class="item_input"><a target="_blank" href="{$user.teaching_certificate}"><img src="{$user.teaching_certificate}" height="50" /></a></td>
		</tr>
		<tr>
			<td class="item_name">学历证书 ：</td>
			<td class="item_input"><a target="_blank" href="{$user.education_certificate}"><img src="{$user.education_certificate}" height="50" /></a></td>
		</tr>
		</if>
		<if condition="$user['authentication_type'] eq '机构'">
		<tr>
			<td class="item_name">营业资格证 ：</td>
			<td class="item_input"><a target="_blank" href="{$user.business_license}"><img src="{$user.business_license}" height="50" /></a></td>
		</tr>
		</if>
        <if condition="$user['user_type'] eq 0">
		<tr>
			<td class="item_name">身份证正面 ：</td>
			<td class="item_input"><a target="_blank" href="{$user.identify_positive_image}"><img src="{$user.identify_positive_image}" height="50" /></a></td>
		</tr>
		</if>
        <if condition="$user['user_type'] eq 0">
		<tr>
			<td class="item_name">身份证反面</td>
			<td class="item_input"><a target="_blank" href="{$user.identify_nagative_image}"><img src="{$user.identify_nagative_image}"  height="50" /></a></td>
		</tr>
		</if>
            <tr>
                <td class="item_name">手持身份证正面照</td>
                <td class="item_input"><a target="_blank" href="{$user.identify_hold_image}"><img src="{$user.identify_hold_image}"  height="50" /></a></td>
            </tr>
	<tr>
			<td class="item_name">+v认证说明</td>
			<td class="item_input"><input type="text" name="v_explain" value="{$user.v_explain}" class="textbox" maxlength="16">
                <span class='tip_span'>&nbsp;最大长度为16</span>
            </td>
	</tr>
	<tr>
		<td class="item_name">类型:</td>
		<td class="item_input">
			查看<input type="radio" name="is_authentication" value="0" checked="checked">
			通过<input type="radio" name="is_authentication" value="2"  >
			未通过<input type="radio" name="is_authentication" value="3"  >
		</td>
	</tr>
	
	<tr class="type_1">
		<td class="item_name">拒绝理由:</td>
		<td class="item_input">
			<textarea name="investor_send_info">{$user.investor_send_info}</textarea>
		</td>
	</tr>	
 	 
	<tr  class="type_2">
		<td class="item_name">&nbsp;</td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$user.id}" />
			<input type="hidden" name="status" value="{$status}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="EduUserInvestorList" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="investor_go_allow" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="确认" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	 
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<script>
	$(function(){
		$(".type_1").hide();
		$(".type_2").hide();
		$("input[name='is_authentication']").bind("click",function(){
			val=$(this).val();
			if(val==0){
				$(".type_1").hide();
				$(".type_2").hide();
			}else{
				if(val==2){
					$(".type_1").hide();
					$(".type_2").show();
				}
				if(val==3){
					$(".type_1").show();
					$(".type_2").show();
				}
			}
		});
	});
	function check_val(){
		val=$("input[name='is_authentication']:checked").val();
 		if(val==0){
				return false;
			}else{
				if(val==2){
					return confirm('确认将审核通过该用户，确认吗？');
				}
				if(val==3){
					return confirm('确认将审核不通过该用户，确认吗？');
				}
			}
		
	}
</script>