{// 引入标签库 }
<tagLib name="html" />
<PHP>
    function to_money($money){
        return format_price($money);
    }
	function get_refund_user_name($uid)
	{
		return M("User")->where("id=".$uid)->getField("user_name");
	}
</PHP>
<div class="main">
<div class="main_title">{$refund_data.user_id|get_refund_user_name}申请提现{$refund_data.money|to_money}，确认将{$info.do}该用户提现。</div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data" onsubmit="return confirm('确认将{$info.do}该用户提现，确认吗？');">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{$info.do}备注:</td>
		<td class="item_input"><input type="text" class="textbox" name="reply" style="width:400px;" />
		</td>
	</tr>
	<tr>
		<td class="item_title">&nbsp;</td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$refund_data.id}" />
			<input type="hidden" name="status" value="{$status}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="UserRefund" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="refund_go_allow" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="确认" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>
</form>
</div>
