{include file="inc/header.html"}
<?php
    $this->_var['dpagecss'][] = $this->_var['TMPL_REAL']."/css/pay-h5_pay.css";
$this->_var['dcpagecss'][] = $this->_var['TMPL_REAL']."/css/pay-h5_pay.css";
?>
<link rel="stylesheet" type="text/css" href="{function name="parse_css" v="$dpagecss" c="$dcpagecss"}" />
<style>
</style>
<div class="page page-current page_virtual_order_details" id="page-pai_user-virtual_order_details">
	<nav class="bar bar-tab footer_btn tc">
		<a class="button button40 button-round button-middle button-fill button-theme J-pay_diamonds" href="javascript:void(0);" data-order_sn="{$data.data.order_sn}" data-order_id="{$data.data.order_id}" data-pai_id="{$data.data.pai_id}" data-ordertype="{$data.data.order_type}" data-purchase_type="{$data.data.purchase_type}">立即支付</a>
  	</nav>
  	<div class="content">
   		<div class="content-pay">
   			<div class="pay-money">
   				<p class="money-val">&yen;{$data.data.total_diamonds}</p>
				<p>订单金额</p>

   			</div>
   			<div class="pay-method">
				<ul>
					{foreach from=$data.data.payment_info item=item key=key payment=payment}
					<li class="radio_box">
						<input type="radio" name="pay-money" value="{$item.id}" class="input-check" {if $key eq 0} checked="checked" {/if}/>
						<label class="radio_check_style"><i class="iconfont">&#xe66e;</i></label>
						<span class="radio_img"><img src="{function name=get_spec_image v=$item.logo w=24 h=24}" alt=""></span>
						<span class="radio_title">{$item.name}</span>
					</li>
					{/foreach}
				</ul>
   			</div>
   		</div>
  	</div>
</div>
<script type="text/javascript">
	var data_json={
		"roomId":"{$data.roomId}",
		"groupId":"{$data.groupId}",
		"createrId":"{$data.createrId}",
		"loadingVideoImageUrl":"{$data.loadingVideoImageUrl}"
	};
	var data_json = JSON.parse('<?php echo json_encode($this->_var['data']['data']['shop_info']); ?>');
	shop_info=JSON.stringify(data_json);
</script>
{include file="inc/footer.html"}