{include file="inc/header.html"}
<?php
    $this->_var['dpagecss'][] = $this->_var['TMPL_REAL']."/css/shop-shop_goods_details.css";
$this->_var['dcpagecss'][] = $this->_var['TMPL_REAL']."/css/shop-shop_goods_details.css";
?>
<link rel="stylesheet" type="text/css" href="{function name="parse_css" v="$dpagecss" c="$dcpagecss"}"/>
<div class="page page-current page-shop-shop_goods_details" id="page-shop-shop_goods_details">
    <div class="content">
        <div class="goods-img">
            <img src="{$data.goods.imgs}" alt="">
        </div>
        <div class="content-block">
            <div class="card goods-info">
                <div class="card-content" >
                    <div class="card-content-inner">
                        {$data.goods.name}
                    </div>
                </div>
                <div class="card-footer no-border">
                    <span class="goods-money">&yen;{$data.goods.price}</span>
                    <span>运费：{$data.goods.kd_cost}</span>
                    <span>{$data.goods.sales}人购买</span>
                </div>
            </div>
            {if $data.goods_tags neq ''}
            <div class="card">
                <div class="card-header">
                    {foreach from=$data.goods_tags item=item key=key name=item_tags}
                    <div>
                        <i>
                            <img style="width: 1rem;height: 1rem" src="{$item.image}">
                        </i>
                        <span>{$item.name}</span>
                    </div>
                    {/foreach}
                </div>
            </div>
            {/if}
            <div class="card facebook-card">
                <div class="card-header no-border">
                    <span>商品详情</span>
                </div>
                <div class="good-description f_666">
                    {$data.goods.description}
                </div>
                {foreach from=$data.goods.imgs_details item=item key=key name=item_name}
                <div class="card-content"><img src="{$item}" alt="" width="100%"></div>
                {/foreach}
            </div>
        </div>
    </div>
    <nav class="bar bar-tab">
        <!--<div class="left">-->
            <!--&lt;!&ndash;<a href="javascript:void(0)" class="button button-light J-anchor">送主播</a>&ndash;&gt;-->
            <!--<a href="javascript:void(0)" class="button button-light J-store">-->
                <!--<i class="iconfont gradient-text-one">&#xe895;</i>-->
                <!--<span>店铺</span>-->
            <!--</a>-->
        <!--</div>-->
        <div class="right">
            <a href="javascript:void(0)" class="button button-light J-oneself">立即购买</a>
        </div>
    </nav>
</div>
<script type="text/javascript">
	var data = {
		goods_id: '{$data.goods.goods_id}',
		podcast_id: '{$data.podcast_id}',
		number: 1
	};
</script>
{include file="inc/footer.html"}