{include file="inc/header.html"}
    <style type="text/css">
    .shop-cover {
        width: 100%;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shop-cover img {
        max-width: 100%;
        max-height: 100%;
    }

    .shop-info {
        display: flex;
        background-color: #fff;
        padding: .5rem;
    }

    .shop-info .avator {
        width: 2.1rem;
        height: 2.1rem;
        margin-right: .5rem;
        flex-shrink: 0;
    }

    .shop-info .avator img {
        width: 100%;
        height: 100%;
        border-radius: 2.1rem;
    }

    .shop-info .info {
        width: 100%;
    }

    .shop-info .info h3 {
        font-size: .7rem;
    }

    .shop-info .info span {
        font-size: .55rem;
        color: #999;
    }

    .shop-list li {
        display: flex;
        padding: .5rem;
    }

    .shop-list li .shop-img {
        width: 3rem;
        height: 2.5rem;
        flex-shrink: 0;
    }

    .shop-list li .shop-img img {
        width: 100%;
        height: 100%;
    }

    .shop-list li shop-info {
        width: 100%;
    }

    .shop-list li shop-info h3 {
        font-size: .7rem;
    }

    .shop-list li shop-info .description {
        color: #666;
    }
    .list-block .item-text{
        height: initial;
        font-size: .65rem;
        color: #ff5500;
    }
    .list-block .item-subtitle{
        color: #999;
        font-size: .6rem;
    }
    .list-block .item-content{
        padding-left: .5rem;
    }
    </style>
    <div class="page page-current page-shop-shop_details" id="page-shop-shop_details">
        <div class="content">
            <div class="shop-cover">
                <img src="{$data.shop_info.image}">
            </div>
            <div class="shop-info">
                <div class="avator">
                    <img src="{$data.shop_info.image}">
                </div>
                <div class="info">
                    <h3>{$data.shop_info.name}</h3>
                    <span>{$data.shop_info.description}</span>
                </div>
            </div>
            <div class="list-block media-list">
                <ul>
                    {foreach from=$data.goods_list item=item key=key}
                    <li>
                        <a href='{url_wap r="shop#shop_goods_details" p="goods_id=$item.id"}' class="item-content">
                            <div class="item-media"><img src="{$item.imgs}" style='width: 4rem; height: 3rem;'></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">{$item.name}</div>
                                </div>
                                <div class="item-subtitle">{$item.description}</div>
                                <div class="item-text">￥{$item.price}</div>
                            </div>
                        </a>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
    </div>
    {include file="inc/footer.html"}