{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />

<div class="main">
<div class="main_title">运营中心{$Think.lang.ADD} <a href="{:u("XyPromoterOne/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data" onsubmit="return check();">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">登录手机号:</td>
		<td class="item_input"><input type="text" class="textbox require" name="mobile" /></td>
	</tr>
	<tr>
		<td class="item_title">密码:</td>
		<td class="item_input">
			<input type="text" class="textbox" name="pwd" />
			<span class="tip_span"><span class="tip_span">密码为空时，默认密码为123456</span>
		</td>
	</tr>
	<tr>
		<td class="item_title">绑定会员:</td>
		<td class="item_input">
			<input type="text" class="textbox require" name="binding_mobile" value="" />
			<input type="hidden" class="" name="binding_user_id_old" value="0" />
			<span class="tip_span">新增运营中心需要绑定已注册的会员手机号</span>
		</td>
	</tr>
	<tr>
		<td class="item_title">绑定会员信息:</td>
		<td class="item_input">
			<span id="binding_user_id">输入绑定会员手机号</span>
		</td>
	</tr>
	<tr>
		<td class="item_title">运营中心名称:</td>
		<td class="item_input"><input type="text" class="textbox require" name="name" /></td>
	</tr>
	<tr>
		<td class="item_title">状态:</td>
		<td class="item_input">
			<lable>有效<input type="radio" name="is_effect" value="1" checked="checked"></lable>
			<lable>无效<input type="radio" name="is_effect" value="0" ></lable>
		</td>
	</tr>
	
	
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="XyPromoterOne" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="insert" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.ADD}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>

</div>
<include file="Public:footer_layui" />
<load href='__TMPL__Common/js/Xy/XyPromoter.js' />
<script>
    $(document).ready(function(){
        //var isSearch = false;
//			$("input[name='binding_mobile']").bind('blur', function() {
//				var binding_mobile= $("input[name='binding_mobile']").val();
//                if(binding_mobile ==''){
//                    //$(".err_span").html('');
//                    //$(this).parent(".item_input").append("<span class='tip_span err_span' style='color:#ff2200'>请输入手机号码</span>");
//					alert("请输入手机号码");
//                    $("input[name='binding_mobile']").val('');
//                    $("#binding_user_id").html("");
//                    return false;
//                }
//                var myreg = /^(1[0-9]{10})$/;
//                if(!myreg.test(binding_mobile))
//                {
//                    //$(".err_span").html('');
//                    //$(this).parent(".item_input").append("<span class='tip_span err_span' style='color:#ff2200'>请输入有效的手机号码</span>");
//                    alert("请输入有效的手机号码");
//                    $("input[name='binding_mobile']").val('');
//                    $("#binding_user_id").html("");
//                    return false;
//                }
//                isSearch = true;
//                $(".err_span").remove();
//                setTimeout(function(){
//                    $.ajax({
//                        url: ROOT+"?"+VAR_MODULE+"="+MODULE_NAME+"&"+VAR_ACTION+"=check_user&binding_mobile="+binding_mobile,
//                        data: "ajax=1",
//                        dataType: "json",
//                        success: function(obj){
//                            isSearch = false;
//                            if(obj.status=='1')
//                            {
//                                alert("有效会员");
//                                $("#binding_user_id").html("ID："+obj.user.id+", 呢称："+obj.user.nick_name);
//                            }
//                            else if(obj.status=='0')
//                            {
//                                alert(obj.info);
//                                $("input[name='binding_mobile']").val('');
//                                $("#binding_user_id").html("");
//
//                            }
//
//                        }
//                    });
//				},500);

//                $.ajax({
//                        url: ROOT+"?"+VAR_MODULE+"="+MODULE_NAME+"&"+VAR_ACTION+"=check_user&binding_mobile="+binding_mobile,
//                        data: "ajax=1",
//                        dataType: "json",
//                        success: function(obj){
//                            isSearch = false;
//                            if(obj.status=='1')
//                            {
//                                //alert("有效会员");
//                                $("#binding_user_id").html("ID："+obj.user.id+", 呢称："+obj.user.nick_name);
//                            }
//                            else if(obj.status=='0')
//                            {
//                                alert(obj.info);
//                                $("input[name='binding_mobile']").val('');
//                                $("#binding_user_id").html("");
//
//                            }
//
//                        }
//                    });
//
//           });
    });

</script>
<include file="Public:footer" />