<load href='__TMPL__Common/layui/layui/layui.js' />

<load href='__TMPL__Common/js/check_dog.js' />
<load href='__TMPL__Common/js/IA300ClientJavascript.js' />
<load href='__TMPL__Common/js/cropper/jquery.min.js' />
<load href='__TMPL__Common/js/jquery.timer.js' />

<load href='__TMPL__Common/style/weebox.css' />
<load href='__TMPL__Common/js/jquery.bgiframe.js' />
<load href='__TMPL__Common/js/jquery.weebox.js' />
<load href='__TMPL__Common/js/cropper/cropper.min.css' />
<load href='__TMPL__Common/js/cropper/main.css' />
<load href='__TMPL__Common/js/cropper/cropper.min.js' />

<load href='__TMPL__Common/js/script.js' />
<script type="text/javascript" src="__ROOT__/public/runtime/admin/lang.js"></script>
<script type='text/javascript'  src='__ROOT__/admin/public/kindeditor/kindeditor.js'></script>
<script type='text/javascript'  src='__ROOT__/admin/public/kindeditor/lang/zh_CN.js'></script>