{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />

<div class="main">
<div class="main_title">{$Think.lang.EDIT} <a href="{:u("PromoteMsgSms/sms_index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.SEND_TIME}:</td>
		<td class="item_input">
			<input type="text" class="textbox require" name="send_time" id="send_time" value="{:to_date($vo['send_time'])}" onfocus="this.blur(); return showCalendar('send_time', '%Y-%m-%d %H:%M:%S', false, false, 'btn_send_time');" />
			<input type="button" class="button" id="btn_send_time" value="{$Think.lang.SELECT_TIME}" onclick="return showCalendar('send_time', '%Y-%m-%d %H:%M:%S', false, false, 'btn_send_time');" />	
			<input type="button" class="button" value="{$Think.lang.CLEAR_TIME}" onclick="$('#send_time').val('');" />	
			{$Think.lang.RESEND}：<input type="checkbox" value="1" name="resend" />
		</td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.SMS_CONTENT}:</td>
		<td class="item_input">
			<textarea name="content" class="textarea require">{$vo.content}</textarea>
		</td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.SEND_TYPE}:</td>
		<td class="item_input">
			 <select name="send_type">
			 	<option value="0" <if condition="$vo['send_type'] eq 0">selected="selected"</if>>{$Think.lang.SEND_TYPE_0}</option>
				<option value="2" <if condition="$vo['send_type'] eq 2">selected="selected"</if>>{$Think.lang.SEND_TYPE_2}</option>
			 </select>
		</td>
	</tr>
	

	<tr id="send_define_data">
		<td class="item_title">{$Think.lang.SEND_DEFINE_DATA}:</td>
		<td class="item_input">
			<textarea class="textarea" name="send_define_data" >{$vo.send_define_data}</textarea>
			<span class="tip_span">{$Think.lang.SEND_DEFINE_DATA_TIP}</span>
		</td>
	</tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="type" value="0" />
			<input type="hidden" name="id" value="{$vo.id}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="PromoteMsgSms" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update_sms" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.EDIT}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer_layui" />
<script type="text/javascript" src="__TMPL__Common/js/calendar/calendar.php?lang=zh-cn" ></script>
<load href='__TMPL__Common/js/calendar/calendar.css' />
<load href='__TMPL__Common/js/calendar/calendar.js' />
<load href='__TMPL__Common/js/sms_index.js' />
<include file="Public:footer" />