{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
<div class="main_title">{$Think.lang.ADD} <a href="{:u("UserLevel/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
    <tr>
        <td class="item_title">等级:</td>
        <td class="item_input">{$new_level}<input type="hidden" class="textbox" name="level" value="{$new_level}"/></td>
    </tr>
	<tr>
		<td class="item_title">{$Think.lang.LEVEL_NAME}:</td>
		<td class="item_input"><input type="text" class="textbox require" name="name" /></td>
	</tr>
	
	<tr>
		<td class="item_title">所需积分值:</td>
		<td class="item_input">
            <input type="text" class="textbox require" name="score" value="" />
            <if condition="$new_level gt 1"><span class="tip_span">&nbsp;必须大于上一级所需积分值{$old_score}</span></if>
        </td>
	</tr>
	<if condition="(DISTRIBUTION_MODULE eq 1)">
	<tr>
		<td class="item_title">主播分佣比率:</td>
		<td class="item_input">
			<input type="text" class="textbox require" name="commission" value="" />
			<if condition="$vo['level'] gt 1"><span class="tip_span">&nbsp;主播等级分佣比率。单位：%。如：10=10%</span></if>
		</td>
	</tr>
	</if>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="UserLevel" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="insert" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.ADD}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer_layui" />
<include file="Public:footer" />