

/*字体颜色*/
@fontcolor:#333;/*主要字色*/
@fontcolortit:#333;/*标题*/
@fontcolorinfo:#999;/*二级标题、简介*/
@fontcolortheme:#865efb;/*主题字色*/
@fontcolorstress:#555;/*突出色*/
@green:#5aaf1b;

/*界面主题色*/
@themecolor:#865efb;/*主题风格色*/
@backgroundcolor:#fafbff;/*背景色*/
@bordercolor:#fafbff;/*线条颜色*/
@borderdeepcolor:#f1f1f1;/*线条颜色*/
@followthemebaground:#aaa;/*跟随主题色变化的背景色*/

/*字体大小 ，如果出现非单行情况可搭配行高，*/
@fontsize1:.85rem;/*头部标题*/
@linegight1:1rem;
@fontsize2:.85rem;/*辅助标题*/
@linegight2:1rem;
@fontsize3:.8rem;/*主要标题*/
@linegight3:.9rem;
@fontsize4:.68rem;/*主要简介、二级标题*/
@linegight4:.8rem;
@fontsize5:.58rem;/*主要简介、二级标题*/
@linegight5:1.2rem;


/*各类间距，高度*/
@lateralspacing:.75rem;/*横向间距*/
@longitudinalspacing:.5rem;/*纵向间距*/







