{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />

<div class="main">
<div class="main_title">{$vo.title}(ID：{$vo.id}){$Think.lang.EDIT} <a href="{:u("EduRed/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data" onsubmit="return check();">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">红包名称:</td>
		<td class="item_input"><input type="text" class="textbox require" name="title" value="{$vo.title}"  /></td>
	</tr>
	<tr>
		<td class="item_title">钻石数:</td>
		<td class="item_input"><input type="text" class="textbox require" name="diamonds" value="{$vo.diamonds}" />个/红包</td>
	</tr>
	<tr>
		<td class="item_title">过期时间:</td>
		<td class="item_input">
			<input type="text" class="textbox" name="end_time" id="end_time" value="{$vo.end_time}" onfocus="this.blur(); return showCalendar('end_time', '%Y-%m-%d %H:%M:%S', false, false, 'end_time');" />
			<span class="tip_span">不填永久有效</span>
		</td>
	</tr>
	

</table><tr>
	<td class="item_title"></td>
	<td class="item_input">
		<!--隐藏元素-->
		<input type="hidden" name="{:conf("VAR_MODULE")}" value="EduRed" />
		<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
		<input type="hidden" name="id" value="{$vo.id}" />
		<!--隐藏元素-->
		<input type="submit" class="button" value="{$Think.lang.EDIT}" />
		<input type="reset" class="button" value="{$Think.lang.RESET}" />
	</td>
</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</form>
   
</div>
<include file="Public:footer_layui" />
<script type="text/javascript" src="__TMPL__Common/js/calendar/calendar.php?lang=zh-cn" ></script>
<load href='__TMPL__Common/js/calendar/calendar.css' />
<load href='__TMPL__Common/js/calendar/calendar.js' />
<include file="Public:footer" />