{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<div class="main">
<div class="main_title">{$Think.lang.EDIT} <a href="{:u("Mission/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
    <tr>
        <td class="item_title">名称:</td>
        <td class="item_input"><input type="text" class="textbox require" name="name" value="{$vo.name}"/>
        </td>
    </tr>
	<tr>
        <td class="item_title">描述:</td>
        <td class="item_input"><input type="text" class="textbox" name="desc" value="{$vo.desc}"/>
        </td>
	</tr>
	<tr>
        <td class="item_title">奖励数:</td>
        <td class="item_input"><input type="number" class="textbox require" name="money" step="1" min="0" value="{$vo.money}"/>
        </td>
	</tr>
	<tr id="time" style="display: none;">
        <td class="item_title">间隔时间(s):</td>
        <td class="item_input"><input type="number" class="textbox require" name="time" step="1" min="0" value="{$vo.time}"/>
        </td>
	</tr>
	<tr id="target" style="display: none;">
        <td class="item_title">目标数:</td>
        <td class="item_input"><input type="number" class="textbox" name="target" step="1" min="1" value="{$vo.target}"/>
        </td>
	</tr>
	<tr>
        <td class="item_title">任务类型:</td>
        <td class="item_input">
        <select name="type" id="type">
	        <foreach name="title" item="value">
	            <option value="{$key}" <if condition="$key eq $vo['type']">selected="selected"</if>>{$value}</option>
	        </foreach>
        </select>
        </td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.IS_EFFECT}:</td>
		<td class="item_input">
			<lable>{$Think.lang.IS_EFFECT_1}<input type="radio" name="is_effect" value="1" checked="checked" /></lable>
			<lable>{$Think.lang.IS_EFFECT_0}<input type="radio" name="is_effect" value="0" /></lable>
		</td>
	</tr>
    <tr>
        <td class="item_title">{$Think.lang.SORT}:</td>
        <td class="item_input"><input type="text" class="textbox" name="sort" value="{$vo.sort}" /></td>
    </tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="Mission" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
			<input type="hidden" name="id" value="{$vo.id}" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.EDIT}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>

<include file="Public:footer_layui" />
<script type="text/javascript">
    function switchType() {
        var type = $('#type').val();
        console.log(type)
        if (type > 0) {
            $('#time').hide().find('input').removeClass('require').attr("disabled",true)
            $('#target').show().find('input').addClass('require').attr("disabled",false)
        } else {
            $('#time').show().find('input').addClass('require').attr("disabled",false)
            $('#target').hide().find('input').removeClass('require').attr("disabled",true)
        }
    }
    switchType();
    $('#type').on('change',switchType);
</script>
<include file="Public:footer" />