@CHARSET "UTF-8";
/* 首页样式*/
.blank0 {
	height: 0;
	clear: both;
	visibility: hidden;
}
.navs-more{
	clear: both;
	display:none;
}
.navs-front{
	float:left;
}
.navs-rear{
	float:left;
}
.navs-rear .layui-this{
	background-color: #5FB878;
	color: #fff;
}
.navs-rear .layui-this a{
	color: #fff;
}
