@CHARSET "UTF-8";
/* 公共样式 */

.button_smsVerify{
	height: 36px;
	width: 116px;
	line-height: 36px;
	text-align: center;
	display: inline-block;
	background-color: #fea63d;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;

	position: absolute;
	top: 1px;
	right: 1px;
	cursor: pointer;
}
.button_smsVerify.disabled{
	background-color: #b9b9b9;
	color: #999;
}