@CHARSET "UTF-8";
body{background:#fff; font-size:12px; font-family:"Microsoft Yahei";  margin:0px; padding:0px; color:#404040; }
div{margin:0 auto; padding:0;}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,p{margin:0; padding:0; border:none; list-style-type:none;}
a{ color:#4e6a81;}
a:hover{ color:#ff9600;}
table{
  border-collapse: collapse;
  border-spacing: 0;
}
input, select{ outline: medium none; }
#info{ position:fixed; right:2px; top:2px; border:#ccc 2px solid; padding:10px 5px; background:#fff; font-weight:bold; color:#f30; display:none;}

/* 系统主题色 开始 */

/* 系统主题色 结束 */

/*自动高对齐*/
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
*html .clearfix{ height:1%;}
*+html .clearfix{ height:1%;}

.blank5{ clear:both; height:5px; overflow:hidden; visibility:visible;}
.blank10{ clear:both; height:10px; overflow:hidden; visibility:visible;}

/* 公共样式 */
.button{
background:#009688;
border: 1px solid #009688;
color:#FFFFFF;
cursor:pointer;
padding:0 17px;
height:32px;
font-family:Microsoft Yahei;
vertical-align:top;
margin-left:5px;
}
.button:hover {
  opacity: .8;
  filter: alpha(opacity=80);
}
.button-del,.button-add{
  background:#f7f7f7;
  border-color:#ddd;
  color:#333;
}
.button-add{
  margin-right: 10px;
}
.tip_span{ color:#ff9600;;}
.currentbtn {
  border: 1px solid #0099cc;
  background:#0099cc;
  color: #fff;
}

select{ height:32px; line-height:32px;border:1px solid #ccc;padding:0 5px;}
.change_password{ width:450px;}
.textbox{height:18px; padding:6px 4px; color:#666;border:1px solid #ccc;box-shadow: -1px 1px 1px #e9e9e9 inset;}
.user_select{color: #666;background-color: #fafafa;float: left;margin-right: 10px;padding: 5px;}
.textarea{  font-size:12px; padding:4px; color:#666; width:300px; height:150px;}
.require{ border-left:#f30 solid 2px;}
.is_effect{ cursor:pointer;}

.page{text-align:right; padding:15px 0px;line-height: 32px;}
.page span{
  display:inline-block;
  vertical-align: top;
  /*background:#0099cc;*/
  background: rgb(0, 150, 136);
  padding:0 13px;
  border:1px solid #09c;
  text-align: center;
  color:#fff;
}
.page a{
  display:inline-block;
  vertical-align: top;
  background:#fff;
  border:1px solid #ddd;
  padding:0 13px;
  text-align: center;
  color:#333;
  text-decoration:none;
  margin-left:-1px;
}
.item_title{ text-align:right; width:150px; color:#000; background:#e2e8eb;}
.item_input{ text-align:left;}
.back_list{ font-size:12px; font-weight:normal; }
#set_sort{ border:#ccc solid 1px; font-size:12px; padding:4px; color:#666; width:20px;}

/* 提示消息 */
.message{ width:400px; padding-top:100px; }
.message table{ width:100%;}
.message td{ text-align:center; padding:5px 0px;}
.title_row{ font-size:14px; font-weight:bold; padding:10px 0px;;}
.message_row{ font-size:12px; color:#f30; font-weight:bold; padding:10px 0px; }

.main{ padding:10px; }
.main_title{font-family:"宋体";border:1px solid #c7ddb9;background:#f2ffea; color:#ff7200; padding:8px 15px; font-size:12px;}
.main_title a{ color:#333;}
.search_row{color:#333; padding:14px 0; font-size:12px; }
.search_row input{margin-right: 15px;}
.search_row>form{white-space:nowrap;}
.search_row>form>.button{margin-left:15px;margin-right:0;}
.search_row span{position: relative;display: inline-block;
vertical-align: top;
}
.search_row select{margin-right: 15px;}
.search_row span input{position: relative;z-index:10;margin: 0;}
.search_row span .button{position: absolute;z-index:9;top: 0; left:0;}
/* 数据表 */
.dataTable{ width:100%; border-right:#ddd solid 1px; border-top:#ddd solid 1px; border-left:#ddd solid 1px; background:#fff;}
.dataTable th , .dataTable td{padding-left:10px;}
.dataTable th{text-align:left; font-weight:normal; height:32px; background:#f5f6fa; line-height:30px; border-bottom:#ddd solid 1px;border-top:#ddd solid 1px;}
.dataTable th a{text-decoration:none;color:#999;}
.dataTable th a:hover{color:#06c;}
.dataTable td{ padding:8px 0 8px 10px;line-height:18px; border-bottom:#ddd solid 1px;word-break:break-word;word-wrap: break-word;}
.dataTable td.topTd, .dataTable td.bottomTd{display:none;background:url(../images/bgline.gif) repeat-x 0px 0px; padding:0px;  height:5px; font-size:0px; line-height:0px;}
.dataTable td .is_effect{ color:#009900;}
.dataTable td .is_advance{ color:#2a6496;}
.dataTable td .is_black{ color:#2a6496;}
.dataTable .row{ background:#ffffff}
.dataTable .row1{ background:#f9f9f9}
.dataTable .row_cur{ background:#f5f5f5}
.dataTable .row_chk{ background:#FDF3D2!important}

table.form{ width:100%; border-top:#ddd solid 1px; font-size:14px; border-left:#ddd solid 1px; background:#fff;}
table.form th{ height:32px;text-align:center; background:#f5f5f5; line-height:30px;  border-right:#ccc solid 1px; border-bottom:#ddd solid 1px;}
table.form td{ padding:5px;line-height:28px; border-right:#ddd solid 1px; border-bottom:#ddd solid 1px;word-break: break-all;}
table.form .topTd, table.form .bottomTd{ background:url(../images/bgline.gif) repeat-x; height:5px; font-size:0px; padding:0px;}

table.access_list td{ padding:8px; border:none; border-bottom:dotted 1px #ccc;}
table.access_list td label{ display:inline-block; padding:0px 10px;}
table.access_list td.access_left{ border-right:dotted 1px #ccc; text-align:right;}


table.form .ke-container { border:1px solid #ccc; padding:0px;}
table.form .ke-content { border:0px; padding:0px;}
table.form .ke-container td,.ke-container th{ padding:0px; border:0px; }
table.form .ke-bottom{ border:0px; padding:0px;}
table.form .ke-bottom td,table.form .ke-bottom th{ border:0px; padding:0px;}

.none_border table.ke-container { border:0px solid #ccc; padding:0px; background:#fff;}
.none_border table.ke-content { border:0px; padding:0px;}
.none_border table.ke-container td,.ke-container th{ padding:0px; border:0px; }
.none_border table.ke-bottom{ border:0px; padding:0px;}
.none_border table.ke-bottom td,table.form .ke-bottom th{ border:0px; padding:0px;}
.none_border table{ border:0px;}

#region_conf div{ padding:5px 0px;}
.cfg_title{ display:inline-block; float:left; width:130px;}
.cfg_content{ display:inline-block; float:left; }
.cfg_content .textbox{ width:300px;}
table.no_border td{ border:0px;}

#filter_row{ display:none; }

.topic_image{ width: 100px; height:100px; overflow:hidden; position:relative; float:left; border:#ccc solid 1px; display:inline-block; margin:5px;}
.topic_image img{ width:98px; height:98px;}
.topic_image span{ position:absolute; width:20px; height:20px; background:#f30; text-align:center; line-height:20px; border:#fff solid 1px; color:#fff; left:2px; top:2px; cursor:pointer;}

.viewOpBox_demo{display:none;}
.dataTable td.op_action{
  text-align:left;

}
.dataTable td.op_action .opration span{
  display:inline-block;
  margin-right:3px;
  color:#2a6496;
}
/*.dataTable td.op_action .opration:hover span ,
.dataTable td.op_action .opration.cur span{
  color:#009900;
}*/
.dataTable td.op_action .opration i{
  width:10px;
  height:10px;
  background:url(../images/vh_opration.gif) no-repeat;
  display:inline-block;
}
/*.dataTable td.op_action .opration:hover i ,
.dataTable td.op_action .opration.cur i{
  background:url(../images/vh_opration_hover.gif) no-repeat;
}*/
.dataTable td.op_action .opration.cur i{
  background-position:0 -56px;
}
.dataTable .viewOpBox_m td{
  text-align:right;
  background:#2a6496;
  color:#fff;
}
.dataTable .viewOpBox_m td a{
  color:#fff;
}
.main_title_list{
  line-height: 33px;
  position: relative;
  padding-left:10px;
  padding-bottom:10px;
  border-bottom:1px solid #ddd;
  font-size:14px;
}
.main_title_list .list-line-ico{
  width:2px;
  height:15px;
  background:#88b7e0;
  position: absolute;
  top: 9px;
  left: 0;
}

/* 操作面板 */
.opration{position:relative;}
.operat_panel{
  border:1px solid #ccc;
  background:#fff;
  box-shadow:3px 3px 3px #e7e6e6;
}
.operat_panel a{
  display:block;
  height:30px;
  line-height:30px;
  text-align:left;
  color:#333;
  text-decoration:none;
  width: auto;
  min-width: 72px;
  white-space:nowrap;
  padding:0 15px;
}
.operat_panel a.hover{
  background:#f5f5f5;
}