{// 引入标签库 }
<tagLib name="html" />
<PHP>
    function get_sex($sex){
        if($sex==1){
            return '男';
        }elseif($sex==2){
            return '女';
        }else{
            return '未知';
        }
    }
</PHP>

<include file="Public:header" />

<load href='__TMPL__Common/style/weebox.css' />

<div class="main">
    <div class="main_title">{$user.nick_name} 粉丝列表</div>
    <div class="blank5"></div>
    <div class="button_row">
        <input type="button" class="button" value="新增" onclick="add_fans('{$user.id}');" />
        <input type="button" class="button" value="删除" onclick="del_fans_list(0,'{$user.id}');" />
    </div>
    <div class="blank5"></div>
   <table id="dataTable" class="dataTable" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td colspan="7" class="topTd">
            </td>
        </tr>
        <tr class="row">
            <th width="8">
                <input type="checkbox" id="check" onclick="CheckAll('dataTable')">
            </th>
            <th>用户ID</th>
            <th>用户昵称 </th>
            <th>用户头像 </th>
            <th>性别</th>
            <th>操作</th>
        </tr>
		<foreach name="list" item="list_item">		
			<tr class="row">
				<td><input type="checkbox" name="key" class="key" value="{$list_item.user_id}"></td>
				<td>{$list_item.user_id}</td>
				<td>{$list_item.nick_name}</td>
				<td><img src="{$list_item.head_image}" style="height:35px;width:35px;"></td>
				<td>{$list_item.sex|get_sex}</td>
                <td><a href="javascript: del_fans_list('{$list_item.user_id}','{$user.id}')">删除</a></td>
			</tr>
		</foreach>        
    </tbody>
</table>

    <div class="blank5"></div>
    <div class="page">{$page}</div>
</div>
<include file="Public:footer_layui" />
<load href='__TMPL__Common/js/jquery.bgiframe.js' />
<load href='__TMPL__Common/js/jquery.weebox.js' />
<load href='__TMPL__Common/js/user.js' />
<script>
    function add_fans(user_id){
        location.href = ROOT+"?"+VAR_MODULE+"="+MODULE_NAME+"&"+VAR_ACTION+"=add_fans&user_id="+user_id;
    }
</script>
<include file="Public:footer" />