{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />

<div class="main">
<div class="main_title_list"><div class="list-line-ico"></div>{$main_title}</div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=7 class="topTd"></td>
	</tr>

	<foreach name="config_list" item="item">
		<tr>
			<td class="item_title" style="text-align: left;">{$item.title}:</td>
			<input type="hidden" name="title[]" value="{$item.title}" />
			<td class="item_input">
				启用
				<select name="is_effect[]">
					<option value="1" <if condition="$item['is_effect'] eq 1">selected="selected"</if>>是</option>
					<option value="0" <if condition="$item['is_effect'] eq 0">selected="selected"</if>>否</option>
				</select>
			</td>
			<if condition="($item['type'] neq 5 )  ">
				<td class="item_input">&nbsp;人权重&nbsp;<input  type="text" onkeyup="if(value.length>=1){value=value.replace(/[^(\-?)\d+]/ig,'')}else{value=value.substring(0,1)+value.substring(1,value.length).replace(/[^\d+]/ig,'');}" class="textbox" name="user_weight[]" value="{$item.user_weight}" /></td>
			<else/>
				<input type="hidden"  name="user_weight[]" value="{$item.user_weight}" />
			</if>
			<if condition="($item['type'] neq 3 ) and  ($item['type'] neq 7 ) and  ($item['type'] neq 9 ) and  ($item['type'] neq 14 ) ">
				<td class="item_input">&nbsp;分类权重&nbsp;<input type="text" onkeyup="if(value.length>=1){value=value.replace(/[^(\-?)\d+]/ig,'')}else{value=value.substring(0,1)+value.substring(1,value.length).replace(/[^\d+]/ig,'');}" class="textbox" name="classify_weight[]" value="{$item.classify_weight}" /></td>
				<td class="item_input">&nbsp;标签权重&nbsp;<input type="text" onkeyup="if(value.length>=1){value=value.replace(/[^(\-?)\d+]/ig,'')}else{value=value.substring(0,1)+value.substring(1,value.length).replace(/[^\d+]/ig,'');}" class="textbox" name="tag_weight[]" value="{$item.tag_weight}" /></td>
				<td class="item_input">&nbsp;歌曲权重&nbsp;<input type="text" onkeyup="if(value.length>=1){value=value.replace(/[^(\-?)\d+]/ig,'')}else{value=value.substring(0,1)+value.substring(1,value.length).replace(/[^\d+]/ig,'');}" class="textbox" name="music_weight[]" value="{$item.music_weight}" /></td>
				<td class="item_input">&nbsp;地点权重（省市）&nbsp;<input type="text" onkeyup="if(value.length>=1){value=value.replace(/[^(\-?)\d+]/ig,'')}else{value=value.substring(0,1)+value.substring(1,value.length).replace(/[^\d+]/ig,'');}" class="textbox" name="address_weight[]" value="{$item.address_weight}" /></td>
			<else/>
				<input type="hidden" name="classify_weight[]" value="{$item.classify_weight}" />
				<input type="hidden" name="tag_weight[]" value="{$item.tag_weight}" />
				<input type="hidden" name="music_weight[]" value="{$item.music_weight}" />
				<input type="hidden" name="address_weight[]" value="{$item.address_weight}" />
			</if>
			<input type="hidden" name="type[]" value="{$item.type}" />
		</tr>
	</foreach>
	<tr>
		<td class="item_title"></td>
		<td colspan=7 class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$vo.id}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="WeiboWeightConfig" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.EDIT}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=7 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer_layui" />
<script type="text/javascript">
</script>
<include file="Public:footer" />