{// 引入标签库 }
<tagLib name="html" />
<PHP>
    function to_money($money){
        return format_price($money);
    }
	function get_refund_user_name($uid)
	{
		return emoji_decode(M("User")->where("id=".$uid)->getField("nick_name"));
	}

</PHP>
<div class="main">
<div class="main_title">{$refund_data.user_id|get_refund_user_name}申请提现{$refund_data.money|to_money}</div>
<div class="blank5"></div>
	<form name="edit" action="__APP__" method="post" enctype="multipart/form-data" onsubmit="return confirm('确认提现吗？');">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
<if condition="$refund_data.withdrawals_type eq 1">
	<tr>
		<td class="item_title">用户ID</td>
		<td class="item_input" disabled="true">{$refund_data.user_id}</td>
	</tr>
	<tr>
		<td class="item_title">用户支付宝姓名</td>
		<td class="item_input" disabled="true">{$alipay_info[0].alipay_name}</td>
	</tr>
	<tr>
		<td class="item_title">用户支付宝账户</td>
		<td class="item_input" disabled="true">{$alipay_info[0].alipay_account}</td>
	</tr>
	<tr>
		<td class="item_title">支付结果</td>
		<td class="item_input" disabled="true">
			<select name="status">
				<option value="1">成功</option>
				<option value="0">失败</option>
			</select>
		</td>
	</tr>
</if>
	<tr>
		<td class="item_title">付款备注:</td>
		<td class="item_input"><input type="text" class="textbox" name="pay_log" style="width:400px;" />
		</td>
	</tr>
	<tr>
		<td class="item_title">&nbsp;</td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$refund_data.id}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="UserConfirmRefund" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="confirm" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="确认" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
