{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />

<div class="main">
<div class="main_title">{$Think.lang.ADD} <a href="{:u("ArticleCate/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.TITLE_SHOW}:</td>
		<td class="item_input"><input type="text" class="textbox require" name="title" /></td>
	</tr>
	<!--<tr>
		<td class="item_title">{$Think.lang.CATE_TREE}:</td>
		<td class="item_input">
		<select name="pid">
			<option value="0">=={$Think.lang.TOP_CATE}==</option>
			<foreach name="cate_tree" item="cate_item">
				<option value="{$cate_item.id}">{$cate_item.title_show}</option>
			</foreach>
		</select>
		</td>
	</tr>-->
	<tr id="article_type">
		<td class="item_title">{$Think.lang.ARTICLE_TYPE}:</td>
		<td class="item_input">
		<select name="type_id">
			<option value="0">{$Think.lang.ARTICLE_TYPE_0}</option>
			<!--<option value="1">{$Think.lang.ARTICLE_TYPE_1}</option>-->
			<option value="2">{$Think.lang.ARTICLE_TYPE_2}</option>
			<option value="4">{$Think.lang.ARTICLE_TYPE_4}</option>
		</select>
		</td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.SORT}:</td>
		<td class="item_input"><input type="text" class="textbox" name="sort" value="{$new_sort}" /></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.IS_EFFECT}:</td>
		<td class="item_input">
			<lable>{$Think.lang.IS_EFFECT_1}<input type="radio" name="is_effect" value="1" checked="checked" /></lable>
			<lable>{$Think.lang.IS_EFFECT_0}<input type="radio" name="is_effect" value="0" /></lable>
		</td>
	</tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="ArticleCate" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="insert" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.ADD}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer_layui" />
<script type="text/javascript">
    /*window.onload = function()
	{
		$("select[name='pid']").bind("change",function(){
			init_article();
		});
		init_article();
	}
	function init_article()
	{
		var pid = $("select[name='pid']").val();
		if(pid == 0)
		{
			$("#article_type").show();
		}
		else
		{
			$("#article_type").hide();
		}
	}*/
</script>
<include file="Public:footer" />