{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />

<div class="main">
<div class="main_title">{$vo.title}{$Think.lang.EDIT} <a href="{:u("ArticleCate/index")}" class="back_list">{$Think.lang.BACK_LIST}</a></div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.TITLE_SHOW}:</td>
        <if condition="$vo['title']=='隐私政策' || $vo['title']=='主播协议'">
            <td class="item_input"><input type="hidden" class="textbox require" name="title" value="{$vo.title}" />{$vo.title}</td>
        <else/>
            <td class="item_input"><input type="text" class="textbox require" name="title" value="{$vo.title}" /></td>
        </if>
	</tr>
	<!--<tr>
		<td class="item_title">{$Think.lang.CATE_TREE}:</td>
		<td class="item_input">
		<select name="pid">
			<option value="0" <if condition="$vo['pid'] eq 0">selected="selected"</if>>=={$Think.lang.TOP_CATE}==</option>
			<foreach name="cate_tree" item="cate_item">
				<option value="{$cate_item.id}" <if condition="$vo['pid'] eq $cate_item['id']">selected="selected"</if>>{$cate_item.title_show}</option>
			</foreach>
		</select>
		</td>
	</tr>-->
	<tr id="article_type">
		<td class="item_title">{$Think.lang.ARTICLE_TYPE}:</td>
		<td class="item_input">
		<select name="type_id">
			<option value="0" <if condition="$vo['type_id'] eq 0">selected="selected"</if>>{$Think.lang.ARTICLE_TYPE_0}</option>
			<option value="2" <if condition="$vo['type_id'] eq 2">selected="selected"</if>>{$Think.lang.ARTICLE_TYPE_2}</option>
			<option value="4"  <if condition="$vo['type_id'] eq 4">selected="selected"</if>>{$Think.lang.ARTICLE_TYPE_4}</option>
		</select>
		</td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.SORT}:</td>
		<td class="item_input"><input type="text" class="textbox" name="sort" value="{$vo.sort}" /></td>
	</tr>
	<tr>
		<td class="item_title">{$Think.lang.IS_EFFECT}:</td>
		<td class="item_input">
			<lable>{$Think.lang.IS_EFFECT_1}<input type="radio" name="is_effect" value="1" <if condition="$vo['is_effect'] eq 1">checked="checked"</if> /></lable>
			<lable>{$Think.lang.IS_EFFECT_0}<input type="radio" name="is_effect" value="0" <if condition="$vo['is_effect'] eq 0">checked="checked"</if> /></lable>
		</td>
	</tr>
	<tr>
		<td class="item_title"></td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$vo.id}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="ArticleCate" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="update" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.EDIT}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<include file="Public:footer_layui" />
<script type="text/javascript">
    /*window.onload = function()
    {
        $("select[name='pid']").bind("change",function(){
            init_article();
        });
        init_article();
    }
    function init_article()
    {
        var pid = $("select[name='pid']").val();
        if(pid == 0)
        {
            $("#article_type").show();
        }
        else
        {
            $("#article_type").hide();
        }
    }*/
</script>
<include file="Public:footer" />