{// 引入标签库 }
<tagLib name="html" />
<script type="text/javascript">

	function check_incharge_form()
	{
        if($("input[name='is_live_pay']:checked").val()==1){
            var live_fee = $.trim($("input[name='live_fee']").val());
            if(live_fee==''){
                alert("请输入观看费用");
                return false;
            }
            var ret = /^[0-9]*[1-9][0-9]*$/;
            if(!ret.test(live_fee)){
                alert("观看费用必须为大于0的整数");
                return false;
            }
        }
		return true;
	}
</script>
<div class="main">
<div class="main_title">房间ID:{$video.id}</div>
<div class="blank5"></div>
<form name="edit" action="__APP__" method="post" enctype="multipart/form-data" onsubmit="return check_incharge_form();">
<table class="form" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
    <tr>
        <td class="item_title">是否付费:</td>
        <td class="item_input">
            <label>否<input type="radio" name="is_live_pay" value="0" <if condition="$video['is_live_pay'] eq 0">checked="checked"</if> /></label>
            <label>是<input type="radio" name="is_live_pay" value="1" <if condition="$video['is_live_pay'] eq 1">checked="checked"</if>/></label>
        </td>
    </tr>
    <tr>
        <td class="item_title">观看费用:</td>
        <td class="item_input">
            <input type="text" class="textbox" name="live_fee" value="{$video.live_fee}"/>
        </td>
    </tr>
	<tr>
		<td class="item_title">&nbsp;</td>
		<td class="item_input">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$video.id}" />
			<input type="hidden" name="{:conf("VAR_MODULE")}" value="Video" />
			<input type="hidden" name="{:conf("VAR_ACTION")}" value="modify_live_pay" />
			<!--隐藏元素-->
			<input type="submit" class="button" value="{$Think.lang.OK}" />
			<input type="reset" class="button" value="{$Think.lang.RESET}" />
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>
</form>
</div>
